<% if can?(:manage, Alert) and (controller.action_name == "edit" or (controller.action_name == "update" and !@filter.errors.empty?)) %>
  <%= simple_form_for([:admin, @filter.becomes(Filter)], :url => admin_filter_path(@filter), :html => { :class => 'form-horizontal', :remote => true }) do |f| %>
  <% f.object = @filter.becomes(@filter.class) %>
    <fieldset>
      <legend>Edit Filter <strong><%= @filter.name %></strong></legend>

      <% if not @filter.get_config_fields.empty? %>
        <% @filter.get_config_fields.each do |field| %>
          <% if field[:field_name] == "source_ids" %>
            <%= f.input :source_ids, :as => :check_boxes,
                                      collection: Source.active.where("name != 'relativemetric'"),
                                      label_method: :display_name,
                                      value_method: :id,
                                      label: "Sources",
                                      :selected => @filter.source_ids %>
          <% elsif field[:field_type] == "check_box" %>
            <%= f.input field[:field_name], :label => field[:field_name].gsub(/_/, " ").capitalize %>
          <% elsif field[:field_type] == "text_field" %>
            <%= f.input field[:field_name], :as => :numeric,
                                            :input_html => { :class => "form-control input-mini" },
                                            hint: h(field[:field_hint]) %>
          <% elsif field[:field_type] == "text_area" %>
            <%= f.input field[:field_name], :input_html => { :rows => (field[:size] ? field[:size] : 2), :class => "form-control col-md-9" } %>
          <% elsif field[:field_type] == "password_field" %>
            <%= f.input field[:field_name], :as => :string, :input_html => { :class => "form-control col-md-3" } %>
          <% end %>
        <% end %>
      <% end %>

      <div class="form-actions">
        <%= f.submit "Save ", class: "btn btn-primary btn-sm" %>
        <%= link_to 'Cancel', admin_filters_path, { :remote => true, :class => 'btn btn-default btn-sm' } %>
      </div>
    </fieldset>
  <% end %>
<% else %>
  <% if @filters.size > 0 %>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th class="status">Status</th>
          <% if can?(:manage, Alert) %>
            <th>Actions</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @filters.each do |filter| %>
          <tr>
            <td><%= h(filter.name) %></td>
            <td><%= h(filter.description) %></td>
            <% if can? :manage, Alert %>
              <td>
                <% if filter.active %>
                  <%= link_to 'Active'.html_safe, admin_filter_path(filter, active: 0), :method => :put, :remote => true, :class => 'btn btn-default btn-sm', :id => "#{filter.name}-status" %>
                <% else %>
                  <%= link_to 'Inactive'.html_safe, admin_filter_path(filter, active: 1), :method => :put, :remote => true, :class => 'btn btn-default btn-info btn-sm', :id => "#{filter.name}-status" %>
                <% end %>
              </td>
            <% else %>
              <td><%= state_label(filter.status).html_safe %></td>
            <% end %>
            <% if can? :manage, Alert %>
              <td>
                <% if filter.get_config_fields.empty? %>
                  <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, "#", { :class => 'btn btn-default btn-sm disabled', :id => "#{filter.name}-edit" } %>
                <% else %>
                  <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_admin_filter_path(filter), { :remote => true, :class => 'btn btn-default btn-sm', :id => "#{filter.name}-edit" } %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-info">There are currently no filters</div>
  <% end %>
<% end %>
