<%
  source ||= form
  options = source.new_record? ? { 
    :url => sources_path,
  } : {
    :url => source_path(source),
    :html => { :method => :put }
  }
%>
<% form_for :source, source, options do |f| %>
  <%= f.error_messages %>
  <input type="hidden" name="source[class]" value="<%= source.class.name %>"/>

  <p>
    <%= f.label :label %><br />
    <%= f.text_field :name, :size => 50 %>
  </p>
  <p>
    <%= f.check_box :active %>
    <%= f.label :active %>
  </p>

  <% if source.uses_url %>
    <p>
      <%= f.label :url, "URL" %><br />
      <%= f.text_field :url, :size => 90 %>
    </p>
  <% end %>
  
  <% if source.uses_search_url %>
    <p>
      <%= f.label :searchURL, "Search URL" %><br />
      <%= f.text_field :searchURL, :size => 90 %>
    </p>
  <% end %>

  <% if source.uses_username %>
    <p>
      <%= f.label :username %><br />
      <%= f.text_field :username %>
    </p>
  <% end %>

  <% if source.uses_password %>
    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </p>
  <% end %>

  <% if source.uses_salt %>
    <p>
      <%= f.label "Public URL salt" %><br />
      <%= f.password_field :salt %>
    </p>
  <% end %>

  <% if source.uses_live_mode %>
    <p>
      <%= f.check_box :live_mode %>
      <%= f.label :live_mode %>
    </p>
  <% end %>

  <p>
    <%= f.label :staleness_days, "Staleness between updates (days)" %><br />
    <%= f.text_field :staleness_days, :size => 5 %>
  </p>
  <p>
    <%= f.submit(source.new_record? ? "Create" : "Update") %>
  </p>
<% end %>
