<% if @groups.size > 0 %>
  <% @groups.with_sources.each do |group| %>
    <div class="panel panel-default">
      <div class="panel-heading"><%= group.display_name %></div>
      <table class="table" id="<%= group.display_name %>Table">
        <thead>
          <tr>
            <th class="name">Source</th>
            <th>Status</th>
            <th class="description">Description</th>
            <% if can?(:manage, Alert) %>
              <th class="status">Actions</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% group.sources.each do |source| %>
            <tr>
              <td><%= link_to_if source.installed?, source.display_name, source_path(source) %></td>
              <td><%= state_label(source.human_state_name).html_safe %></td>
              <td><%= h(source.description) %></td>
              <% if can?(:manage, Alert) %>
                <td>
                  <% if source.human_state_name == "available" %>
                    <%= link_to 'Install', source_path(source, state_event: "install"), :method => :put, :data => { :confirm => 'Are you sure?' }, :remote => true, :class => 'btn btn-default btn-sm', :id => "#{source.name}-status", :title => "Install Source" %>
                  <% elsif source.human_state_name == "retired" %>
                  <% elsif source.human_state_name == "inactive" %>
                    <%= link_to 'Activate', source_path(source, state_event: "activate"), :method => :put, :remote => true, :class => 'btn btn-success btn-sm', :id => "#{source.name}-status", :title => "Activate Source" %>
                  <% else %>
                    <%= link_to 'Inactivate', source_path(source, state_event: "inactivate"), :method => :put, :remote => true, :class => 'btn btn-info btn-sm', :id => "#{source.name}-status", :title => "Inactivate Source" %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-info">There are currently no groups</div>
<% end %>
