<% if @groups.size > 0 %>
  <% @groups.with_sources.each do |group| %>
    <div class="panel panel-default">
      <div class="panel-heading"><%= group.title %></div>
      <table class="table" id="<%= group.title %>Table">
        <thead>
          <tr>
            <th class="name">Source</th>
            <th>Status</th>
            <th class="description">Description</th>
            <% if can?(:manage, Notification) %>
              <th class="status">Actions</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% group.sources.each do |source| %>
            <tr>
              <td><%= link_to_if source.active, source.title, source_path(source) %></td>
              <td><%= state_label(source.human_state_name).html_safe %></td>
              <td><%= h(source.description) %></td>
              <% if can?(:manage, Notification) %>
                <td>
                  <% if source.human_state_name != "active" %>
                    <%= link_to 'Activate', source_path(source, active: '1'), :method => :put, :data => { :confirm => 'Are you sure?' }, :remote => true, :class => 'btn btn-default btn-sm', :id => "#{source.name}-status", :title => "Activate Source" %>
                  <% else %>
                    <%= link_to 'Inactivate', source_path(source, active: '0'), :method => :put, :remote => true, :class => 'btn btn-info btn-sm', :id => "#{source.name}-status", :title => "Inactivate Source" %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-info">There are currently no groups</div>
<% end %>
