<% unless Source.visible.empty? %>
  <% @groups.visible.each do |group| %>
    <div class="panel panel-default">
      <div class="panel-heading"><%= group.display_name %></div>
      <table class="table" id="<%= group.display_name %>Table">
        <thead>
          <tr>
            <th class="name">Source</th>
            <th>Status</th>
            <th class="number">Responses&nbsp;(24&nbsp;hours)</th>
            <th class="number">Average&nbsp;(ms)</th>
            <th class="number">Errors (24&nbsp;hours)</th>
          </tr>
        </thead>
        <tbody>
          <% group.sources.visible.each do |source| %>
            <tr>
              <td><%= link_to source.display_name, source_path(source) %></td>
              <td><%= state_label(source.human_state_name).html_safe %></td>
              <td class="number" id="response_count_<%= source.name %>"><%= number_hiding_zero(source.response_count) %></td>
              <td class="number" id="average_count_<%= source.name %>"><%= number_hiding_zero(source.average_count) %></td>
              <td class="number" id="error_count_<%= source.name %>"><%= source.error_count > 0 ? link_to(number_hiding_zero(source.error_count), alerts_path(source_id: source.name)) : "" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-info">No active sources found</div>
<% end %>
