<div class="row work-page">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4 class="work"><%= @source.title %></h4>
        <div class="description"><%= h(@source.description) %></div>
      </div>
      <div class="panel-footer">
        <%= l @source.cached_at, format: :medium %> <%= state_label(@source.human_state_name).html_safe %>
        <span class="pull-right"><%= h(@source.group.title) %></span>
      </div>
    </div>
  </div>
</div>

<% if ["relations", "results", "contributions"].include?(@source.group.name) %>
  <ul class="nav nav-pills">
    <li class="active"><a href="#summary" data-toggle="tab" title="Summary">Summary</a></li>
    <li><a href="#works" data-toggle="tab">Works</a></li>
    <li><a href="#results" data-toggle="tab">Results</a></li>
    <li><a href="#documentation" data-toggle="tab" title="Documentation">Documentation</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="summary">
      <div id="summary-show">
        <%= render :partial => 'summary_show', :locals => { :name => @source.name } %>
      </div>
    </div>
    <div class="tab-pane" id="works">
      <%= render :partial => 'works' %>
    </div>
    <div class="tab-pane" id="results">
      <%= render :partial => 'results_show' %>
    </div>
    <div class="tab-pane" id="documentation">
      <%= render :partial => 'docs/show' %>
    </div>
  </div>

  <%= javascript_include_tag 'sources/show' %>
<% end %>
