<div class="panel panel-default">
  <div class="panel-heading panel-title">
    <%= @source.title %> <small class="pull-right" id="timestamp"><%= date_from_iso8601(@source.timestamp) + ' UTC' %> <%= state_label(@source.human_state_name).html_safe %></small>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <% unless @source.group.blank? %>
        <dt>Group</dt>
        <dd><%= h(@source.group.title) %></dd>
      <% end %>
      <% unless @source.description.blank? %>
        <dt>Description</dt>
        <dd><%= h(@source.description) %></dd>
      <% end %>
    </dl>
  </div>
</div>
