<% unless Source.visible.empty? %>
  <% @groups.visible.each do |group| %>
    <div class="panel panel-default">
      <div class="panel-heading"><%= group.display_name %></div>
      <table class="table" id="<%= group.display_name %>Table">
        <thead>
          <tr>
            <th class="name">Source</th>
            <th>Status</th>
            <th class="description">Description</th>
            <% if can?(:read, Alert) %>
              <th class="number">Queued&nbsp;Works</th>
              <th class="number">Stale&nbsp;Works</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% group.sources.visible.each do |source| %>
            <tr>
              <td><%= link_to source.display_name, source_path(source) %></td>
              <td><%= state_label(source.human_state_name).html_safe %></td>
              <td><%= h(source.description) %></td>
              <% if can?(:read, Alert) %>
                <td class="number" id="queued_count_<%= source.name %>"><%= number_hiding_zero(source.queued_count) %></td>
                <td class="number" id="stale_count_<%= source.name %>"><%= number_hiding_zero(source.stale_count) %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-info">No active sources found</div>
<% end %>
