<% unless Source.active.empty? %>
  <% @groups.active.each do |group| %>
    <div class="panel panel-default">
      <div class="panel-heading"><%= group.title %></div>
      <table class="table" id="<%= group.title %>Table">
        <thead>
          <tr>
            <th class="name">Source</th>
            <th>Status</th>
            <th class="description">Description</th>
          </tr>
        </thead>
        <tbody>
          <% group.sources.active.each do |source| %>
            <tr>
              <td><%= link_to source.title, source_path(source) %></td>
              <td><%= source.state %></td>
              <td><%= h(source.description) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-info">No active sources found</div>
<% end %>
