<%#
  # $HeadURL: http://ambraproject.org/svn/plos/alm/head/app/views/sources/index.html.erb $
  # $Id: index.html.erb 5693 2010-12-03 19:09:53Z josowski $
  #
  # Copyright (c) 2009-2010 by Public Library of Science, a non-profit corporation
  # http://www.plos.org/
  #
  # Licensed under the Apache License, Version 2.0 (the "License");
  # you may not use this file except in compliance with the License.
  # You may obtain a copy of the License at
  #
  #     http://www.apache.org/licenses/LICENSE-2.0
  #
  # Unless required by applicable law or agreed to in writing, software
  # distributed under the License is distributed on an "AS IS" BASIS,
  # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  # See the License for the specific language governing permissions and
  # limitations under the License.
-%>
<div class="border">
<div class="page">
<h1>Sources</h1>

<ul>
<% for source in @sources %>
  <li>
    <% unless source.is_a? String %>
      <%# Link to an existing source -%>
      <h3><%= link_to h(source.name), source_path(source) %></h3>
      <div><%= source.active ? "<b>Active</b>" : "<b>Inactive</b>" %>; <% if source.group %> Group: <%=source.group.name %>, <% end %>
           update every <%= SecondsToDuration::convert(source.staleness).inspect %></div>
    <% else %>
      <%# Link to create a new source for an unconfigured one -%>
      <h3><%= link_to h(source), new_source_path(:class => source) %></h3>
      <div>Unconfigured - click to configure.</div>
    <% end %>
  </li>
<% end %>
</ul>
</div>
</div>

