<div class="content">
  <div class="page-header" id="page-header">
    <h1 id="api_key" data-api_key="<%= current_user && current_user.api_key %>">Sources</h1>
  </div>

  <ul class="nav nav-pills" id="nav_index">
    <li class="active"><a href="#summary" data-toggle="tab" title="Summary">Summary</a></li>
    <% if can?(:read, Alert) %>
      <li><a href="#responses" data-toggle="tab" title="Responses">Responses</a></li>
    <% end %>
    <li><a href="#events" data-toggle="tab" title="Events">Events</a></li>
    <% if can?(:read, Alert) %>
      <li><a href="#installation" data-toggle="tab" title="Installation">Installation</a></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="summary">
      <%= render :partial => 'summary' %>
    </div>
    <% if can?(:read, Alert) %>
      <div class="tab-pane" id="responses">
        <%= render :partial => 'responses' %>
      </div>
    <% end %>
    <div class="tab-pane" id="events">
      <%= render :partial => 'events' %>
    </div>
    <% if can?(:read, Alert) %>
      <div class="tab-pane" id="installation">
        <%= render :partial => 'installation' %>
      </div>
    <% end %>
  </div>
</div>
