<div class="content">
  <div class="page-header" id="page-header">
    <%= render :partial => 'page-header' %>
  </div>

  <dl class="dl-horizontal" id="dl-horizontal">
    <%= render :partial => 'dl-horizontal' %>
  </dl>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#summary" data-toggle="tab" title="Summary">Summary</a></li>
    <li><a href="#most-cited" data-toggle="tab">Most-Cited</a></li>
    <% if can?(:manage, @source) && @source.state > 0 %>
      <li><a href="#configuration" data-toggle="tab" title="Configuration">Configuration</a></li>
    <% end %>
    <% if @publisher_option && can?(:update, @source) && @source.state > 0 %>
      <li><a href="#publisher_options" data-toggle="tab" title="Publisher Configuration">Publisher Configuration</a></li>
    <% end %>
    <li><a href="#documentation" data-toggle="tab" title="Documentation">Documentation</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="summary">
      <div id="source-show">
        <%= render :partial => 'show', :locals => { :name => @source.name } %>
      </div>
      <% if can?(:read, Alert) && Article.first %>
        <div class="row">
          <div class="col-md-4" id="chart_status"></div>
          <div class="col-md-4" id="chart_day"></div>
          <div class="col-md-4" id="chart_month"></div>
        </div>
      <% end %>
    </div>
    <div class="tab-pane" id="most-cited">
      <%= render :partial => 'most-cited' %>
    </div>
    <% if can?(:manage, @source) && @source.state > 0 %>
      <div class="tab-pane" id="configuration">
        <%= render :partial => 'configuration' %>
      </div>
    <% end %>
     <% if @publisher_option && can?(:update, @source) && @source.state > 0 %>
      <div class="tab-pane" id="publisher_options">
        <%= render :partial => 'publisher_options/configuration' %>
      </div>
    <% end %>
    <div class="tab-pane" id="documentation">
      <%= render :partial => 'docs/show' %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'sources/show' %>
