<div class="border">
  <div class="page">
    <h1>Details for <%=h @source.display_name %> (<%= @source.active ? "active" : "inactive" %>)</h1>

    <p>
      <b>Name:</b>
      <%=h @source.display_name  %>
    </p>

    <p>
      <b>Timeout:</b>
      <%=h @source.timeout %> seconds
    </p>

    <p>
      <b>Disabled Until:</b>
      <% if @source.disable_until %>
          <%= h @source.disable_until %>
      <% else %>
          (not disabled)
      <% end %>
    </p>

    <p>
      <b>Disabled Delay:</b>
      <%= h @source.disable_delay %> seconds
    </p>

    <p>
      <b>Workers (workers for the job queue):</b>
      <%= h @source.workers %>
    </p>

    <p>
      <b>Private Source</b>: <%= @source.private ? "Private" : "Public" %>
    </p>

    <p>
      <b>User can Refresh the data?</b>: <%= @source.refreshable ? "Yes" : "No" %>
    </p>

    <p>
      <b>Wait time </b>: <%= @source.wait_time %> seconds
      <br>
      (time interval to wait before checking to see if more jobs can be added to the job queue)
    </p>

    <p>
      <b>Maximum number of failed queries allowed before being disabled:</b>
      <%=h @source.max_failed_queries %>
    </p>

    <p>
      <b>Maximum number of failed queries allowed in a time interval:</b>
      <%=h @source.max_failed_query_time_interval %> seconds
    </p>

    <% if @source.group %>
        <p>
          <b>Group:</b>
          <%= h @source.group.name %>
        </p>
    <% end %>

    <% if not @source.get_config_fields.empty? %>
        <p>
          <b>Source Configurations</b> <br>
          <% @source.get_config_fields.each do |field| %>
              <b><%= field[:field_name].gsub(/_/, " ").capitalize %></b>:
              <% if field[:field_type] == "password_field" %>
                  '<%= ("â—" * @source.config.send(field[:field_name]).to_s.size) %>'
              <% else %>
                  <%= @source.config.send(field[:field_name]) %>
              <% end %>
              <br>
          <% end %>
        </p>
    <% end %>

    <h1>Most-cited articles</h1>
    <% if @samples.empty? %>
        <div>No articles have been cited by this source</div>
    <% else %>
        <ul>
          <% @samples.each do |retrieval_status| %>
              <li><%= link_to retrieval_status.article.doi, retrieval_status.article %>:
                <%= retrieval_status.event_count %></li>
          <% end %>
        </ul>
    <% end %>

    <%= link_to 'Edit', edit_source_path(@source) %>
    <br/>
    <%= link_to 'Back to list', sources_path %>
  </div>
</div>
