<%#
  # $HeadURL$
  # $Id$
  #
  # Copyright (c) 2009-2012 by Public Library of Science, a non-profit corporation
  # http://www.plos.org/
  #
  # Licensed under the Apache License, Version 2.0 (the "License");
  # you may not use this file except in compliance with the License.
  # You may obtain a copy of the License at
  #
  #     http://www.apache.org/licenses/LICENSE-2.0
  #
  # Unless required by applicable law or agreed to in writing, software
  # distributed under the License is distributed on an "AS IS" BASIS,
  # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  # See the License for the specific language governing permissions and
  # limitations under the License.
-%>

<div class="content">
  <div class="page-header">
    <h1><%= h(@source.display_name) %></h1>
  </div>
  
  <dl class="dl-horizontal">
    <dt>Status</dt>
    <dd><%= @source.status.capitalize %></dd>
    <% if @source.group %>
      <dt>Group</dt>
      <dd><%= h(@source.group.name) %></dd>
    <% end %>
    <% unless @source.private %>
      <dt>Documentation</dt>
      <dd><%= link_to "Information at ALM Wiki", "http://github.com/articlemetrics/alm/wiki/" + @source.name %></dd>
    <% end %>
  </dl>
  
  <ul class="nav nav-tabs">
    <li class="dropdown active">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Most-Cited<b class="caret"></b></a>
      <ul class="dropdown-menu">
      <li><a href="#most-cited7" data-toggle="tab">7 days</a></li>
      <li><a href="#most-cited30" data-toggle="tab">30 days</a></li>
      <li><a href="#most-cited12" data-toggle="tab">12 months</a></li>
      <li class="active"><a href="#most-cited" data-toggle="tab">All-time</a></li>
      </ul>
    </li>
  </ul>
  
  <div class="tab-content">
    <div class="tab-pane active" id="most-cited">
      <%= render :partial => 'admin/sources/sample', :locals => { :sample => @source.retrieval_statuses.most_cited, 
                                                                  :url => source_path(@source, format: "rss"),
                                                                  :title => "Most-cited" } %>
    </div>
    <div class="tab-pane" id="most-cited7">
      <%= render :partial => 'admin/sources/sample', :locals => { :sample => @source.retrieval_statuses.most_cited_last_x_days(7), 
                                                                  :url => source_path(@source, format: "rss"),
                                                                  :title => "Most-cited (7 days)"  } %>
    </div>
    <div class="tab-pane" id="most-cited30">
      <%= render :partial => 'admin/sources/sample', :locals => { :sample => @source.retrieval_statuses.most_cited_last_x_days(30), 
                                                                  :url => source_path(@source, format: "rss"),
                                                                  :title => "Most-cited (30 days)"  } %>
    </div>
    <div class="tab-pane" id="most-cited12">
      <%= render :partial => 'admin/sources/sample', :locals => { :sample => @source.retrieval_statuses.most_cited_last_x_months(12), 
                                                                  :url => source_path(@source, format: "rss"),
                                                                  :title => "Most-cited (12 months)"  } %>
    </div>
  </div>
</div>