<div class="content">
  <div id="show">
    <%= render :partial => "show" %>
  </div>

  <ul class="nav nav-pills">
    <li class="active"><a href="#summary" data-toggle="tab" title="Summary">Summary</a></li>
    <li><a href="#works" data-toggle="tab">Works</a></li>
    <li><a href="#events" data-toggle="tab">Events</a></li>
    <li><a href="#documentation" data-toggle="tab" title="Documentation">Documentation</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="summary">
      <div id="summary-show">
        <%= render :partial => 'summary_show', :locals => { :name => @source.name } %>
      </div>
    </div>
    <div class="tab-pane" id="works">
      <%= render :partial => 'works' %>
    </div>
    <div class="tab-pane" id="events">
      <%= render :partial => 'events_show' %>
    </div>
    <div class="tab-pane" id="documentation">
      <%= render :partial => 'docs/show' %>
    </div>
  </div>
</div>
