<footer class='row footer'>
  <div class="container-fluid">
    <div class='col-sm-3'>
      <h4>About DataCite</h4>
      <ul>
      <% settings.about_links.each do |link| %>
        <li><%= link_to link.name, link.url %></a></li>
      <% end %>
      </ul>
    </div>
    <div class='col-sm-3'>
      <h4>Services</h4>
      <ul>
      <% settings.services_links.each do |link| %>
        <li><%= link_to link.name, link.url %></a></li>
      <% end %>
      </ul>
    </div>
    <div class='col-sm-3'>
      <h4>Resources</h4>
      <ul>
      <% settings.resources_links.each do |link| %>
        <li><%= link_to link.name, link.url %></a></li>
      <% end %>
      </ul>
      <h4>Community</h4>
      <ul>
      <% settings.community_links.each do |link| %>
        <li><%= link_to link.name, link.url %></a></li>
      <% end %>
      </ul>
    </div>
    <div class='col-sm-3'>
      <h4 class="share">Contact us</h4>
      <a href='mailto:support@datacite.org' class="share">
        <i class='fa fa-at'></i>
      </a>
      <a href='https://blog.datacite.org' class="share">
        <i class='fa fa-rss'></i>
      </a>
      <a href='https://twitter.com/datacite' class="share">
        <i class='fa fa-twitter'></i>
      </a>
      <a href='https://www.linkedin.com/company/datacite' class="share">
        <i class='fa fa-linkedin'></i>
      </a>
      <ul class="share">
      <% settings.contact_links.each do |link| %>
        <li><%= link_to link.name, link.url %></a></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
