<div class="row footer">
  <div class="container-fluid">
    <div class="col-md-3">
      <h4><%= link_to 'About DataCite', 'https://www.datacite.org/about-datacite' %></h4>
      <ul>
        <% settings.about_links.each do |item| %>
          <li><%= link_to item['name'], item['url'] %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-3">
      <h4><%= link_to 'DataCite for You', 'https://www.datacite.org/services' %></h4>
      <ul>
        <% settings.foryou_links.each do |item| %>
          <li><%= link_to item['name'], item['url'] %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-3">
      <h4><%= link_to 'Participate', 'https://www.datacite.org/participate' %></h4>
      <ul>
        <% settings.participate_links.each do |item| %>
          <li><%= link_to item['name'], item['url'] %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-3 share">
      <h4>Join us on<h4>
      <%= link_to icon('twitter', class: 'fa-2x'), 'https://twitter.com/datacite' %>
      <%= link_to icon('facebook', class: 'fa-2x'), 'https://www.facebook.com/datacite' %>
      <%= link_to icon('youtube', class: 'fa-2x'), 'https://www.youtube.com/user/datacite' %>
      <%= link_to icon('linkedin', class: 'fa-2x'), 'https://www.linkedin.com/company/datacite' %>
    </div>
  </div>
</div>
