<div class="navbar subnav" role="navigation">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= content_tag :h1, @title || controller.controller_name.humanize, data_tags_for_api %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Status", status_index_path %></li>
        <li><%= link_to "Works", works_path %></li>
        <% if contributors.length > 0 %>
          <li class="hidden-sm"><%= link_to "Contributors", contributors_path %></li>
        <% end %>
        <% if can?(:read, Notification) || publishers.length > 1 %>
          <li class="hidden-sm"><%= link_to "Publishers", publishers_path %></li>
        <% end %>
        <li><%= link_to "Sources", sources_path %></li>
        <% if can?(:read, Notification) %>
          <%= %w(status agents notifications users api_requests filters).include?(controller.controller_name) ? '<li class="dropdown active">'.html_safe : '<li class="dropdown">'.html_safe %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Deposits", deposits_path %></li>
              <li><%= link_to "Agents", agents_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Notifications", notifications_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Users", users_path %></li>
              <li><%= link_to "API Requests", api_requests_path %></li>
              <li><%= link_to "Filters", filters_path %></li>
            </ul>
          </li>
        <% end %>
        <%= controller.controller_name == "docs" && controller.action_name != "index" ? '<li class="dropdown active hidden-sm">'.html_safe : '<li class="dropdown hidden-sm">'.html_safe %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Support <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "API", "/api" %></li>
            <li class="divider"></li>
            <% documents.each do |document| %>
              <% if document == "-" %>
                <li class="divider"></li>
              <% else %>
                <li><%= link_to h(document.tr('-', ' ')), "/docs/#{document.downcase}" %></li>
              <% end %>
            <% end %>
            <li class="divider"></li>
            <li><%= link_to "Support Forum", "http://discuss.lagotto.io" %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
