<div class="content">
  <div class="page-header">
    <h1>
      <%= pluralize(number_with_delimiter(RetrievalStatus.sum(:event_count)), 'Event') %>
    </h1>
  </div>

  <table class="table table-striped" id="EventsTable">
    <thead>
      <tr>
        <th>Source</th>
        <th>Status</th>
        <th class="hidden-phone number">Articles&nbsp;with&nbsp;Events</th>
        <th class="number">All Events</th>
      </tr>
    </thead>
    <tbody>
      <% @sources.each do|source| %>
        <tr>
          <td><%= link_to h(source.display_name), admin_source_path(source) %></td>
          <td><%= status_label(source).html_safe %></td>
          <td class="hidden-phone number"><%= number_with_delimiter(source.articles.cited(1).count) %></td>
          <td class="number"><%= number_with_delimiter(@events_count[source.id]) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>