<div class="content">
  <div class="page-header">
    <h1>
      Events
      <small class="pull-right"><%= pluralize(RetrievalStatus.sum(:event_count), 'event') %></small>
    </h1>
  </div>

  <table class="table table-striped" id="EventsTable">
    <thead>
      <tr>
        <th>Source</th>
        <th>Status</th>
        <th>Articles with Events</th>
        <th>All Events</th>
      </tr>
    </thead>
    <tbody>
      <% @sources.each do|source| %>
        <tr>
          <td><%= link_to h(source.display_name), admin_source_path(source) %></td>
          <td><%= status_label(source).html_safe %></td>
          <td><%= source.articles.cited(1).count %></td>
          <td><%= source.retrieval_statuses.sum(:event_count) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>