<div class="row">
  <div class="span3 text-center dashboard dashboard-label">
    <h1 class="signpost" id="article"><%= number_with_delimiter(@articles_count) %></h1>
    <div><%= link_to "Articles", articles_path %></div>
  </div>
  <div class="span3 text-center dashboard dashboard-label">
    <h1 class="signpost"><%= number_with_delimiter(@articles_recent_count) %></h1>
    <div><%= link_to "Articles published last 30 days", articles_path %></div>
  </div>
  <div class="span3 text-center dashboard dashboard-label">
    <h1 class="signpost"><%= number_with_delimiter(@sources_disabled_count) %></h1>
    <div><%= link_to "Disabled sources", admin_sources_path %></div>
  </div>
  <div class="span3 text-center dashboard dashboard-label">
    <h1 class="signpost"><%= number_with_delimiter(@error_messages_last_day_count) %></h1>
    <div><%= link_to "Errors in the last 24 hours", admin_events_path %></div>
  </div>
</div>
<div class="row">
  <div class="span3 text-center dashboard dashboard-label">
    <h1 class="signpost"><%= number_with_delimiter(@queued_count) %></h1>
    <div><%= link_to "Queued articles", admin_delayed_jobs_path %></div>
  </div>
  <div class="span3 text-center dashboard dashboard-label">
    <h1 class="signpost"><%= number_with_delimiter(@delayed_jobs_active_count) %></h1>
    <div><%= link_to "Jobs", admin_delayed_jobs_path %></div>
  </div>
  <div class="span3 text-center dashboard dashboard-label">
    <h1 class="signpost"><%= number_with_delimiter(@delayed_jobs_count) %></h1>
    <div><%= link_to "Responses in the last 24 hours", admin_responses_path %></div>
  </div>
  <div class="span3 text-center dashboard dashboard-label">
    <h1 class="signpost" id="event"><%= number_with_delimiter(RetrievalStatus.sum(:event_count)) %></h1>
    <div><%= link_to "Events", admin_events_path %></div>
  </div>
</div>
<div class="row">
  <div class="span3 text-center dashboard dashboard-label">
    <h1 class="signpost" id="user"><%= number_with_delimiter(@users_count) %></h1>
    <div><%= link_to "Users", admin_users_path %></div>
  </div>
  <div class="span3 text-center dashboard dashboard-label">
    <h1 class="signpost"><%= number_with_delimiter(@requests_count) %></h1>
    <div><%= link_to "API requests in the last 24 hours", admin_api_requests_path %></div>
  </div>
  <div class="span3 text-center dashboard dashboard-label">
    <h1 class="signpost"><%= number_to_human_size(@mysql_info["data_length"]) %></h1>
    <div>MySQL retrieval_history size</div>
  </div>
    <div class="span3 text-center dashboard dashboard-label">
    <h1 class="signpost" id="couchdb"><%= number_to_human_size(@couchdb_info["disk_size"]) %></h1>
    <div>CouchDB database size</div>
  </div>
</div>
