<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Group</th>
      <th>Status</th>
      <th>Fresh Articles</th>
      <th>Stale Articles</th>
      <th>Queued Articles</th>
    </tr>
  </thead>
  <tbody>
    <% @sources.each do|source| %>
      <tr>
        <td><%= link_to h(source.display_name), admin_source_path(source) %></td>
        <td><%= h(source.group.name) if source.group %></td>
        <td><%= status_label(source).html_safe %></td>
        <td><%= source.retrieval_statuses.fresh.count %></td>
        <td><%= source.retrieval_statuses.stale.count %></td>
        <td><%= source.retrieval_statuses.queued.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>