<%#
  # $HeadURL$
  # $Id$
  #
  # Copyright (c) 2009-2012 by Public Library of Science, a non-profit corporation
  # http://www.plos.org/
  #
  # Licensed under the Apache License, Version 2.0 (the "License");
  # you may not use this file except in compliance with the License.
  # You may obtain a copy of the License at
  #
  #     http://www.apache.org/licenses/LICENSE-2.0
  #
  # Unless required by applicable law or agreed to in writing, software
  # distributed under the License is distributed on an "AS IS" BASIS,
  # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  # See the License for the specific language governing permissions and
  # limitations under the License.
-%>

<div class="content">
  <div class="page-header">
    <h1>Home</h1>
  </div>
  
  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail">
        <div class="caption">
          <h2>
            <i class="icon-file"></i> <%= link_to "Articles", articles_path %>
          </h2>
          <p><%= pluralize(number_with_delimiter(@articles_count), 'article') %>, including <%= pluralize(number_with_delimiter(Article.cited(1).count), 'cited article') %>, and <%= pluralize(number_with_delimiter(@articles_recent_count), 'article') %> published in the last 30 days.</p>
        </div>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <div class="caption">
          <h2>
            <i class="icon-tags"></i> <%= link_to "Sources", admin_sources_path %> 
            <% if @sources_disabled_count > 0 %>
              <span class="label label-warning pull-right hidden-tablet">Disabled Sources</span>
            <% elsif @sources_inactive_count > 0 %>
              <span class="label label-info pull-right hidden-tablet">Inactive Sources</span>
            <% end %>
          </h2>
          <p><%= pluralize(@sources_count, 'source') %>, including <%= pluralize(@sources_inactive_count, 'inactive source') %> and <%= pluralize(@sources_disabled_count, 'disabled source') %>.</p>
        </div>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <div class="caption">
          <h2>
            <i class="icon-list"></i> <%= link_to "Jobs", admin_delayed_jobs_path %>
            <% if @queued_count == 0 %>
              <span class="label label-warning pull-right hidden-tablet">No Queued Articles</span>
            <% end %>
          </h2>
          <p><%= pluralize(number_with_delimiter(@delayed_jobs_active_count), 'active job') %> for <%= pluralize(number_with_delimiter(@queued_count), 'queued article') %>.<br/>&nbsp;</p>
        </div>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <div class="caption">
          <h2>
            <i class="icon-download"></i> <%= link_to "Responses", admin_responses_path %> 
            <% if@delayed_jobs_count > 0 and @delayed_jobs_errors_count / @delayed_jobs_count > 0.05 %>
              <span class="label label-warning pull-right hidden-tablet">More than 5% Errors</span>
            <% end %>
          </h2>
          <p><%= pluralize(number_with_delimiter(@delayed_jobs_count), 'responses') %> in total, with <%= pluralize(@delayed_jobs_errors_count, 'error') %> in the last 24 hours.</p>
        </div>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <div class="caption">
          <h2>
            <i class="icon-flag"></i> <%= link_to "Events", admin_events_path %> 
          </h2>
          <p><%= pluralize(number_with_delimiter(RetrievalStatus.sum(:event_count)), 'event') %>.<br/>&nbsp;</p>
        </div>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <div class="caption">
          <h2>
            <i class="icon-warning-sign"></i> <%= link_to "Errors", admin_error_messages_path %>
            <% if @error_messages_count > 0 %>
              <span class="label label-warning pull-right hidden-tablet">With Unresolved Errors</span>
            <% end %>
          </h2>
          <p><p><%= pluralize(number_with_delimiter(@error_messages_count), 'error') %> in total, with <%= pluralize(number_with_delimiter(@error_messages_last_day_count), 'unresolved error') %> in the last 24 hours.</p>
        </div>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <div class="caption">
          <h2>
            <i class="icon-time"></i> <%= link_to "API Requests", admin_api_requests_path %>
          </h2>
          <p><%= pluralize(number_with_delimiter(@requests_count), 'API request') %> in the last 24 hours with an average duration of <%= number_with_precision(@requests_page_average, :precision => 1) %> ms.</p>
        </div>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <div class="caption">
          <h2>
            <i class="icon-tasks"></i> Databases
          </h2>
          <p id="couchdb"><%= pluralize(number_with_delimiter(@mysql_info["rows"]), 'retrieval_history row') %> (<%= number_to_human_size(@mysql_info["data_length"]) %>, index <%= number_to_human_size(@mysql_info["index_length"]) %>) and <%= pluralize(number_with_delimiter(@couchdb_info["doc_count"]), 'CouchDB document') %> (<%= number_to_human_size(@couchdb_info["disk_size"]) %>).</p>
        </div>
      </div>
    </li>
  </ul>
</div>