<%#
  # $HeadURL$
  # $Id$
  #
  # Copyright (c) 2009-2012 by Public Library of Science, a non-profit corporation
  # http://www.plos.org/
  #
  # Licensed under the Apache License, Version 2.0 (the "License");
  # you may not use this file except in compliance with the License.
  # You may obtain a copy of the License at
  #
  #     http://www.apache.org/licenses/LICENSE-2.0
  #
  # Unless required by applicable law or agreed to in writing, software
  # distributed under the License is distributed on an "AS IS" BASIS,
  # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  # See the License for the specific language governing permissions and
  # limitations under the License.
-%>

<div class="content">
  <div class="page-header">
    <h1>Administration</h1>
  </div>

  <ul class="nav nav-tabs">
    <li class="active"><%= link_to "Overview", admin_root_path(anchor: "overview"), data: { toggle: "tab" } %></li>
    <li><%= link_to "Articles", admin_root_path(anchor: "article"), data: { toggle: "tab" }, :title => "Articles" %></li>
    <li><%= link_to "Sources", admin_root_path(anchor: "source"), data: { toggle: "tab" }, :title => "Sources" %></li>
    <li><%= link_to "Groups", admin_root_path(anchor: "group"), data: { toggle: "tab" }, :title => "Groups" %></li>
    <li><%= link_to "Jobs", admin_root_path(anchor: "job"), data: { toggle: "tab" }, :title => "Jobs" %></li>
  </ul>
  
  <div class="tab-content">
    <div class="tab-pane active" id="overview">
      <%= render :partial => 'admin/index/overview' %> 
    </div>
    <div class="tab-pane" id="article">
      <%= render :partial => 'admin/index/article' %> 
    </div>
    <div class="tab-pane" id="source">
      <%= render :partial => 'admin/index/source' %> 
    </div>
    <div class="tab-pane" id="group">
      <%= render :partial => 'admin/index/group' %> 
    </div>
    <div class="tab-pane" id="job">
      <%= render :partial => 'admin/index/job' %> 
    </div>
  </div>
</div>