<% if can?(:manage, Article) and (controller.action_name == "new" or (controller.action_name == "create" and !@article.errors.empty?)) %>

  <%= simple_form_for @article, :url => admin_articles_path, :html => { :remote => true } do |f| %>
    <fieldset>
      <legend>New Article</legend>

      <%= f.input :title, :input_html => { :rows => 2 } %>
      <%= f.input :doi, :label => 'DOI' %>
      <%= f.input :pmid, :label => 'PubMed ID' %>
      <%= f.input :pmcid, :label => 'PubMed Central ID' %>
      <%= f.input :mendeley_uuid, :label => 'Mendeley UUID' %>
      <%= f.input :canonical_url, :label => 'Canonical URL' %>
      <%= f.input :published_on, label: "Publication Date" do %>
        <%= f.input_field :day, as: :day %>
        <%= f.input_field :month, as: :month %>
        <%= f.input_field :year, as: :year %>
      <% end %>

      <div class="form-group">
        <%= f.submit "Save ", class: "btn btn-default" %>
        <%= link_to 'Cancel', admin_articles_path, { :remote => true, :class => 'btn' } %>
      </div>
    </fieldset>
  <% end %>

<% else %>
  <div class="page-header">
    <div class="btn-toolbar pull-right">
      <% if can?(:manage, Article) %>
        <div class="btn-group btn-group-sm">
          <%= link_to '<span class="glyphicon glyphicon-plus"></span>'.html_safe, new_admin_article_path, { :remote => true, :id => "new_article", :class => 'btn btn-default' } %>
        </div>
      <% end %>
      <% if can? :read, Alert %>
        <div class="btn-group btn-group-sm" id="article-alerts">
          <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-filter"></span> <%= @class_name.nil? ? "All Articles" : h(@class_name) %> <span class="caret"></span></a>
          <ul class="dropdown-menu pull-right">
            <li><%= link_to "All Articles", articles_path(:q => params[:q]) %></li>
            <li class="divider"></li>
            <li><%= link_to "All Alerts", articles_path(:class_name => "All Alerts", :q => params[:q]) %></li>
            <li class="divider"></li>
            <% article_alerts.each do |alert| %>
              <li><%= link_to h(alert), articles_path(:class_name => alert, :q => params[:q]) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="btn-group btn-group-sm" id="article-order">
        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-sort"></span> <%= @order.nil? ? "Date" : h(Source.active.select { |s| s.name == @order }.first.display_name) %> <span class="caret"></span></a>
        <ul class="dropdown-menu pull-right">
          <li><%= link_to "Date", articles_path(q: params[:q], class_name: params[:class_name]) %></li>
            <% Group.order("id").each do |group| %>
              <% unless group.sources.active.empty? %>
                <li class="divider"></li>
                <% group.sources.active.each do |source| %>
                  <li><%= link_to h(source.display_name), articles_path(q: params[:q], class_name: params[:class_name], order: source.name) %></li>
                <% end %>
              <% end %>
            <% end %>
        </ul>
      </div>
    </div>
     <h1 id="api_key" data-api_key="<%= CONFIG[:api_key] %>" data-page="<%= @page %>" data-q="<%= @q %>" data-class_name="<%= @class_name %>" data-order="<%= @order %>">Articles
    <% unless params[:q].blank? %>
      <small>with <em><%= params[:q] %></em> in the DOI<%= Article.has_many? ? "" : " or Title" %></small>
    <% end %>
    </h1>
  </div>

  <div class="search">
    <%= form_tag(articles_path, :method => "get", :class => "form-inline", :role => "form") do %>
       <div class="form-group">
        <%= search_field_tag :q, params[:q], :placeholder => Article.has_many? ? "Search by DOI" : "Search by DOI or Title", :class => "form-control" %>
      </div>
      <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      <% unless params[:q].blank? %>
        <%= link_to "clear", articles_path, :class => "btn" %>
      <% end %>
    <% end %>
  </div>

  <div id="results"></div>

  <% content_for :include_scripts do %>
    <%= javascript_include_tag 'articles/index' %>
  <% end %>
<% end %>
