<% if can?(:manage, Article) and (controller.action_name == "edit" or (controller.action_name == "update" and !@article.errors.empty?)) %>

  <%= simple_form_for @article, :url => admin_article_path(@article), :html => { :role => "form", :remote => true } do |f| %>
    <fieldset>
      <legend>Edit Article</legend>

      <%= f.input :title, :input_html => { :rows => 2 } %>
      <%= f.input :doi, :label => 'DOI', :disabled => CONFIG[:uid] == "doi" %>
      <%= f.input :pmid, :label => 'PubMed ID', :disabled => CONFIG[:uid] == "pmid" %>
      <%= f.input :pmcid, :label => 'PubMed Central ID', :disabled => CONFIG[:uid] == "pmcid" %>
      <%= f.input :mendeley_uuid, :label => 'Mendeley UUID' %>
      <%= f.input :canonical_url, :label => 'Canonical URL' %>
      <%= f.input :published_on, label: "Publication Date" do %>
        <%= f.input_field :day, as: :day %>
        <%= f.input_field :month, as: :month %>
        <%= f.input_field :year, as: :year %>
      <% end %>

      <div class="form-group">
        <%= f.submit "Save ", class: "btn btn-default" %>
        <%= link_to 'Cancel', admin_article_path(@article), { :remote => true, :class => 'btn' } %>
      </div>
    </fieldset>
  <% end %>

<% else %>
  <div class="page-header">
    <h1 id="api_key" data-api_key="<%= CONFIG[:api_key] %>" data-uid_type="<%= CONFIG[:uid] %>" data-uid="<%= @article.uid %>">
      <% if can?(:manage, Article) %>
        <div class="btn-toolbar pull-right">
          <div class="btn-group btn-group-sm">
            <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_admin_article_path(@article), { :remote => true, :class => 'btn btn-default' } %>
          </div>
          <div class="btn-group btn-group-sm">
            <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, admin_article_path(@article), :data => { :confirm => 'Are you sure?' }, :method => :delete, :class => 'btn btn-default' %>
          </div>
        </div>
      <% end %>
      <%= h@article.title %>
    </h1>
  </div>

  <dl class="dl-horizontal">
    <dt>Publication Date</dt>
    <dd><%= l @article.published_on, format: date_format(@article) %></dd>
    <% if @article.doi %>
      <dt>DOI</dt>
      <dd class="doi" %><%= link_to h(@article.doi), @article.doi_as_url %></dd>
    <% end %>
    <% if @article.pmid %>
      <dt>PubMed ID</dt>
      <dd id="pmid" data-pmid="<%= @article.pmid %>"><%= link_to @article.pmid, "http://www.ncbi.nlm.nih.gov/pubmed/#{@article.pmid}" %></dd>
    <% end %>
    <% if @article.pmcid %>
      <dt>PubMed Central ID</dt>
      <dd id="pmcid" data-pmcid="<%= @article.pmcid %>"><%= link_to "PMC#{@article.pmcid}", "http://www.ncbi.nlm.nih.gov/pmc/articles/PMC#{@article.pmcid}" %></dd>
    <% end %>
    <% if @article.mendeley_uuid %>
      <dt>Mendeley UUID</dt>
      <dd id="mendeley_uuid" data-mendeley_uuid="<%= @article.mendeley_uuid %>"><%= @article.mendeley_uuid %></dd>
    <% end %>
    <dt>URLs</dt>
    <dd>
      <% if !@article.canonical_url.blank? %>
        <%= link_to h(@article.canonical_url), @article.canonical_url %><br/>
      <% end %>
      <% if @article.pmid %>
        <%= link_to "http://europepmc.org/abstract/MED/#{@article.pmid}", "http://europepmc.org/abstract/MED/#{@article.pmid}" %><br/>
      <% end %>
      <% if @article.mendeley && @article.mendeley.events_url %>
        <%= link_to h(@article.mendeley.events_url), @article.mendeley.events_url %><br/>
      <% end %>
      <% if @article.citeulike && @article.citeulike.events_url %>
        <%= link_to h(@article.citeulike.events_url), @article.citeulike.events_url %><br/>
      <% end %>
    </dd>
  </dl>

  <% if can? :read, Alert %>
    <div id="alert-error-message">
      <%= render :partial => 'admin/articles/alert_message' %>
    </div>
  <% end %>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#metrics" data-toggle="tab" title="Metrics">Metrics</a></li>
    <li><a href="#events" data-toggle="tab" title="Events">Events</a></li>
    <li><a href="#more" data-toggle="tab" title="More">Details</a></li>
    <% if can? :read, Alert %>
      <li><a href="#alert" data-toggle="tab" title="Alerts">Alerts</a></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="metrics">
      <%= render :partial => 'admin/articles/metrics' %>

    </div>
    <div class="tab-pane" id="events">
      <%= render :partial => 'admin/articles/events' %>
    </div>
    <div class="tab-pane" id="more">
      <%= render :partial => 'admin/articles/more' %>
    </div>
    <div class="tab-pane" id="alert">
      <%= render :partial => 'admin/articles/alert' %>
    </div>
  </div>
<% end %>
