<% if user_signed_in? and (controller.action_name == "edit" or (controller.action_name == "update" and !@article.errors.empty?)) %>

  <%= simple_form_for @article, :url => admin_article_path(@article), :html => { :class => 'form-horizontal', :remote => true } do |f| %>
    <fieldset>
      <legend>Edit Article</legend>  

      <%= f.input :doi, :label => 'DOI', :disabled => true, :input_html => { :class => "span6" } %>
      <%= f.input :title, :input_html => { :rows => 2, :class => "span6" } %>
      <%= f.input :published_on, :label => 'Publication Date', :as => :date, :start_year => Time.zone.now.year - 10, :end_year => Time.zone.now.year, :order => [:day, :month, :year], :input_html => { :class => "span1" } %>
    
      <div class="form-actions">
        <%= f.submit "Save ", class: "btn btn-primary" %>
        <%= link_to 'Cancel', admin_article_path(@article), { :remote => true, :class => 'btn' } %>
      </div>
    </fieldset>
  <% end %>

<% else %>
  <div class="page-header">
    <h1>
      <% if user_signed_in? %>
      <div class="btn-toolbar pull-right">
        <div class="btn-group">
          <%= link_to '<i class="icon-pencil"></i> Edit'.html_safe, edit_admin_article_path(@article), { :remote => true, :class => 'btn btn-mini' } %>
          <%= link_to '<i class="icon-trash"></i> Delete'.html_safe, admin_article_path(@article), :data => { :confirm => 'Are you sure?' }, :method => :delete, :class => 'btn btn-mini' %>
        </div>
      </div>
      <% end %>
      <%= h@article.title %>
    </h1>
  </div>
  
  <dl class="dl-horizontal">
    <dt>Publication Date</dt>
    <dd><%= @article.published_on.to_s(:long) %></dd>
    <% if @article.doi %>
      <dt>DOI</dt>
      <dd><%= link_to h(@article.doi), "http://dx.doi.org/#{@article.doi}" %></dd>
    <% end %>
    <% if @article.pub_med %>
      <dt>PubMed ID</dt>
      <dd><%= link_to @article.pub_med, "http://www.ncbi.nlm.nih.gov/pubmed/#{@article.pub_med}" %></dd>
    <% end %>
    <% if @article.pub_med_central %>
      <dt>PubMed Central ID</dt>
      <dd><%= link_to @article.pub_med_central, "http://www.ncbi.nlm.nih.gov/pmc/articles/PMC#{@article.pub_med_central}" %></dd>
    <% end %>
    <% if @article.mendeley %>
      <dt>Mendeley UUID</dt>
      <dd><%= h(@article.mendeley) %></dd>
    <% end %>
    <% if @article.url %>
      <dt>URL</dt>
      <dd><%= link_to h(@article.url), @article.url %></dd>
    <% end %>
  </dl>
<% end %>