<div class="panel-heading">
  <h4 class="panel-title"><%= link_to ("<strong>#{status.source.display_name}</strong>" + (status.event_count > 0 ? " <span class='badge'>#{status.event_count}</span>" : "") + "<small class='pull-right'>#{status.retrieved_at > '1970-01-01' ? status.retrieved_at.to_s(:short) + ' UTC' : ''}</small>").html_safe, "##{status.source.name}", :class => "accordion-toggle", :data => { :toggle => "collapse", :parent => "#retrieval_status" }, :href => "##{status.source.name}-inner" %></h4>
</div>
<div id="<%= status.source.name %>-inner" class="panel-collapse collapse">
  <div class="panel-body article-inner">
    <h4>
      <%= link_to status.source.display_name, admin_source_path(status.source) %>
      <% unless status.events_url.nil? %>| <%= link_to "Further Information", status.events_url, :target => "_blank" %><% end %>
    </h4>
    <% unless status.events.blank? %>
      <% if status.events.is_a?(Array) %>
        <ul>
          <% status.events.each do |ed| %>
            <li>
              <% if ed.has_key?("event_url") %>
                <%= link_to ed["event"], ed["event_url"] %>
              <% else %>
                <%= ed %>
              <% end %>
            </li>
          <% end %>
          </ul>
      <% elsif status.events.is_a?(Hash) %>
        <ul><li><%= status.events %></li></ul>
      <% end %>
    <% end %>
  </div>
</div>
