<div class="accordion-heading">
  <%= link_to ("<strong>#{status.source.display_name}</strong>" + (status.event_count > 0 ? " <span class='badge badge-info'>#{status.event_count}</span>" : "") + "<span class='pull-right'>#{status.retrieved_at.to_s(:short)}</span").html_safe, "##{status.source.name}", :class => "accordion-toggle", :data => { :toggle => "collapse", :parent => "#retrieval_status" }, :href => "##{status.source.name}-inner" %>
</div>
<div id="<%= status.source.name %>-inner" class="accordion-body collapse">
  <div class="accordion-inner article-inner">
    <h5>
      <%= link_to status.source.display_name, source_path(status.source) %>
      <% unless status.events_url.nil? %>| <%= link_to "Further Information", status.events_url, :target => "_blank" %><% end %>
    </h5>
    <% unless status.events.blank? %>
      <% if status.events.is_a?(Array) %>
        <ul>
          <% status.events.each do |ed| %>
            <li>
              <% if ed.has_key?("event_url") %>
                <%= link_to ed["event"], ed["event_url"] %>
              <% else %>
                <%= ed %>
              <% end %>
            </li>
          <% end %>
          </ul>
      <% elsif status.events.is_a?(Hash) %>
        <ul><li><%= status.events %></li></ul>
      <% end %>
    <% end %>
  </div>
</div>
