<% 
  filtered = params[:cited] || params[:query]
  prefix = case params[:cited] 
  when "1"
    "#{@article_count} Cited "
  when "0"
    "#{@article_count} Uncited "
  else 
    "All #{@article_count} "
  end
  suffix = params[:query] ? " with DOIs containing '#{params[:query]}'" : ""

  links = []
  links << link_to('all', articles_path) if filtered
  links << link_to('cited', articles_path(:cited => "1", :query => params[:query])) \
    unless params[:cited] == "1"
  links << link_to('uncited', articles_path(:cited => "0", :query => params[:query])) \
    unless params[:cited] == "0"
  links = links.join(" or ")
-%>
<div>
Show <%= links %> articles | 
<% form_tag articles_path, :method => "get", :style => "display: inline" do %>
  <span>Show only DOIs containing:</span>
  <%= text_field_tag "query", params[:query], :size => 9 %>
  <%= submit_tag 'Go' %>
<% end %> | 
<%= link_to 'Add another article', new_article_path %>
</div>
<h2><%= prefix %>Articles<%= suffix %></h2>

<% if @articles.first %>
  <% for article in @articles %>
  <div class="article">
    <span class="doi"><%= link_to article.doi, article %></span>
    <span class="details">
      <%= pluralize article.citations_count, "citation" %> from
      <%= pluralize article.cited_retrievals_count, "source" %>, 
      <%= (article.retrieved_at.year < 2000) ? 
          "never updated" : "updated #{article.retrieved_at.to_s(:friendly)}" %>
    </span>
  </div>
  <% end %>
<% else %>
  <div>No <%= "cited " if params[:cited] %>articles found</div>
<% end %>
<%= will_paginate @articles %>


