<%#
  # $HeadURL$
  # $Id$
  #
  # Copyright (c) 2009-2012 by Public Library of Science, a non-profit corporation
  # http://www.plos.org/
  #
  # Licensed under the Apache License, Version 2.0 (the "License");
  # you may not use this file except in compliance with the License.
  # You may obtain a copy of the License at
  #
  #     http://www.apache.org/licenses/LICENSE-2.0
  #
  # Unless required by applicable law or agreed to in writing, software
  # distributed under the License is distributed on an "AS IS" BASIS,
  # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  # See the License for the specific language governing permissions and
  # limitations under the License.
-%>

<div class="content">
  <div id="show">
    <%= render :partial => 'admin/articles/show' %>
  </div>

  <% if @article.retrieval_statuses.sum(:event_count) > 0 %>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#all" data-toggle="tab" title="All Metrics">All Metrics</a></li>
      <li class="hidden-phone"><a href="#day" data-toggle="tab" title="by Day">Metrics by Day</a></li>
      <li class="hidden-phone"><a href="#month" data-toggle="tab" title="by Month">Metrics by Month</a></li>
      <li class="hidden-phone"><a href="#year" data-toggle="tab" title="by Year">Metrics by Year</a></li>
      <li><a href="#more" data-toggle="tab" title="More">Details</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="all">
        <div class="muted" id="loading-all">Loading page … <%= image_tag "spinner.gif" %></div>
        <%= javascript_tag do -%>
          <%= render :partial => 'all', formats: :js %>
        <% end %>
      </div>
      <div class="tab-pane hidden-phone" id="day">
        <div class="muted" id="loading-day">Loading page … <%= image_tag "spinner.gif" %></div>
        <%= javascript_tag do -%>
          <%= render :partial => 'day', formats: :js %>
        <% end %>
      </div>
      <div class="tab-pane hidden-phone" id="month">
        <div class="muted" id="loading-month">Loading page … <%= image_tag "spinner.gif" %></div>
        <%= javascript_tag do -%>
          <%= render :partial => 'month', formats: :js %>
        <% end %>
      </div>
      <div class="tab-pane hidden-phone" id="year">
        <div class="muted" id="loading-year">Loading page … <%= image_tag "spinner.gif" %></div>
        <%= javascript_tag do -%>
          var api_key = "<%= @api_key %>";
          <%= render :partial => 'year', formats: :js %>
        <% end %>
      </div>
      <div class="tab-pane hidden-phone" id="more">
         <%= render :partial => 'more' %>
      </div>
    </div>
  <% else %>
    <div class="alert alert-info">No sources have cited this article</div>
  <% end %>
</div>
