<%#
  # $HeadURL: http://ambraproject.org/svn/plos/alm/head/app/views/articles/show.html.erb $
  # $Id: show.html.erb 6162 2011-02-05 00:23:52Z jsong $
  #
  # Copyright (c) 2009-2010 by Public Library of Science, a non-profit corporation
  # http://www.plos.org/
  #
  # Licensed under the Apache License, Version 2.0 (the "License");
  # you may not use this file except in compliance with the License.
  # You may obtain a copy of the License at
  #
  #     http://www.apache.org/licenses/LICENSE-2.0
  #
  # Unless required by applicable law or agreed to in writing, software
  # distributed under the License is distributed on an "AS IS" BASIS,
  # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  # See the License for the specific language governing permissions and
  # limitations under the License.
-%>
<div class="border">
<div class="page">
  <h2><%=h @article.doi %><%=h ": \"#{@article.title}\"" unless @article.title.blank? %></h2>

  <div><%= "published #{@article.published_on.to_datetime.to_s(:friendly_date)}, " if @article.published_on %><%= pluralize(@article.citations_count, "citation") %>, 
      <%= (@article.retrieved_at.year < 2000) ? "never updated" : 
          "updated #{@article.retrieved_at.to_s(:friendly)}" %></div>
  <% if logged_in? %>
  <%= content_tag(:div, "PubMed ID = '#{@article.pub_med}'") if @article.pub_med %>
  <%= content_tag(:div, "PubMedCentral ID = '#{@article.pub_med_central}'") if @article.pub_med_central %>
  <% end %>
  <ul>
  <% @article.retrievals.each do |retrieval| %>
    <% if retrieval.total_citations_count > 0 %>
      <li>
        <% 
        public_url = retrieval.source.public_url(retrieval)
        details = [ retrieval.total_citations_count ]
        details << retrieval.local_id if retrieval.local_id and logged_in?
        -%>
        <%= link_to_unless public_url.nil?, retrieval.source.name, public_url, :target => "_blank" %> 
        (<%= details.join(', ') %>)<% unless retrieval.citations.empty? %>:<ul>
        <% retrieval.citations.each do |citation| %>
          <li><%= link_to h(citation.details.inspect), citation.uri %></li>
        <% end %>
        </ul><% end %>
      </li>
    <% end %>
  <% end %>
  </ul>

  <% if logged_in? %>
    Refresh: <%= link_to 'now', article_path(@article, :refresh => "now") %> |
    <%= link_to 'soon', article_path(@article, :refresh => "soon") %><br/>
    <%= link_to 'Edit', edit_article_path(@article) %> |
    <%= link_to 'Delete', @article, :confirm => 'Are you sure?', :method => :delete %>
    <br/>
  <% end %>
  <%= link_to 'Back to list', articles_path %>
</div>
</div>