<%#
  # $HeadURL$
  # $Id$
  #
  # Copyright (c) 2009-2012 by Public Library of Science, a non-profit corporation
  # http://www.plos.org/
  #
  # Licensed under the Apache License, Version 2.0 (the "License");
  # you may not use this file except in compliance with the License.
  # You may obtain a copy of the License at
  #
  #     http://www.apache.org/licenses/LICENSE-2.0
  #
  # Unless required by applicable law or agreed to in writing, software
  # distributed under the License is distributed on an "AS IS" BASIS,
  # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  # See the License for the specific language governing permissions and
  # limitations under the License.
-%>

<div class="content">
  <div id="show">
    <%= render :partial => 'admin/articles/show' %> 
  </div>
  
  <% if @article.retrieval_statuses.sum(:event_count) > 0 %>
  <div class="accordion" id="retrieval_status">
    <% @article.retrieval_statuses.each do |rs| %>
      <% if rs.event_count > 0 and !rs.source.nil? %>
        <div class="accordion-group">  
          <div class="accordion-heading">  
            <%= link_to ("<strong>" + rs.source.display_name + "</strong> (" + rs.event_count + "), updated " + rs.retrieved_at.to_s(:friendly)).html_safe, "##{rs.source.name}", :class => "accordion-toggle", :data => { :toggle => "collapse", :parent => "#retrieval_status" }, :href => "##{rs.source.name}" %>
          </div>  
          <div id="<%= rs.source.name %>" class="accordion-body collapse">  
            <div class="accordion-inner">
              <% unless rs.events.blank? %>
                  <% if rs.events.is_a?(Array) %>
                    <ul>
                      <% rs.events.each do |ed| %>
                        <li>
                          <% if ed.has_key?("event_url") %>
                            <%= link_to ed["event"], ed["event_url"] %>
                          <% else %>
                            <%= ed %>
                          <% end %>
                        </li>
                      <% end %>
                      </ul>
                  <% elsif rs.events.is_a?(Hash) %>
                    <ul><li><%= rs.events %></li></ul>
                  <% end %>
              <% end %>
              
              <h4><%= link_to rs.source.display_name, source_path(rs.source) %>
                <% unless rs.public_url.nil? %>
                | <%= link_to "Further Information", rs.public_url, :target => "_blank" %></h4>
              <% end %>
              </h4>
            </div>  
          </div>  
       </div>  
       <% end %>
       <% end %>
    </div>  
  <% else %>
    <div class="alert alert-info">No sources have cited this article</div>
  <% end %>
</div>