<div class="row">
  <div class="col-md-9" id="content-contributions">
    <div class="text-muted loading" id="loading-contributions">Loading … <%= image_tag "spinner.gif" %></div>
  </div>
  <div class='col-md-3'>
    <% if Source.for_contributions.size > 0 %>
      <div class="panel facets">
        <div class="panel-body">
          <h4>Sources</h4>
          <ul>
            <% if @source.present? %>
              <li class="active">
                <%= link_to icon('check-square-o').html_safe, works_path(@work.pid, q: params[:q]) %>
                <%= @source.title %>
              </li>
            <% else %>
              <% Source.for_contributions.each do |source| %>
                <li>
                  <%= link_to icon('square-o').html_safe, works_path(@work.pid, q: params[:q], source_id: source.name) %>
                  <%= source.title %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <% if ContributorRole.all.size > 0 %>
      <div class="panel facets">
        <div class="panel-body">
          <h4>Contributor Roles</h4>
          <ul>
            <% if @contributor_role.present? %>
              <li class="active">
                <%= link_to icon('check-square-o').html_safe, work_path(@work, source_id: params[:source_id]) %>
                <%= @contributor_role.title %>
              </li>
            <% else %>
              <% ContributorRole.order("name").each do |contributor_role| %>
                <li>
                  <%= link_to icon('square-o').html_safe, work_path(@work, contributor_role_id: contributor_role.name, source_id: params[:source_id]) %>
                  <%= contributor_role.title %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'works/contributions' %>
