<% if can?(:manage, Work) and (controller.action_name == "new" or (controller.action_name == "create" and !@work.errors.empty?)) %>
  <div class="panel panel-default">
    <div class="panel-heading panel-title">New Work</div>
    <div class="panel-body">
      <%= simple_form_for @work, :url => works_path, :html => { :remote => true } do |f| %>
        <%= f.input :title, :input_html => { :rows => 2 } %>
        <%= f.input :doi, :label => 'DOI' %>
        <%= f.input :canonical_url, :label => 'Canonical URL' %>
        <%= f.input :pmid, :label => 'PubMed' %>
        <%= f.input :pmcid, :label => 'PubMed Central' %>
        <%= f.input :arxiv, :label => 'ArXiV' %>
        <%= f.input :wos, :label => 'Web of Science' %>
        <%= f.input :scp, :label => 'Scopus' %>
        <%= f.input :ark, :label => 'Ark' %>
        <%= f.input :tracked, :as => :boolean, hint: "Collect metrics for this work" %>
       <%= f.association :work_type, collection: WorkType.order("title").map { |work_type| [work_type.title, work_type.id] }, :include_blank => false %>
        <%= f.input :published_on, label: "Publication Date" do %>
          <%= f.input_field :day, as: :day %>
          <%= f.input_field :month, as: :month %>
          <%= f.input_field :year, as: :year %>
        <% end %>

        <div class="form-group">
          <%= f.submit "Save", class: "btn btn-default" %>
          <%= link_to "Cancel", works_path, { remote: true, class: "btn" } %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="page-header">
    <div class="btn-toolbar pull-right">
      <div class="btn-group btn-group-sm">
        <%= link_to "#{icon("link")} Relations".html_safe, relations_path, { id: "relations", class: "btn btn-default" } %>
      </div>
      <% if can?(:manage, Work) %>
        <div class="btn-group btn-group-sm">
          <%= link_to icon("plus").html_safe, new_work_path, { remote: true, id: "new-work", class: "btn btn-default" } %>
        </div>
      <% end %>
    </div>

    <%= form_tag(works_path, :method => "get", :class => "form-inline text-center", :role => "form") do %>
      <div class="form-group">
        <%= search_field_tag :q, params[:q], :placeholder => "Search", :class => "form-control" %>
      </div>
      <button type="submit" class="btn btn-default hidden-xs"><%= icon("search") %></button>
      <% unless params[:q].blank? %>
        <%= link_to "clear", works_path, :class => "btn" %>
      <% end %>
    <% end %>
  </div>

  <div class="work">&nbsp;
    <div class="btn-toolbar pull-left">
      <% if can?(:read, Notification) %>
        <div class="btn-group btn-group-sm" id="work-notifications">
          <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><%= icon("filter") %> <%= @class_name.nil? ? "All Works" : h(@class_name) %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "All Works", works_path(:q => params[:q], source_id: params[:source_id], sort: params[:sort]) %></li>
            <li class="divider"></li>
            <li><%= link_to "All Notifications", works_path(:class_name => "All Notifications", :q => params[:q], source_id: params[:source_id], sort: params[:sort]) %></li>
            <li class="divider"></li>
            <% work_notifications.each do |notification| %>
              <li><%= link_to h(notification), works_path(:class_name => notification, :q => params[:q], source_id: params[:source_id], sort: params[:sort]) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="btn-group btn-group-sm" id="work-source">
        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><%= icon("filter") %> <%= @source.nil? ? "All Sources" : h(@source.title) %> <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to "All Sources", works_path(q: params[:q], class_name: params[:class_name], sort: params[:sort]) %></li>
          <% Group.order("id").each do |group| %>
            <% group.sources.active.each_with_index do |source, i| %>
              <%= '<li class="divider"></li>'.html_safe if i == 0 %>
              <li><%= link_to "Filter by #{source.title}", works_path(q: params[:q], class_name: params[:class_name], source_id: source.name) %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="btn-toolbar pull-right">
      <div class="btn-group btn-group-sm" id="work-sort">
        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><%= icon("sort") %> <%= @sort.nil? ? "Sort by Date" : "Sort by #{@sort.title}" %> <span class="caret"></span></a>
        <ul class="dropdown-menu pull-right">
          <li><%= link_to "Sort by Date", works_path(q: params[:q], class_name: params[:class_name], source_id: params[:source_id]) %></li>
          <% if @source.nil? %>
            <% Group.order("id").each do |group| %>
              <% group.sources.active.each_with_index do |source, i| %>
                <%= '<li class="divider"></li>'.html_safe if i == 0 %>
                <li><%= link_to "Sort by #{source.title}", works_path(q: params[:q], class_name: params[:class_name], source_id: params[:source_id], sort: source.name) %></li>
              <% end %>
            <% end %>
          <% else %>
            <li class="divider"></li>
            <li><%= link_to "Sort by #{@source.title}", works_path(q: params[:q], class_name: params[:class_name], source_id: @source.name, sort: @source.name) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div id="content">
    <div class="text-muted loading" id="loading-results">Loading … <%= image_tag "spinner.gif" %></div>
  </div>

  <%= javascript_include_tag 'works/index' %>
<% end %>
