<div class="work">&nbsp;
  <div class="btn-toolbar pull-left">
    <div class="btn-group btn-group-sm" id="work-relation">
      <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><%= icon("filter") %> <%= @relation_type.nil? ? "All Relations" : h(@relation_type.title) %> <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to "All Relations", work_path(@work, source_id: params[:source_id]) %></li>
        <% RelationType.referencable.order("name").each_with_index do |relation_type, i| %>
          <%= '<li class="divider"></li>'.html_safe if i == 0 %>
          <li><%= link_to "Filter by #{relation_type.title}", work_path(@work, relation_type_id: relation_type.name, source_id: params[:source_id]) %></li>
        <% end %>
      </ul>
    </div>
    <div class="btn-group btn-group-sm" id="work-source">
      <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><%= icon("filter") %> <%= @source.nil? ? "All Sources" : h(@source.title) %> <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to "All Sources", work_path(@work) %></li>
        <% Group.order("id").each do |group| %>
          <% group.sources.eventable.each_with_index do |source, i| %>
            <%= '<li class="divider"></li>'.html_safe if i == 0 %>
            <li><%= link_to "Filter by #{source.title}", work_path(@work, source_id: source.name) %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div id="rss" style="display: none;" class="pull-right">
  <%= link_to image_tag("feed-icon-28x28.png"), work_path(@work, format: "rss") %>
</div>

<div class="content" id="content" data-api_key="<%= current_user && current_user.api_key %>" data-event_id="<%= @work.pid %>" data-page="<%= @page %>" data-per_page="15" data-source_id="<%= @source.present? ? @source.name : "" %>" data-order="">
  <div class="text-muted loading" id="loading-results">Loading … <%= image_tag "spinner.gif" %></div>
</div>

<%= javascript_include_tag 'works/references' %>
