<div class="row work-page">
  <div class="col-md-9">
    <div class="panel panel-default">
      <% if can?(:manage, Work) && (controller.action_name == "edit" || (controller.action_name == "update" && !@work.errors.empty?)) %>
        <div class="panel-body">
          <%= simple_form_for @work, :url => work_path(@work), :html => { :role => "form", :remote => true } do |f| %>
            <%= f.input :title, :input_html => { :rows => 2 } %>
            <%= f.input :doi, :label => 'DOI' %>
            <%= f.input :canonical_url, :label => 'Canonical URL' %>
            <%= f.input :pmid, :label => 'PubMed' %>
            <%= f.input :pmcid, :label => 'PubMed Central' %>
            <%= f.input :wos, :label => 'ArXiV' %>
            <%= f.input :wos, :label => 'Web of Science' %>
            <%= f.input :scp, :label => 'Scopus' %>
            <%= f.input :ark, :label => 'Ark' %>
            <%= f.input :dataone, :label => 'DataONE' %>
            <%= f.input :tracked, :as => :boolean, hint: "Collect metrics for this work" %>
            <%= f.association :work_type, collection: WorkType.order("title").map { |work_type| [work_type.title, work_type.id] }, :include_blank => false %>
            <%= f.input :published_on, label: "Publication Date" do %>
              <%= f.input_field :day, as: :day %>
              <%= f.input_field :month, as: :month %>
              <%= f.input_field :year, as: :year %>
            <% end %>

            <div class="form-group pull-right">
              <%= f.submit "Save ", class: "btn btn-default" %>
              <%= link_to 'Cancel', work_path(@work), { :remote => true, :class => 'btn' } %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="panel-body">
          <h4 class="work"><%= @work.title.html_safe %></h4>
          <% if @work.author.present? %>
            <div class="author"><%= author_format(@work.author).html_safe %></div>
          <% end %>
          <div class="metadata"><%= metadata_format(@work).html_safe %></div>
        </div>
        <table class="table">
          <tbody>
            <% if @work.doi.present? %>
              <tr>
                <th>DOI</th>
                <td class="doi" %><%= link_to h(@work.pid), @work.pid %></td>
              </tr>
            <% end %>
            <% if @work.handle_url.present? %>
              <tr>
                <th>Handle URL</th>
                <td><%= link_to h(@work.handle_url), @work.handle_url %></td>
              </tr>
            <% end %>
            <% if @work.canonical_url.present? %>
              <tr>
                <th>Canonical URL</th>
                <td><%= link_to h(@work.canonical_url), @work.canonical_url %></td>
              </tr>
            <% end %>
            <% if @work.pmid.present? %>
              <tr>
                <th>PubMed</th>
                <td id="pmid" data-pmid="<%= @work.pmid %>"><%= link_to @work.pmid_as_url(@work.pmid), @work.pmid_as_url(@work.pmid) %></td>
              </tr>
            <% end %>
            <% if @work.pmcid.present? %>
              <tr>
                <th>PubMed Central</th>
                <td id="pmcid" data-pmcid="<%= @work.pmcid %>"><%= link_to @work.pmcid_as_url(@work.pmcid), @work.pmcid_as_url(@work.pmcid) %></td>
              </tr>
            <% end %>
            <% if @work.pmid.present? %>
              <tr>
                <th>Europe PMC</th>
                <td><%= link_to h(@work.pmid_as_europepmc_url), @work.pmid_as_europepmc_url %></td>
              </tr>
            <% end %>
            <% if @work.wos.present? && @work.wos_url.present? %>
              <tr>
                <th>Web of Science</th>
                <td><%= link_to @work.wos, @work.wos_url %></td>
              </tr>
            <% end %>
            <% if @work.scp.present? && @work.scopus_url.present? %>
              <tr>
                <th>Scopus</th>
                <td><%= link_to @work.scp, @work.scopus_url %></td>
              </tr>
            <% end %>
            <% if @work.ark.present? %>
              <tr>
                <th>Ark</th>
                <td><%= link_to @work.ark, @work.ark_as_url(@work.ark) %></td>
              </tr>
            <% end %>
            <% if @work.dataone.present? %>
              <tr>
                <th>DataONE</th>
                <td><%= link_to @work.dataone, @work.dataone_as_url(@work.dataone) %></td>
              </tr>
            <% end %>
            <% if @work.mendeley_url.present? %>
              <tr>
                <th>Mendeley</th>
                <td><%= link_to @work.mendeley_url, @work.mendeley_url %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
      <% if can?(:manage, Work) && controller.action_name != "edit" && !(controller.action_name == "update" && !@work.errors.empty?) %>
        <div class="panel-footer">
          <%= icon("external-link") %>
          <%= link_to @work.pid, @work.pid %>
          <div class="btn-group btn-group-sm pull-right" role="group">
            <%= link_to icon("pencil").html_safe, edit_work_path(@work), { :remote => true, :class => 'btn btn-default' } %>
            <%= link_to icon("trash").html_safe, work_path(@work), :data => { :confirm => 'Are you sure?' }, :method => :delete, :class => 'btn btn-default' %>
          </div>
        </div>
      <% end %>
    </div>

    <% if can?(:read, Notification) %>
      <div id="notification-error-message">
        <%= render :partial => 'notification_message' %>
      </div>
    <% end %>
  </div>
  <div class="col-md-3">
    <div class="panel facets">
      <div class="panel-body metadata">
        <% if @work.publisher %>
          <h5>Publisher</h5>
          <div class="publisher"><%= link_to h(@work.publisher.title), publisher_path(@work.publisher.name) %></div>
        <% end %>
        <% if @work.registration_agency %>
          <h5>Registration Agency</h5>
          <div class="registration_agency"><%= h(@work.registration_agency.title) %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if can?(:read, Notification) || @active.present? %>
  <ul class="nav nav-pills">
    <% @active.each_with_index do |tab, i| %>
      <% if i > 0 %>
        <li><a href="#<%= tab %>" data-toggle="tab" title="<%= tab.humanize %>"><%= tab.humanize %></a></li>
      <% else %>
        <li class="active"><a href="#<%= tab %>" data-toggle="tab" title="<%= tab.humanize %>"><%= tab.humanize %></a></li>
      <% end %>
    <% end %>

    <% if can?(:read, Notification) %>
      <% if @active.size > 0 %>
        <li><a href="#recommendations" data-toggle="tab" title="Recommendations">Recommendations</a></li>
      <% else %>
        <li class="active"><a href="#recommendations" data-toggle="tab" title="Recommendations">Recommendations</a></li>
      <% end %>
      <li><a href="#notification" data-toggle="tab" title="Notifications">Notifications</a></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <% @active.each_with_index do |tab, i| %>
      <div class="tab-pane <%= i > 0 ? '' : ' active' %>" id="<%= tab %>">
        <%= render :partial => tab %>
      </div>
    <% end %>

    <% if can?(:read, Notification) %>
      <% if @active.size > 0 %>
        <div class="tab-pane" id="recommendations">
      <% else %>
        <div class="tab-pane active" id="recommendations">
      <% end %>
        <%= render :partial => 'recommendations' %>
      </div>
      <div class="tab-pane" id="notification">
        <%= render :partial => 'notification' %>
      </div>
    <% end %>
  </div>
<% end %>
