<div class="panel panel-default">
  <div class="panel-heading panel-title" id="api_key" data-api_key="<%= current_user && current_user.api_key %>" data-pid="<%= @work.pid %>" data-page="<%= @page %>" data-per_page="15" data-source_id="<%= @source.present? ? @source.name : '' %>" data-relation_type_id="<%= @relation_type.present? ? @relation_type.name : '' %>" data-sort="">
    <% if can?(:manage, Work) && controller.action_name != "edit" && !(controller.action_name == "update" && !@work.errors.empty?) %>
      <div class="btn-toolbar pull-right">
        <div class="btn-group btn-group-sm">
          <%= link_to icon("pencil").html_safe, edit_work_path(@work), { :remote => true, :class => 'btn btn-default' } %>
        </div>
        <div class="btn-group btn-group-sm">
          <%= link_to icon("trash").html_safe, work_path(@work), :data => { :confirm => 'Are you sure?' }, :method => :delete, :class => 'btn btn-default' %>
        </div>
        </div>
    <% end %>
    <%= @work.title.html_safe %>
  </div>
  <div class="panel-body">
    <% if can?(:manage, Work) && (controller.action_name == "edit" || (controller.action_name == "update" && !@work.errors.empty?)) %>
      <%= simple_form_for @work, :url => work_path(@work), :html => { :role => "form", :remote => true } do |f| %>
        <%= f.input :title, :input_html => { :rows => 2 } %>
        <%= f.input :doi, :label => 'DOI' %>
        <%= f.input :canonical_url, :label => 'Canonical URL' %>
        <%= f.input :pmid, :label => 'PubMed' %>
        <%= f.input :pmcid, :label => 'PubMed Central' %>
        <%= f.input :wos, :label => 'ArXiV' %>
        <%= f.input :wos, :label => 'Web of Science' %>
        <%= f.input :scp, :label => 'Scopus' %>
        <%= f.input :ark, :label => 'Ark' %>
        <%= f.input :dataone, :label => 'DataONE' %>
        <%= f.input :tracked, :as => :boolean, hint: "Collect metrics for this work" %>
        <%= f.association :work_type, collection: WorkType.order("title").map { |work_type| [work_type.title, work_type.id] }, :include_blank => false %>
        <% if publishers.length > 1 %>
          <%= f.association :publisher, collection: Publisher.order("title").map { |publisher| [publisher.title, publisher.member_id] }, input_html: { class: "form-user" } %>
        <% end %>
        <%= f.input :published_on, label: "Publication Date" do %>
          <%= f.input_field :day, as: :day %>
          <%= f.input_field :month, as: :month %>
          <%= f.input_field :year, as: :year %>
        <% end %>

        <div class="form-group">
          <%= f.submit "Save ", class: "btn btn-default" %>
          <%= link_to 'Cancel', work_path(@work), { :remote => true, :class => 'btn' } %>
        </div>
      <% end %>
    <% else %>
      <dl class="dl-horizontal">
        <dt>Publication Date</dt>
        <dd><%= l @work.published_on, format: date_format(@work) %></dd>
        <% if @work.work_type && @work.work_type.name != "article-journal" %>
          <dt>Type</dt>
          <dd><%= @work.work_type.title %></dd>
        <% end %>
        <% if @work.container_title.present? %>
          <% if @work.work_type && @work.work_type.container %>
            <dt><%= h(@work.work_type.container) %></dt>
          <% else %>
            <dt>Container Title</dt>
          <% end %>
          <dd><%= h(@work.container_title) %></dd>
        <% end %>
        <% if publishers.length > 1 && @work.publisher_id %>
          <dt>Publisher</dt>
          <dd><%= link_to h(@work.publisher.title), publisher_path(@work.publisher.name) %></dd>
        <% end %>
        <% if @work.author.present? %>
          <dt><%= "Author".pluralize(@work.author.length) %></dt>
          <dd><%= author_format(@work.author).html_safe %></dd>
        <% end %>
        <% if @work.volume.present? %>
          <dt>Volume</dt>
          <dd><%= h(@work.volume) %></dd>
        <% end %>
        <% if @work.issue.present? %>
          <dt>Issue</dt>
          <dd><%= h(@work.issue) %></dd>
        <% end %>
        <% if @work.page.present? %>
          <dt>Pages</dt>
          <dd><%= h(@work.page) %></dd>
        <% end %>
        <% if @work.doi.present? %>
          <dt>DOI</dt>
          <dd class="doi" %><%= link_to h(@work.doi_as_url), @work.doi_as_url %></dd>
        <% end %>
        <% if @work.canonical_url.present? %>
          <dt>Publisher URL</dt>
          <dd><%= link_to h(@work.canonical_url), @work.canonical_url %></dd>
        <% end %>
        <% if @work.pmid.present? %>
          <dt>PubMed</dt>
          <dd id="pmid" data-pmid="<%= @work.pmid %>"><%= link_to @work.pmid_as_url, @work.pmid_as_url %></dd>
        <% end %>
        <% if @work.pmcid.present? %>
          <dt>PubMed Central</dt>
          <dd id="pmcid" data-pmcid="<%= @work.pmcid %>"><%= link_to @work.pmcid_as_url, @work.pmcid_as_url %></dd>
        <% end %>
        <% if @work.pmid.present? %>
          <dt>Europe PMC</dt>
          <dd><%= link_to h(@work.pmid_as_europepmc_url), @work.pmid_as_europepmc_url %></dd>
        <% end %>
        <% if @work.wos.present? && @work.wos_url.present? %>
          <dt>Web of Science</dt>
          <dd><%= link_to @work.wos, @work.wos_url %></dd>
        <% end %>
        <% if @work.scp.present? && @work.scopus_url.present? %>
          <dt>Scopus</dt>
          <dd><%= link_to @work.scp, @work.scopus_url %></dd>
        <% end %>
        <% if @work.ark.present? %>
          <dt>Ark</dt>
          <dd><%= link_to @work.ark, @work.ark_as_url %></dd>
        <% end %>
        <% if @work.dataone.present? %>
          <dt>DataONE</dt>
          <dd><%= link_to @work.dataone, @work.dataone_as_url %></dd>
        <% end %>
        <% if @work.mendeley_url.present? %>
          <dt>Mendeley</dt>
          <dd><%= link_to @work.mendeley_url, @work.mendeley_url %></dd>
        <% end %>
        <% if @work.version_relations.present? %>
          <% @work.version_relations.each do |relation| %>
            <dt><%= relation.relation_type.title %></dt>
            <dd><%= link_to relation.related_work.pid, work_url(relation.related_work.pid) %></dd>
          <% end %>
        <% end %>
      </dl>
    <% end %>
  </div>
</div>

<% if @work.tracked %>
  <% if can?(:read, Notification) %>
    <div id="notification-error-message">
      <%= render :partial => 'notification_message' %>
    </div>
  <% end %>
<% end %>

<ul class="nav nav-pills">
  <li class="active"><a href="#references" data-toggle="tab" title="References">References</a></li>
  <% if @work.tracked %>
    <li><a href="#events" data-toggle="tab" title="Events">Events</a></li>
    <li><a href="#more" data-toggle="tab" title="More">Details</a></li>
    <li><a href="#recommendations" data-toggle="tab" title="Recommendations">Recommendations</a></li>
    <% if can?(:read, Notification) %>
      <li><a href="#notification" data-toggle="tab" title="Notifications">Notifications</a></li>
    <% end %>
  <% end %>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="references">
    <%= render :partial => 'references' %>
  </div>
  <% if @work.tracked %>
    <div class="tab-pane" id="events">
      <%= render :partial => 'events' %>
    </div>
    <div class="tab-pane" id="more">
      <%= render :partial => 'more' %>
    </div>
    <div class="tab-pane" id="recommendations">
      <%= render :partial => 'recommendations' %>
    </div>
    <div class="tab-pane" id="notification">
      <%= render :partial => 'notification' %>
    </div>
  <% end %>
</div>
