<div class="row">
  <div class='col-md-9'>
    <div class="search-wide">
      <%= form_tag(notifications_path, :method => "get", :class => "form form-horizontal", :role => "form") do %>
        <div class="input-group">
          <%= search_field_tag :q, params[:q], :placeholder => "Search", :class => "form-control" %>
          <div class="input-group-btn">
            <button type="submit" class="btn btn-primary hidden-xs">Search</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class='col-md-9'>
    <% if @notification_count > 0 %>
      <% if @notification_count > 1 %>
        <h4 class="results"><%= number_with_delimiter(@notification_count) %> Notifications</h4>
      <% end %>
      <% @notifications.each do |notification| %>
        <div class="panel panel-default">
          <div class="panel-heading panel-title panel-list">
            <% if notification.level != 3 %><span class="pull-right"><%= level_label(notification.level).html_safe %></span><% end %>
            <%= link_to ((notification.status.blank? ? "" : "[#{notification.status}] ") + h(notification.message)).html_safe, "#notification_#{notification.uuid}", :class => "accordion-toggle", :id => "notification_#{notification.uuid}-link", :data => { :toggle => "collapse", :parent => "#notification" }, :href => "#notification_#{notification.uuid}" %>
          </div>
          <div class="panel-collapse collapse" id="notification_<%= notification.uuid %>">
            <div class="panel-body notification-inner">
              <% if can?(:destroy, Notification) %>
                <div class="btn-group btn-group-sm pull-right">
                  <a class="btn btn-default dropdown-toggle" id="notification_<%= notification.uuid %>-delete" data-toggle="dropdown" href="#">
                    <%= icon("trash") %> <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "by Message", notification_path(notification, q: params[:q],
                                                                    source_id: params[:source_id],
                                                                    level: params[:level],
                                                                    class_name: params[:class_name],
                                                                    hostname: params[:hostname],
                                                                    page: params[:page]),
                                                                    method: :delete,
                                                                    data: { :confirm => 'Are you sure?' },
                                                                    remote: true,
                                                                    id: "notification_#{notification.uuid}-delete-message" %></li>
                    <li><%= link_to "by Class", notification_path(notification, q: params[:q],
                                                                  source_id: params[:source_id],
                                                                  level: params[:level],
                                                                  class_name: params[:class_name],
                                                                  hostname: params[:hostname],
                                                                  filter: "class_name",
                                                                  page: params[:page]),
                                                                  method: :delete,
                                                                  data: { :confirm => 'Are you sure?' },
                                                                  remote: true,
                                                                  id: "notification_#{notification.uuid}-delete-class" %></li>
                    <% unless notification.source_id.nil? %>
                      <li><%= link_to "by Source", notification_path(notification, q: params[:q],
                                                                     source_id: params[:source_id],
                                                                     level: params[:level],
                                                                     class_name: params[:class_name],
                                                                     hostname: params[:hostname],
                                                                     filter: "source",
                                                                     page: params[:page]),
                                                                     method: :delete,
                                                                     data: { :confirm => 'Are you sure?' },
                                                                     remote: true,
                                                                     id: "notification_#{notification.uuid}-delete-source" %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <p class="class-name"><%= link_to notification.class_name, notifications_path(class_name: h(notification.class_name),
                                                                              source_id: params[:source_id],
                                                                              level: params[:level],
                                                                              hostname: params[:hostname],
                                                                              q: params[:q]) %></p>
              <% if notification.source %>
                <h5>Source</h5>
                <%= link_to notification.source.title, source_path(notification.source) %>
              <% end %>

              <% if notification.work %>
                <h5>Work</h5>
                <%= link_to notification.work.pid, work_path(notification.work) %>
              <% end %>

              <% if notification.deposit %>
                <h5>Deposit</h5>
                <%= link_to notification.deposit.uuid, deposits_path(q: notification.deposit.uuid) %>
              <% end %>

              <h5>Time</h5>
              <%= l notification.created_at, format: :medium %>

              <% unless notification.hostname.blank? %>
                <h5>Hostname</h5>
                <%= notification.hostname %>
              <% end %>

              <% unless notification.content_type.blank? or notification.content_type == "text/html" %>
                <h5>Content Type</h5>
                <%= notification.content_type %>
              <% end %>

              <% unless notification.target_url.blank? %>
                <h5>Target URL</h5>
                <%= link_to notification.target_url, notification.target_url %>
              <% end %>

              <% if ["Net::HTTPUnauthorized","ActionDispatch::RemoteIp::IpSpoofAttackError"].include? notification.class_name %>
                <% unless notification.remote_ip.blank? %>
                  <h5>Remote IP</h5>
                  <%= link_to notification.remote_ip, notification.remote_ip %>
                <% end %>

                <% unless notification.user_agent.blank? %>
                  <h5>User Agent</h5>
                  <%= notification.user_agent %>
                <% end %>
              <% end %>

              <% unless notification.details.blank? %>
                <h5>Details</h5>
                <%= notification.details %>
              <% end %>

              <% unless notification.trace.blank? %>
                <h5>Trace</h5>
                <%= simple_format(notification.trace) %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="text-center">
        <%= will_paginate @notifications, :params => { :controller => notifications_path }, :renderer => BootstrapPagination::Rails %>
      </div>
    <% else %>
      <div class="alert alert-info">There are currently no <% unless @class_name.nil? %><%= h(@class_name.first) %> <% end %>notifications
        <% unless @source.nil? %>
          for <%= @source.title %>
        <% end %>
        <% unless @level.nil? %>
          with level <em><%= Notification::LEVELS[@level.first].humanize %></em>
        <% end %>
        <% unless params[:q].blank? %>
          with <em><%= params[:q] %></em> in the class name, message or PID
        <% end %>
      </div>
    <% end %>
  </div>
  <div class='col-md-3'>
    <% if @hostname.present? || @hostnames.size > 1 %>
      <div class="panel facets">
        <div class="panel-body">
          <h4>Servers</h4>
          <ul>
            <% if @hostname.present? %>
              <li class="active">
                <%= link_to icon('check-square-o').html_safe, notifications_path(class_name: params[:class_name], level: params[:level], q: params[:q]) %>
                <%= @hostname.first %>
                <span class="number pull-right"><%= number_with_delimiter(@hostname.last) %></span>
              </li>
            <% else %>
              <% @hostnames.each do |hostname| %>
                <li>
                  <%= link_to icon('square-o').html_safe, notifications_path(source_id: params[:source_id], class_name: params[:class_name], level: params[:level], hostname: hostname.first, q: params[:q]) %>
                  <%= hostname.first %>
                  <span class="number pull-right"><%= number_with_delimiter(hostname.last) %></span>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <% if @level.present? || @levels.length > 0 %>
      <div class="panel facets">
        <div class="panel-body">
          <h4>Levels</h4>
          <ul>
            <% if @level.present? %>
              <li class="active">
                <%= link_to icon('check-square-o').html_safe, notifications_path(class_name: params[:class_name], source_id: params[:source_id], hostname: params[:hostname], q: params[:q]), id: Notification::LEVELS[@level.first].humanize %>
                <%= Notification::LEVELS[@level.first].humanize %>
                <span class="number pull-right"><%= number_with_delimiter(@level.last) %></span>
              </li>
            <% else %>
              <% @levels.each do |level| %>
                <li>
                  <%= link_to icon('square-o').html_safe, notifications_path(level: Notification::LEVELS[level.first].downcase, class_name: params[:class_name], source_id: params[:source_id], hostname: params[:hostname], q: params[:q]), id: Notification::LEVELS[level.first].humanize %>
                  <%= Notification::LEVELS[level.first].humanize %>
                  <span class="number pull-right"><%= number_with_delimiter(level.last) %></span>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <% if @source_group || @sources.size > 0 %>
      <div class="panel facets">
        <div class="panel-body">
          <h4>Sources</h4>
          <ul>
            <% if @source_group.present? %>
              <li class="active">
                <%= link_to icon('check-square-o').html_safe, notifications_path(level: params[:level], class_name: params[:class_name], hostname: params[:hostname], q: params[:q]) %>
                <%= Source.where(name: @source_group.first).first.title %>
                <span class="number pull-right"><%= number_with_delimiter(@source_group.last) %></span>
              </li>
            <% else %>
              <% @sources.each do |source| %>
                <li>
                  <%= link_to icon('square-o').html_safe, notifications_path(level: params[:level], class_name: params[:class_name], source_id: source.first, hostname: params[:hostname], q: params[:q]) %>
                  <%= Source.where(name: source.first).first ? Source.where(name: source.first).first.title : source.first %>
                  <span class="number pull-right"><%= number_with_delimiter(source.last) %></span>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <% if @class_name.present? || @class_names.size > 0 %>
      <div class="panel facets">
        <div class="panel-body">
          <h4>Class names</h4>
          <ul>
            <% if @class_name.present? %>
              <li class="active">
                <%= link_to icon('check-square-o').html_safe, notifications_path(source_id: params[:source_id], level: params[:level], hostname: params[:hostname], q: params[:q]), id: @class_name.first %>
                <%= formatted_class_name(@class_name.first) %>
                <span class="number pull-right"><%= number_with_delimiter(@class_name.last) %></span>
              </li>
            <% else %>
              <% @class_names.each do |class_name| %>
                <li>
                  <%= link_to icon('square-o').html_safe, notifications_path(class_name: class_name.first, source_id: params[:source_id], level: params[:level], hostname: params[:hostname], q: params[:q]), id: class_name.first %>
                  <%= formatted_class_name(class_name.first) %>
                  <span class="number pull-right"><%= number_with_delimiter(class_name.last) %></span>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
