<div class="content">
  <div class="page-header">
    <h1 id="api_key" data-api_key="<%= ENV['API_KEY'] %>" data-key="<%= params[:key] %>"><%= params[:key].blank? ? "Other" : params[:key].capitalize %> API Requests</h1>
  </div>

  <div id="description">
    <p>Duration of the last 10,000 requests to the ALM API. Filter by <a href="javascript:filter([null, null, [0, 100]])">fast</a> or <a href="javascript:filter([null, null, [1000, 5000]])">slow</a> responses.</p>
  </div>

  <div class="row" id="charts">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Time of Day (UTC) <small id="reset-hour-chart" class="pull-right"></small></div>
        <div class="panel-body req-chart" id="hour-chart">
          <div class="text-muted spinner">Loading … <%= image_tag "spinner.gif" %></div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Database Duration (ms) <small id="reset-db-chart" class="pull-right"></small></div>
        <div class="panel-body req-chart" id="db-chart">
          <div class="text-muted spinner">Loading … <%= image_tag "spinner.gif" %></div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">View Duration (ms) <small id="reset-duration-chart" class="pull-right"></small></div>
        <div class="panel-body req-chart" id="duration-chart">
          <div class="text-muted spinner">Loading … <%= image_tag "spinner.gif" %></div>
        </div>
      </div>
    </div>
  </div>

  <div id="lists">
    <div id="count">
      <div id="totals" class="pull-right"><span id="active">-</span> of <span id="total">-</span> requests selected</div>
    </div>
    <div id="request-list" class="list"></div>
  </div>
</div>

<%= javascript_include_tag 'api_requests/index' %>
