<div class="page-header">
  <div class="btn-group pull-right">
    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-filter"></i> <%= @source.nil? ? "All Sources" : @source.display_name %> <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><%= link_to "All Sources", admin_error_messages_path(:query => params[:query]) %></li>
      <li class="divider"></li>
      <% sources.active.each do|source| %>
      <li><%= link_to h(source.display_name), admin_error_messages_path(:source_id => source.id, :query => params[:query]) %></li>
      <% end %>
    </ul>
  </div>
  <h1>
    <%= pluralize(@error_messages.count, 'Error') %>
    <% unless params[:query].blank? %>
        with <em><%= params[:query] %></em> in the class name or message
    <% end %>
  </h1>
</div>

<div class="search">
  <%= form_tag(admin_error_messages_path, :method => "get", :class => "form-search") do %>
    <%= search_field_tag :query, params[:query], :placeholder => "Search", :class => "input-large", :id => "appendedInputButtons" %>
    <button type="submit" class="btn hidden-phone"><i class="icon-search"></i></button>
    <% unless params[:query].blank? %>
      <%= link_to "clear", admin_error_messages_path(:source_id => params[:source_id]), :class => "btn btn-link hidden-phone" %>
    <% end %>
  <% end %>
</div>

<% if @error_messages.size > 0 %>
  <div class="accordion" id="error_message">
    <% @error_messages.each do |error_message| %>
      <% cache error_message do %>
        <div class="accordion-group">
          <div class="accordion-heading">
            <%= link_to ((error_message.status.blank? ? "" : "[#{error_message.status}] ") + "<strong>" + h(error_message.message) + "</strong>").html_safe, "#error_#{error_message.id}", :class => "accordion-toggle", :id => "link_#{error_message.id}", :data => { :toggle => "collapse", :parent => "#error_message" }, :href => "#error_message_#{error_message.id}" %>
          </div>
          <div class="accordion-body collapse" id="error_message_<%= error_message.id %>">
            <div class="accordion-inner error-inner">
              <% if can?(:destroy, ErrorMessage) %>
                <div class="btn-group pull-right">
                  <a class="btn btn-mini dropdown-toggle" id="<%= error_message.id %>-delete" data-toggle="dropdown" href="#">
                    <i class="icon-trash"></i> Delete <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "by Message", admin_error_message_path(error_message, :query => params[:query],
                                                                                          :source_id => params[:source_id],
                                                                                          :page => params[:page]),
                                                                                          :method => :delete,
                                                                                          :data => { :confirm => 'Are you sure?' },
                                                                                          :remote => true,
                                                                                          :id => "#{error_message.id}-delete-message" %></li>
                    <li><%= link_to "by Class", admin_error_message_path(error_message, :query => params[:query],
                                                                                        :source_id => params[:source_id],
                                                                                        :filter => "class_name",
                                                                                        :page => params[:page]),
                                                                                        :method => :delete,
                                                                                        :data => { :confirm => 'Are you sure?' },
                                                                                        :remote => true,
                                                                                        :id => "#{error_message.id}-delete-class" %></li>
                    <% unless error_message.source_id.nil? %>
                      <li><%= link_to "by Source", admin_error_message_path(error_message, :query => params[:query],
                                                                                           :source_id => params[:source_id],
                                                                                           :filter => "source_id",
                                                                                           :page => params[:page]),
                                                                                           :method => :delete,
                                                                                           :data => { :confirm => 'Are you sure?' },
                                                                                           :remote => true,
                                                                                           :id => "#{error_message.id}-delete-source" %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <p class="class_name"><%= link_to error_message.class_name, admin_error_messages_path(:query => h(error_message.class_name)) %></p>
              <% unless error_message.source_id.blank? %>
                <h5>Source</h5>
                <%= link_to error_message.source.display_name, admin_error_messages_path(source_id: error_message.source_id) %>
              <% end %>

              <h5>Time</h5>
              <%= error_message.created_at.to_s(:friendly) %>

              <% unless error_message.content_type.blank? or error_message.content_type == "text/html" %>
                <h5>Content Type</h5>
                <%= error_message.content_type %>
              <% end %>

              <% unless error_message.target_url.blank? %>
                <h5>Target URL</h5>
                <%= link_to error_message.target_url, error_message.target_url %>
              <% end %>

              <% unless error_message.remote_ip.blank? %>
                <h5>Remote IP</h5>
                <%= link_to error_message.remote_ip, error_message.remote_ip %>
              <% end %>

              <% unless error_message.user_agent.blank? %>
                <h5>User Agent</h5>
                <%= error_message.user_agent %>
              <% end %>

              <% unless error_message.trace.blank? %>
                <h5>Trace</h5>
                <%= simple_format(error_message.trace) %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= will_paginate @error_messages, :params => { :controller => admin_error_messages_path }, :renderer => BootstrapPagination::Rails %>
<% else %>
  <div class="alert alert-info">There are currently no errors
    <% unless @source.nil? %>
        for <%= @source.display_name %>
    <% end %>
    <% unless params[:query].blank? %>
        with <em><%= params[:query] %></em> in the class name or message
    <% end %>
  </div>
<% end %>
