<div class="page-header">
  <div class="btn-group pull-right">
    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-filter"></i> <%= @source.nil? ? "All Sources" : @source.display_name %> <span class="caret"></span></a>
    <ul class="dropdown-menu">      
      <li><%= link_to "All Sources", admin_error_messages_path(:query => params[:query]) %></li>
      <li class="divider"></li>
      <% sources.each do|source| %>
      <li><%= link_to h(source.display_name), admin_error_messages_path(:source_id => source, :query => params[:query]) %></li>
      <% end %>
    </ul>
  </div>
  <h1>
    <%= pluralize(@error_messages.count, 'Error') %>
    <% unless params[:query].blank? %>
        with <em><%= params[:query] %></em> in the class name or message
    <% end %>
  </h1>
</div>

<div class="search">
  <%= form_tag(admin_error_messages_path, :method => "get", :class => "form-search") do %>
    <%= search_field_tag :query, params[:query], :placeholder => "Search", :class => "input-large", :id => "appendedInputButtons" %>
    <button type="submit" class="btn hidden-phone">Search</button>
    <% unless params[:query].blank? %>
      <%= link_to "clear", admin_error_messages_path(:source_id => params[:source_id]), :class => "btn btn-link hidden-phone" %>
    <% end %>
  <% end %>
</div>

<% if @error_messages.size > 0 %>
  <div class="accordion" id="error_message">
    <% @error_messages.each do |error_message| %>
      <div class="accordion-group">  
        <div class="accordion-heading">  
          <%= link_to ("<h4>" + (error_message.status.blank? ? "" : "[#{error_message.status}] ") + h(error_message.message) + "</h4>").html_safe, "#error_#{error_message.id}", :class => "accordion-toggle", :data => { :toggle => "collapse", :parent => "#error_message" }, :href => "#error_#{error_message.id}" %>
        </div>  
        <div id="error_<%= error_message.id %>" class="accordion-body collapse">  
          <div class="accordion-inner">
            <div class="btn-group pull-right">
              <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-trash"></i> Delete <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "by Message", admin_error_message_path(error_message, :query => params[:query]), :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => true, :id => "#{error_message.id}-delete" %></li>
                <li><%= link_to "by Class", admin_error_message_path(error_message, :query => params[:query], :filter => "class_name"), :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => true, :id => "#{error_message.id}-delete" %></li>
              </ul>
            </div>
            <p><%= link_to error_message.class_name, admin_error_messages_path(:query => h(error_message.class_name)) %></p>
            <% unless error_message.content_type.blank? or error_message.content_type == "text/html" %>
              <h5>Content Type</h5>
              <%= error_message.content_type %>
            <% end %>
               
            <% unless error_message.target_url.blank? %>
              <h5>Target URL</h5>
              <%= link_to error_message.target_url, error_message.target_url %>
            <% end %>
        
            <h5>Time</h5>
            <%= error_message.created_at.to_s %>
        
            <% unless error_message.trace.blank? %>
              <h5>Trace</h5>
              <%= simple_format(error_message.trace) %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= will_paginate @error_messages, :params => { :controller => admin_error_messages_path }, :renderer => BootstrapPagination::Rails %>
<% else %>
  <div class="alert alert-info">There are currently no errors 
    <% unless params[:query].blank? %>
        with <em><%= params[:query] %></em> in the class name or message
    <% end %>
    <% unless params[:source_id].blank? %>
        for this source
    <% end %>
  </div>
<% end %>