<div class="row">
  <div class="col-md-9">
    <div class="search-wide">
      <%= form_tag(users_path, :method => "get", :class => "form form-horizontal", :role => "form") do %>
        <div class="input-group">
          <%= search_field_tag :q, params[:q], :placeholder => "Search user", :class => "form-control" %>
          <div class="input-group-btn">
            <button type="submit" class="btn btn-primary hidden-xs">Search</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-9" id="content">
    <% if @users.size > 0 %>
      <% @users.each do |user| %>
        <div class="panel panel-default">
          <div class="panel-heading panel-title panel-list">
            <%= link_to ("#{h(user.name)}<small class='pull-right'>#{user.created_at.to_s(:short)}</small>").html_safe, "#user_#{user.id}", :class => "accordion-toggle", :id => "link_#{user.id}", :data => { :toggle => "collapse", :parent => "#user" }, :href => "#user_#{user.id}" %>
          </div>
          <% if can?(:manage, user) && @user && @user.id == user.id && (controller.action_name == "edit" or (controller.action_name == "update" and !@user.errors.empty?)) %>
            <div id="user_<%= user.id %>" class="panel-collapse collapse.in">
              <div class="panel-body">
                <%= simple_form_for user, url: user_path(user), html: { role: "form", remote: true } do |f| %>
                  <%= f.input :authentication_token, label: "API key", input_html: { class: "form-user" } %>
                  <%= f.input :role, collection: roles.map { |role| [role.titleize, role] }, include_blank: false, input_html: { class: "form-user" } %>
                  <%= f.association :publisher, collection: Publisher.order('title').map { |publisher| [publisher.title, publisher.name] }, input_html: { class: "form-user" } %>

                  <div class="form-group">
                    <%= f.submit "Save ", class: "btn btn-default" %>
                    <%= link_to 'Cancel', users_path(query: params[:query], role: params[:role]), { :remote => true, :class => 'btn' } %>
                  </div>
                <% end %>
              </div>
            </div>
          <% else %>
            <div id="user_<%= user.id %>" class="panel-collapse collapse">
              <div class="panel-body user">
                <% if can?(:manage, user) && user.id != current_user.id %>
                  <div class="btn-toolbar pull-right">
                    <div class="btn-group btn-group-sm">
                      <%= link_to icon("pencil").html_safe, edit_user_path(user, query: params[:query], role: params[:role]), remote: true, class: 'btn btn-default btn-sm', id: "#{user.id}-edit" %>
                    </div>
                    <div class="btn-group btn-group-sm">
                      <%= link_to icon("trash").html_safe, user_path(user, query: params[:query], role: params[:role]), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'btn btn-default btn-sm', id: "#{user.id}-delete" %>
                    </div>
                  </div>
                <% end %>

                <% if user.email.present? %>
                  <h5>Email</h5>
                  <%= link_to h(user.email), "mailto:#{user.email}" %>
                <% end %>

                <h5>API key</h5>
                <%= link_to user.authentication_token, api_requests_path(q: user.authentication_token) %>

                <h5>Role</h5>
                <%= user.role.capitalize %>

                <% if user.publisher_id %>
                  <h5>Publisher</h5>
                  <%= link_to h(user.publisher.title), publisher_path(user.publisher_id) %>
                <% end %>

                <h5>Account created</h5>
                <%= l user.created_at, format: :medium %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="text-center">
        <%= will_paginate @users, :params => { :controller => users_path }, :renderer => BootstrapPagination::Rails %>
      </div>
    <% else %>
      <div class="alert alert-info">There are currently no users
        <% unless @role.nil? %>
            with role "<%= @role.capitalize %>"
        <% end %>
        <% unless params[:query].blank? %>
            with <em><%= params[:query] %></em> in the name, email or API key
        <% end %>
      </div>
    <% end %>
  </div>
  <div class='col-md-3'>
    <div class="panel facets">
      <div class="panel-body">
        <h4>Roles</h4>
        <ul>
          <% if @role.present? %>
            <li class="active">
              <%= link_to icon('check-square-o').html_safe, users_path(q: params[:q]) %>
              <%= @role.first.humanize %>
              <span class="number pull-right"><%= number_with_delimiter(@role.last) %></span>
            </li>
          <% else %>
            <% @roles.each do|role| %>
              <li>
                <%= link_to icon('square-o').html_safe, users_path(q: params[:q], role: role.first) %>
                <%= role.first.humanize %>
                <span class="number pull-right"><%= number_with_delimiter(role.last) %></span>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
