<div class="panel panel-default">
  <div class="panel-heading panel-title">
    <% if can?(:create, User) && controller.action_name != "edit" && !(controller.action_name == "update" && !@user.errors.empty?) %>
      <span class="pull-right">
         <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_user_path(@user), { remote: true, class: 'btn btn-default btn-sm', id: 'edit' } %>
      </span>
    <% end %>
    Your Account
  </div>
  <div class="panel-body">
    <% if can?(:create, User) && (controller.action_name == "edit" || (controller.action_name == "update" && !@user.errors.empty?)) %>
      <%= simple_form_for @user, :url => user_path(@user), :html => { :remote => true } do |f| %>
          <%= f.input :name, input_html: { class: "form-user" } %>
          <%= f.input :authentication_token, label: "API key", input_html: { class: "form-user" } %>
          <%= f.input :password, input_html: { class: "form-user" } %>
          <%= f.input :password_confirmation, input_html: { class: "form-user" } %>
          <%= f.association :publisher, collection: Publisher.order('title').map { |publisher| [publisher.title, publisher.member_id] }, input_html: { class: "form-user" } %>

          <div class="form-group">
            <%= f.submit "Save ", class: "btn btn-default" %>
            <%= link_to 'Cancel', user_path(@user), { remote: true, class: 'btn' } %>
          </div>
      <% end %>
    <% else %>
      <dl class="dl-horizontal">
        <% if @user.name != @user.username %>
          <dt>Name</dt>
          <dd><%= @user.name %></dd>
        <% end %>
        <dt>Username</dt>
        <dd><%= @user.username %></dd>
        <% if @user.email.present? %>
          <dt>Email</dt>
          <dd><%= @user.email %></dd>
        <% end %>
        <dt>Role</dt>
        <% if @user.role == "admin" %>
          <dd>Admin - full access to the ALM application</dd>
        <% elsif @user.role == "staff" %>
          <dd>Staff - read access to the admin dashboard</dd>
        <% else %>
          <dd>User - read access to the API</dd>
        <% end %>
        <% if can?(:create, User) && @user.publisher %>
          <dt>Publisher</dt>
          <dd><%= link_to h(@user.publisher.title), publisher_path(@user.publisher.member_id) %></dd>
        <% end %>
        <dt>API Key</dt>
        <dd><%= @user.authentication_token %></dd>
      </dl>
    <% end %>
  </div>
</div>

<ul class="nav nav-pills">
  <li class="active"><a href="#reports" data-toggle="tab">Reports</a></li>
  <li><a href="#documentation" data-toggle="tab" title="Documentation">Documentation</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="reports">
    <%= render :partial => 'reports' %>
  </div>
  <div class="tab-pane" id="documentation">
    <%= render :partial => 'docs/show' %>
  </div>
</div>
