<% if can?(:manage, Publisher) and (controller.action_name == "new" or (controller.action_name == "create" and !@publisher.errors.empty?)) %>

  <div class="page-header">
    <h1>Add Publisher</h1>
  </div>

  <div class="search">
    <%= form_tag(new_publisher_path, :method => "get", :class => "form-inline", :role => "form", remote: true) do %>
      <div class="form-group">
        <%= search_field_tag :query, params[:query], :placeholder => "Search by Name", :class => "form-control" %>
      </div>
      <button type="submit" id="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      <% unless params[:query].blank? %>
        <%= link_to "clear", new_publisher_path, { :remote => true, :class => 'btn' } %>
      <% end %>
    <% end %>
  </div>

  <% if @publishers.size > 0 %>
    <div id="results">
      <%= form_tag(publishers_path, :method => "post", :remote => true) do %>
        <fieldset class="radio_tag">
          <% @publishers.each_with_index do |publisher, i| %>
            <h4 class="article">
              <%= radio_button_tag "publisher[crossref_id]", publisher.crossref_id, (i == 0), class: "radio_tag" %>
              <%= hidden_field_tag "publisher[name]", publisher.name %>
              <%= hidden_field_tag "publisher[other_names][]", publisher.other_names %>
              <%= hidden_field_tag "publisher[prefixes][]", publisher.prefixes %>
              <%= link_to publisher.name, "http://api.crossref.org/members/#{publisher.crossref_id}" %>
            </h4>
            <p class="radio_tag"><%= pluralize(publisher.prefixes.size, 'Prefix') + ": " + publisher.prefixes.join(" ") %></p>
          <% end %>
        </fieldset>
        <div class="form-group form_tag">
          <%= submit_tag 'Save', class: "btn btn-default" %>
          <%= link_to 'Cancel', publishers_path, { :remote => true, :class => 'btn' } %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="alert alert-info">No CrossRef members to add
      <% unless params[:query].blank? %>
          with <em><%= params[:query] %></em> in the name
      <% end %>
    </div>
    <div class="form-group form_tag">
      <%= link_to 'Cancel', publishers_path, { :remote => true, :class => 'btn' } %>
    </div>
  <% end %>
<% else %>
  <div class="page-header">
    <div class="btn-toolbar pull-right">
      <% if can?(:manage, Publisher) %>
        <div class="btn-group btn-group-sm">
          <%= link_to '<span class="glyphicon glyphicon-plus"></span>'.html_safe, new_publisher_path, { :remote => true, :id => "new_publisher", :class => 'btn btn-default' } %>
        </div>
      <% end %>
    </div>
    <h1>Publishers</h1>
  </div>

  <% if @publishers.size > 0 %>
    <div id="results">
      <% @publishers.each do |publisher| %>
        <h4 class="article"><%= link_to h(publisher.name), publisher_path(publisher.crossref_id) %></h4>
        <p><%= pluralize(publisher.prefixes.size, 'Prefix') + ": " + publisher.prefixes.join(" ") %></p>
      <% end %>
    </div>
    <%= will_paginate @publishers, :params => { :controller => publishers_path }, :renderer => BootstrapPagination::Rails %>
  <% else %>
    <div class="alert alert-info">There are currently no publishers</div>
  <% end %>
<% end %>
