<% if can?(:manage, Publisher) and (controller.action_name == "new" or (controller.action_name == "create" and !@publisher.errors.empty?)) %>

  <div class="page-header">
    <h1>Add Publisher</h1>
  </div>

  <div class="search">
    <%= form_tag(new_publisher_path, :method => "get", :class => "form-inline", :role => "form", remote: true) do %>
      <div class="form-group">
        <%= search_field_tag :query, params[:query], :placeholder => "Search by Name", :class => "form-control" %>
      </div>
      <button type="submit" id="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      <% unless params[:query].blank? %>
        <%= link_to "clear", new_publisher_path, { :remote => true, :class => 'btn' } %>
      <% end %>
    <% end %>
  </div>

  <% if @publishers.size > 0 %>
    <div id="results">
      <%= form_tag(publishers_path, :method => "post", :remote => true) do %>
        <fieldset class="radio_tag">
          <% @publishers.each do |publisher| %>
            <h4 class="article">
              <input name="publisher[crossref_id]" type="radio" value="<%= publisher.crossref_id %>" class="radio_tag">
              <input name="publisher[name]" type="hidden" value="<%= publisher.name %>">
              <input name="publisher[other_names][]" type="hidden" value="<%= publisher.other_names %>">
              <input name="publisher[prefixes][]" type="hidden" value="<%= publisher.prefixes %>">
              <%= link_to publisher.name, "http://api.crossref.org/members/#{publisher.crossref_id}" %>
            </h4>
            <% if publisher.other_names.present? && publisher.other_names.length > 1 %>
              <p class="radio_tag"><%= publisher.other_names.select { |name| name != publisher.name }.join(" • ").html_safe %></p>
            <% end %>
            <p class="radio_tag">Prefixes: <%= publisher.prefixes.join(" ") %></p>
          <% end %>
        </fieldset>
        <div class="form-group form_tag">
          <%= submit_tag 'Save', class: "btn btn-default" %>
          <%= link_to 'Cancel', publishers_path, { :remote => true, :class => 'btn' } %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="alert alert-info">There are currently no CrossRef members
      <% unless params[:query].blank? %>
          with <em><%= params[:query] %></em> in the name
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="page-header">
    <div class="btn-toolbar pull-right">
      <% if can?(:manage, Publisher) %>
        <div class="btn-group btn-group-sm">
          <%= link_to '<span class="glyphicon glyphicon-plus"></span>'.html_safe, new_publisher_path, { :remote => true, :id => "new_publisher", :class => 'btn btn-default' } %>
        </div>
      <% end %>
    </div>
    <h1>Publishers</h1>
  </div>

  <% if @publishers.size > 0 %>
    <div id="results">
      <% @publishers.each do |publisher| %>
        <h4 class="article"><%= link_to h(publisher.name), publisher_path(publisher.crossref_id) %></h4>
        <p>Prefixes: <%= publisher.prefixes.join(" ") %></p>
      <% end %>
    </div>
    <%= will_paginate @publishers, :params => { :controller => publishers_path }, :renderer => BootstrapPagination::Rails %>
  <% else %>
    <div class="alert alert-info">There are currently no publishers</div>
  <% end %>
<% end %>
