<div class="page-header">
  <h1>Publishers
    <% unless params[:query].blank? %>
      <small>with <em><%= params[:query] %></em> in the name</small>
    <% end %>
  </h1>
</div>

<div class="search">
  <%= form_tag(publishers_path, :method => "get", :class => "form-inline", :role => "form") do %>
    <div class="form-group">
      <%= search_field_tag :query, params[:query], :placeholder => "Search", :class => "form-control" %>
    </div>
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
    <% unless params[:query].blank? %>
      <%= link_to "clear", publishers_path, :class => "btn" %>
    <% end %>
  <% end %>
</div>

<% if @publishers.size > 0 %>
  <div class="panel-group" id="publisher">
    <% @publishers.each do |publisher| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title remote"><%= link_to h(publisher.name), "#publisher_#{publisher.crossref_id}", :class => "accordion-toggle", :id => "link_#{publisher.crossref_id}", :data => { :toggle => "collapse", :parent => "#publisher" }, :href => "#publisher_#{publisher.crossref_id}" %></h4>
        </div>
        <div id="publisher_<%= publisher.crossref_id %>" class="panel-collapse collapse">
          <div class="panel-body">
            <% if can?(:manage, publisher) %>
              <div class="btn-group btn-sm pull-right">
                <% if publisher.persisted? %>
                  <%= link_to 'Delete', publisher_path(publisher, event: "delete", query: params[:query]), :method => :put, :remote => true, :class => 'btn btn-default btn-sm', :id => "#{publisher.crossref_id}-remove", :title => "Remove Publisher" %>
                <% else %>
                  <%= link_to 'Import', publisher_path(publisher, event: "import", query: params[:query]), :method => :put, :remote => true, :class => 'btn btn-info btn-sm', :id => "#{publisher.crossref_id}-import", :title => "Import Publisher" %>
                <% end %>
              </div>
            <% end %>

            <% if publisher.other_names.present? && publisher.other_names.length > 1 %>
              <h5>Names</h5>
              <%= publisher.other_names.join("</br>").html_safe %>
            <% end %>

            <% if publisher.prefixes.present? %>
              <h5>DOI Prefixes</h5>
              <%= publisher.prefixes.join(" ") %>
            <% end %>

            <% if publisher.crossref_id.present? %>
              <h5>CrossRef ID</h5>
              <%= link_to publisher.crossref_id, "http://api.crossref.org/members/#{publisher.crossref_id}" %>
            <% end %>

            <% if publisher.persisted? %>
              <h5>Account created</h5>
              <%= publisher.created_at.to_s(:friendly) %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= will_paginate @publishers, :params => { :controller => publishers_path }, :renderer => BootstrapPagination::Rails %>
<% else %>
  <div class="alert alert-info">There are currently no publishers
    <% unless params[:query].blank? %>
        with <em><%= params[:query] %></em> in the name
    <% end %>
  </div>
<% end %>
