<% if can?(:manage, Publisher) and (controller.action_name == "new" or (controller.action_name == "create" and !@publisher.errors.empty?)) %>

  <div class="page-header">
    <h2>Add Publisher</h2>
  </div>

  <div class="search">
    <%= form_tag(new_publisher_path, :method => "get", :id => "search_form", :class => "form-inline", :role => "form", remote: true) do %>
      <div class="form-group">
        <%= search_field_tag :q, params[:q], :placeholder => "Search", :class => "form-control", autofocus: true %>
      </div>
      <button type="submit" id="submit" class="btn btn-default"><%= icon("search") %></button>
      <% if params[:q].blank? %>
        <%= link_to 'cancel', publishers_path, { :remote => true, :class => 'btn' } %>
      <% else %>
        <%= link_to "clear", new_publisher_path, { :remote => true, :class => 'btn' } %>
      <% end %>
    <% end %>
  </div>

  <div class="content" id="content">
    <% if @publishers.size > 0 %>
      <%= form_tag(publishers_path, :method => "post", :remote => true) do %>
        <% @publishers.each_with_index do |publisher, i| %>
          <div class="panel panel-default">
            <div class="panel-heading"><%= publisher.title %></div>
            <div class="panel-body">
              <% if publisher.other_names.present? && publisher.other_names.size > 1 %>
                <p><%= publisher.other_names.reject { |name| name == publisher.title }.join("</br>").html_safe %></p>
              <% end %>
              <% if publisher.prefixes %>
                <p><%= 'Prefix'.pluralize(publisher.prefixes.size) + ": " + publisher.prefixes.join(" ") %></p>
              <% end %>
              <%= radio_button_tag "id", publisher.name, class: "radio_tag", tabindex: i %>Select
            </div>
          </div>
        <% end %>
        <div class="form-group form_tag">
          <%= submit_tag 'Save', id: "form_submit", class: "btn btn-default" %>
          <%= link_to 'Cancel', publishers_path, { :remote => true, :class => 'btn' } %>
        </div>
      <% end %>
    <% else %>
      <div class="alert alert-info">
        <% if params[:q].present? %>
          No publisher found with <em><%= params[:q] %></em> in the name
        <% else %>
          Please enter a search term
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="page-header">
    <div class="btn-toolbar pull-right">
      <% if can?(:manage, Publisher) %>
        <div class="btn-group btn-group-sm">
          <%= link_to icon("plus").html_safe, new_publisher_path, { :remote => true, :id => "new-publisher", :class => 'btn btn-default' } %>
        </div>
      <% end %>
    </div>

    <%= form_tag(publishers_path, :method => "get", :class => "form-inline text-center", :role => "form") do %>
      <div class="form-group">
        <%= search_field_tag :q, params[:q], :placeholder => "Search", :class => "form-control" %>
      </div>
      <button type="submit" class="btn btn-default hidden-xs"><%= icon("search") %></button>
      <% unless params[:q].blank? %>
        <%= link_to "clear", publishers_path, :class => "btn" %>
      <% end %>
    <% end %>
  </div>

  <div class="content" id="content">
    <% if @publishers.size > 0 %>
      <div id="results">
        <% @publishers.each do |publisher| %>
          <h4 class="work"><%= link_to h(publisher.title), publisher_path(publisher.name) %></h4>
          ID: <%= publisher.name %>
          <% if publisher.prefixes.present? %>
            <p><%= 'Prefix'.pluralize(publisher.prefixes.size) + ": " + publisher.prefixes.join(" ") %></p>
          <% end %>
        <% end %>
      </div>
      <div class="text-center">
        <%= will_paginate @publishers, :params => { :controller => publishers_path }, :renderer => BootstrapPagination::Rails %>
      </div>
    <% else %>
      <div class="alert alert-info">
        There are currently no publishers
        <% unless params[:q].blank? %>
          with <em><%= params[:q] %></em> in the name
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
