<% if can?(:manage, Publisher) and (controller.action_name == "new" or (controller.action_name == "create" and !@publisher.errors.empty?)) %>
  <div class="search">
    <%= form_tag(new_publisher_path, :method => "get", :id => "search_form", :class => "form-inline", :role => "form", remote: true) do %>
      <div class="form-group">
        <%= search_field_tag :q, params[:q], :placeholder => "Search publisher", :class => "form-control", autofocus: true %>
      </div>
      <button type="submit" id="submit" class="btn btn-default"><%= icon("search") %></button>
      <% if params[:q].blank? %>
        <%= link_to 'cancel', publishers_path, { :remote => true, :class => 'btn' } %>
      <% else %>
        <%= link_to "clear", new_publisher_path, { :remote => true, :class => 'btn' } %>
      <% end %>
    <% end %>
  </div>

  <div class="content" id="content">
    <% if @publishers.size > 0 %>
      <%= form_tag(publishers_path, :method => "post", :remote => true) do %>
        <% @publishers.each_with_index do |publisher, i| %>
          <div class="panel panel-default">
            <div class="panel-heading"><%= publisher.title %></div>
            <div class="panel-body">
              <% if publisher.prefixes %>
                <p><%= 'Prefix'.pluralize(publisher.prefixes.size) + ": " + publisher.prefixes.map { |p| p.name }.join(" ") %></p>
              <% end %>
              <%= radio_button_tag "id", publisher.name, class: "radio_tag", tabindex: i %>Select
            </div>
          </div>
        <% end %>
        <div class="form-group form_tag">
          <%= submit_tag 'Save', id: "form_submit", class: "btn btn-default" %>
          <%= link_to 'Cancel', publishers_path, { :remote => true, :class => 'btn' } %>
        </div>
      <% end %>
    <% else %>
      <div class="alert alert-info">
        <% if params[:q].present? %>
          No publisher found with <em><%= params[:q] %></em> in the name
        <% else %>
          Please enter a search term
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="row">
    <div class='col-md-9'>
      <div class="search-wide">
        <%= form_tag(publishers_path, :method => "get", :class => "form form-horizontal", :role => "form") do %>
          <div class="input-group">
            <%= search_field_tag :q, params[:q], :placeholder => "Search", :class => "form-control" %>
            <div class="input-group-btn">
              <button type="submit" class="btn btn-primary hidden-xs">Search</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-md-9'>
      <% if @publisher_count > 0 %>
        <% if @publisher_count > 1 %>
          <h4 class="results"><%= number_with_delimiter(@publisher_count) %> Publishers</h4>
        <% end %>
        <% @publishers.each do |publisher| %>
          <div class="panel panel-default">
            <div class="panel-body">
              <h4 class="work"><%= link_to h(publisher.title), publisher_path(publisher.name) %></h4>
              <% if publisher.prefixes.present? %>
                <p><%= 'Prefix'.pluralize(publisher.prefixes.size) + ": " + publisher.prefixes.map { |p| p.name }.join(" ") %></p>
              <% end %>
            </div>
            <div class="panel-footer">
              <%= icon("info-circle") %> <%= publisher.name %>
              <% if publisher.registration_agency_id.present? %>
                <span class="pull-right"> <%= publisher.registration_agency.title %></span>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="text-center">
          &nbsp;<%= will_paginate @publishers, :params => { :controller => publishers_path }, :renderer => BootstrapPagination::Rails %>
        </div>
      <% else %>
        <div class="alert alert-info">
          There are currently no publishers
          <% unless params[:q].blank? %>
            with <em><%= params[:q] %></em> in the name
          <% end %>
        </div>
      <% end %>
    </div>
    <div class='col-md-3'>
      <% if @registration_agencies.size > 0 %>
        <div class="panel facets">
          <div class="panel-body">
            <h4>Registration Agencies</h4>
            <ul>
              <% if @registration_agency_group %>
                <li class="active">
                  <%= link_to icon('check-square-o').html_safe, publishers_path(q: params[:q]) %>
                  <%= @registration_agency_group.first.title %>
                  <span class="number pull-right"><%= number_with_delimiter(@registration_agency_group.last) %></span>
                </li>
              <% else %>
                <% @registration_agencies.each do |ra| %>
                  <li>
                    <%= link_to icon('square-o').html_safe, publishers_path(q: params[:q], registration_agency_id: ra.first.name) %>
                    <%= ra.first.title %>
                    <span class="number pull-right"><%= number_with_delimiter(ra.last) %></span>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      <% if can?(:manage, Publisher) %>
        <div class="panel facets">
          <div class="panel-body">
            <h4 class="link"><%= link_to "Add Publisher", new_publisher_path, { remote: true, id: "new-publisher" } %></h4>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
