<% if can?(:manage, Publisher) and (controller.action_name == "new" or (controller.action_name == "create" and !@publisher.errors.empty?)) %>

  <div class="page-header">
    <h1>Add Publisher</h1>
  </div>

  <div class="search">
    <%= form_tag(new_publisher_path, :method => "get", :id => "search_form", :class => "form-inline", :role => "form", remote: true) do %>
      <div class="form-group">
        <%= search_field_tag :query, params[:query], :placeholder => "Search by Name", :class => "form-control", autofocus: true %>
      </div>
      <button type="submit" id="search_submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      <% if params[:query].blank? %>
        <%= link_to 'cancel', publishers_path, { :remote => true, :class => 'btn' } %>
      <% else %>
        <%= link_to "clear", new_publisher_path, { :remote => true, :class => 'btn' } %>
      <% end %>
    <% end %>
  </div>

  <div class="content" id="content">
    <% if @publishers.size > 0 %>
        <%= form_tag(publishers_path, :method => "post", :remote => true) do %>
          <% @publishers.each_with_index do |publisher, i| %>
            <div class="panel panel-default">
              <div class="panel-heading"><%= link_to h(publisher.name), publisher_path(publisher.crossref_id) %></div>
              <div class="panel-body">
                <% if publisher.other_names.size > 1 %>
                  <p><%= publisher.other_names.reject { |name| name == publisher.name }.join("</br>").html_safe %></p>
                <% end %>
                <p><%= 'Prefix'.pluralize(publisher.prefixes.size) + ": " + publisher.prefixes.join(" ") %></p>
                <%= radio_button_tag "publisher", publisher.to_json(:only => [:crossref_id, :name, :other_names, :prefixes]), (i == 0), class: "radio_tag",tabindex: i %>Select
              </div>
            </div>
          <% end %>
          <div class="form-group form_tag">
            <%= submit_tag 'Save', id: "form_submit", class: "btn btn-default" %>
            <%= link_to 'Cancel', publishers_path, { :remote => true, :class => 'btn' } %>
          </div>
        <% end %>
    <% else %>
      <div class="alert alert-info">
        <% if params[:query].present? %>
          No CrossRef members found with <em><%= params[:query] %></em> in the name
        <% else %>
          Please enter a search term
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="page-header">
    <div class="btn-toolbar pull-right">
      <% if can?(:manage, Publisher) %>
        <div class="btn-group btn-group-sm">
          <%= link_to '<span class="glyphicon glyphicon-plus"></span>'.html_safe, new_publisher_path, { :remote => true, :id => "new_publisher", :class => 'btn btn-default' } %>
        </div>
      <% end %>
    </div>
    <h1>Publishers</h1>
  </div>

  <div class="content" id="content">
    <% if @publishers.size > 0 %>
      <div id="results">
        <% @publishers.each do |publisher| %>
          <h4 class="work"><%= link_to h(publisher.name), publisher_path(publisher.crossref_id) %></h4>
          <p><%= 'Prefix'.pluralize(publisher.prefixes.size) + ": " + publisher.prefixes.join(" ") %></p>
        <% end %>
      </div>
      <div class="text-center">
        <%= will_paginate @publishers, :params => { :controller => publishers_path }, :renderer => BootstrapPagination::Rails %>
      </div>
    <% else %>
      <div class="alert alert-info">There are currently no publishers</div>
    <% end %>
  </div>
<% end %>
