<div class="row work-page">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4 class="work"><%= @publisher.title.html_safe %></h4>
        <% if @publisher.prefixes %>
          <div class="prefix"><%= 'Prefix'.pluralize(@publisher.prefixes.size) + ": " + @publisher.prefixes.map { |p| p.name }.join(" ") %></div>
        <% end %>
        <% if can?(:read, Notification) && @publisher.users.present? %>
          <h5>Users</h5>
          <div class="user"><%= @publisher.users.map { |user| link_to h(user.email), users_path(query: user.email) }.join("</br>").html_safe %></div>
        <% end %>
      </div>
      <div class="panel-footer">
        <%= icon("info-circle") %> <%= @publisher.name %>
        <% if can?(:manage, Publisher) %>
          <div class="btn-toolbar pull-right">
            <div class="btn-group btn-group-sm pull-right" role="group">
              <%= link_to icon("trash").html_safe, publisher_path(@publisher.name), :data => { :confirm => 'Are you sure?' }, :method => :delete, :class => 'btn btn-default' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel facets">
      <div class="panel-body metadata">
        <% if @publisher.registration_agency.present? %>
          <h5>Registration Agency</h5>
          <div class="registration_agency"><%= @publisher.registration_agency.title %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
