<div class="row">
  <div class="col-md-9" id="content">
    <div class="text-muted loading" id="loading-results">Loading … <%= image_tag "spinner.gif" %></div>
    <div class="btn-toolbar pull-right">
      <div class="btn-group btn-group-sm">
        <a class="btn btn-default dropdown-toggle hidden" id="work-sort" data-toggle="dropdown" href="#"><%= icon("sort") %> <%= @sort.nil? ? "Sort by Date" : "Sort by #{@sort.title}" %> <span class="caret"></span></a>
        <ul class="dropdown-menu pull-right">
          <li><%= link_to "Sort by Date", publisher_path(@publisher.name, q: params[:q], class_name: params[:class_name], source_id: params[:source_id]) %></li>
          <% if @source.nil? %>
            <% Source.for_results_and_relations.each do |source| %>
              <li><%= link_to "Sort by #{source.title}", publisher_path(@publisher.name, q: params[:q], class_name: params[:class_name], source_id: params[:source_id], sort: source.name) %></li>            <% end %>
          <% else %>
            <li class="divider"></li>
            <li><%= link_to "Sort by #{@source.title}", publisher_path(@publisher.name, q: params[:q], class_name: params[:class_name], source_id: @source.name, sort: @source.name) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class='col-md-3'>
    <% if Source.for_results_and_relations.size > 0 %>
      <div class="panel facets">
        <div class="panel-body">
          <h4>Sources</h4>
          <ul>
            <% if @source.present? %>
              <li class="active">
                <%= link_to icon('check-square-o').html_safe, publisher_path(@publisher.name, q: params[:q]) %>
                <%= @source.title %>
              </li>
            <% else %>
              <% Source.for_results_and_relations.each do |source| %>
                <li>
                  <%= link_to icon('square-o').html_safe, publisher_path(@publisher.name, q: params[:q], source_id: source.name) %>
                  <%= source.title %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'works/index' %>
