<div class="work">&nbsp;
  <div class="btn-toolbar pull-left">
    <div class="btn-group btn-group-sm" id="work-source">
      <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><%= icon("filter") %> <%= @source.nil? ? "All Sources" : h(@source.title) %> <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to "All Sources", publisher_path(@publisher.name, sort: params[:sort]) %></li>
        <% Group.order("id").each do |group| %>
          <% group.sources.visible.each_with_index do |source, i| %>
            <%= '<li class="divider"></li>'.html_safe if i == 0 %>
            <li><%= link_to "Filter by #{source.title}", publisher_path(@publisher.name, source_id: source.name) %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="btn-toolbar pull-right">
    <div class="btn-group btn-group-sm" id="publisher-sort">
      <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><%= icon("sort") %> <%= @sort.nil? ? "Sort by Date" : "Sort by #{@sort.title}" %> <span class="caret"></span></a>
      <ul class="dropdown-menu pull-right">
        <li><%= link_to "Date", publisher_path(@publisher.name, source_id: params[:source_id]) %></li>
        <% if @source.nil? %>
          <% Group.order("id").each do |group| %>
            <% group.sources.visible.each_with_index do |source, i| %>
              <%= '<li class="divider"></li>'.html_safe if i == 0 %>
              <li><%= link_to "Sort by #{source.title}", publisher_path(@publisher.name, source_id: params[:source_id], sort: source.name) %></li>
            <% end %>
          <% end %>
        <% else %>
          <li class="divider"></li>
          <li><%= link_to "Sort by #{@source.title}", publisher_path(@publisher.name, source_id: @source.name, sort: @source.name) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div id="content">
  <div class="text-muted loading" id="loading-results">Loading … <%= image_tag "spinner.gif" %></div>
</div>

<%= javascript_include_tag 'works/index' %>
