<% unless @sources.empty? %>
  <table class="table table-striped" id="ResponsesTable">
    <thead>
      <tr>
        <th>Source</th>
        <th>Status</th>
        <th class="hidden-phone number">Responses&nbsp;(24&nbsp;hours)</th>
        <th class="hidden-phone number">Average Duration&nbsp;(ms)</th>
        <th class="number">Errors (24&nbsp;hours)</th>
      </tr>
    </thead>
    <tbody>
      <% @sources.each do|source| %>
        <% cache source do %>
          <tr>
          <td><%= link_to h(source["name"]), source["url"] %></td>
          <td><%= state_label(source["state"]).html_safe %></td>
          <td class="hidden-phone number"><%= number_not_showing_zero(source["response_count"]) %></td>
          <td class="hidden-phone number"><%= number_not_showing_zero(source["response_duration"], precision: 0) %></td>
          <td class="number"><%= link_to_unless source["error_count"].nil?, number_not_showing_zero(source["error_count"]), admin_alerts_path(:source_id => source["id"]) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info">No active sources found</div>
<% end %>
