<div class="content">
  <div class="page-header">
    <h1 id="api_key" data-api_key="<%= APP_CONFIG['api_key'] %>"><%= link_to "Responses", admin_responses_path %></h1>
  </div>

   <p>Number of articles that have been updated with new information from sources.</p>

   <div id="responses">
     <%= render :partial => 'index' %>
  </div>

  <%= javascript_tag do -%>
    <%= render :partial => 'index', formats: :js %>
  <% end %>
</div>
