<div class="panel panel-default">
  <div class="panel-heading panel-title">
    <% if can?(:manage, Agent) && @agent.state > 1 && controller.action_name != "edit" && !(controller.action_name == "update" && !@agent.errors.empty?) %>
      <div class="btn-toolbar pull-right">
        <div class="btn-group btn-group-sm">
          <%= link_to icon("pencil").html_safe, edit_agent_path(@agent.name), { :remote => true, :class => 'btn btn-default btn-sm pull-right configuration-edit', :title => "Edit" } %>
        </div>
      </div>
    <% end %>
    Configuration
  </div>
  <% if can?(:manage, Agent) && @agent.state > 1 && (controller.action_name == "edit" || (controller.action_name == "update" && !@agent.errors.empty?)) %>
    <div class="panel-body">
      <%= simple_form_for(@agent.becomes(Agent), :url => agent_path(@agent.name), :html => { :remote => true }) do |f| %>
        <% f.object = @agent.becomes(@agent.class) %>

        <%= f.input :title %>
        <%= f.input :state_event, :as => :boolean, label: "Active", :checked_value => 'activate', :unchecked_value => 'inactivate', input_html: { checked: @agent.active? }, hint: "Agent is talking to external APIs" %>
        <%= f.input :description, :input_html => { :rows => 3 } %>

        <% @agent.other_fields.each do |field| %>
          <%= f.input field %>
        <% end %>

        <% unless @agent.by_publisher? %>
          <% @agent.publisher_fields.each do |field| %>
            <% if field == :password %>
              <%= f.input field, :as => :string %>
            <% elsif field == :expires_at %>
              <%= f.input field, :as => :hidden %>
            <% elsif field == :registration_agency_id %>
              <%= f.input field, collection: RegistrationAgency.order('title').map { |ra| [ra.title, ra.name] }, input_html: { class: "form-user" } %>
            <% elsif field == :only_publishers %>
              <%= f.input field, :as => :boolean, label: "Only publishers", checked_value: true, unchecked_value: false, input_html: { checked: @agent.only_publishers }, hint: "Import only works from included publishers" %>
            <% else %>
              <%= f.input field %>
            <% end %>
          <% end %>
        <% end %>

        <%= f.input :queue,             collection: QUEUE_OPTIONS,
                                        label: "Job queue",
                                        include_blank: false,
                                        hint: "Job queue for workers" %>
        <%= f.input :rate_limiting, :as => :numeric, label: false,
                                                      hint: "Max. requests per hour" %>
        <%= f.input :cron_line, label: "Update interval",
                                  hint: "Time in crontab format before more jobs can be added to the job queue" %>

        <%= f.input :timeout, hint: "Time to wait for response from the agent (seconds)"  %>

        <%= f.input :max_failed_queries, label: "Failed queries",
                                         hint: "Maximum number of failed queries allowed per 24 hours before being disabled" %>

        <div class="form-group">
          <%= f.submit "Save ", class: "btn btn-default" %>
          <%= link_to 'Cancel', agent_path(@agent.name), { :remote => true, :class => 'btn' } %>
        </div>
      <% end %>
    </div>
  <% else %>
    <table class="table" id="ConfigurationTable">
      <tbody>
        <% @agent.url_fields.each do |field| %>
          <tr>
            <th><%= field.to_s.gsub(/_/, " ").capitalize %></th>
            <td><%= @agent.send(field) %></td>
          </tr>
        <% end %>
        <% @agent.other_fields.each do |field| %>
          <tr>
            <th><%= field.to_s.gsub(/_/, " ").capitalize %></th>
            <td><%= @agent.send(field) %></td>
          </tr>
        <% end %>
        <% unless @agent.by_publisher? %>
          <% @agent.publisher_fields.each do |field| %>
            <tr>
              <th><%= field.to_s.gsub(/_/, " ").capitalize %></th>
              <% if [:username, :password, :client_id, :secret, :access_token, :api_key].include?(field) && cannot?(:manage, Agent) %>
                <td><em>hidden</em></td>
              <% elsif field == :only_publishers %>
                <td><%= @agent.send(field) ? "Import only works from included publishers" : "Import works from all publishers" %></td>
              <% else %>
                <td><%= @agent.send(field) %></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
        <tr>
          <th>Job queue</th>
          <td>
            <%= @agent.rate_limiting %> per hour rate-limiting</br>
            <%= @agent.rate_limit_remaining %> remaining to rate-limit</br>
            rate-limiting reset at <%= @agent.rate_limit_reset.to_formatted_s(:long) %> UTC</br>
            job queue <%= @agent.queue %>
          </td>
        </tr>
        <tr>
          <th>Next update</th>
          <td><%= l @agent.run_at, format: :medium %></td>
        </tr>
        <tr>
          <th>Timeout</th>
          <td><%=h @agent.timeout %> seconds wait time for response from the agent</td>
        </tr>
        <tr>
          <th>Failed queries</th>
          <td>
            <%= @agent.max_failed_queries %> failed queries allowed per 24 hours before agent is disabled</br>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
