<div class="content">
  <div id="show">
    <%= render :partial => "show" %>
  </div>

  <ul class="nav nav-pills">
    <li class="active"><a href="#summary" data-toggle="tab" title="Summary">Summary</a></li>
    <% if can?(:manage, @agent) && @agent.state > 0 %>
      <li><a href="#configuration" data-toggle="tab" title="Configuration">Configuration</a></li>
    <% end %>
    <% if @publisher_option && can?(:update, @agent) && @agent.state > 0 %>
      <li><a href="#publisher_options" data-toggle="tab" title="Publisher Configuration">Publisher Configuration</a></li>
    <% end %>
    <li><a href="#documentation" data-toggle="tab" title="Documentation">Documentation</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="summary">
      <div id="summary-show">
        <%= render :partial => 'summary_show', :locals => { :name => @agent.name } %>
      </div>
    </div>
    <% if can?(:manage, @agent) && @agent.state > 0 %>
      <div class="tab-pane" id="configuration">
        <%= render :partial => 'configuration' %>
      </div>
    <% end %>
    <% if @publisher_option && can?(:update, @agent) && @agent.state > 0 %>
      <div class="tab-pane" id="publisher_options">
        <%= render :partial => 'publisher_options/configuration' %>
      </div>
    <% end %>
    <div class="tab-pane" id="documentation">
      <%= render :partial => 'docs/show' %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'agents/show' %>
