<p>This is the ALM status report, generated <%= Time.zone.now.to_formatted_s(:long) %> UTC.</p>

<p><%= number_with_delimiter(@status.articles_count) %> Articles<br/>
<%= number_with_delimiter(@status.articles_last30_count) %> Articles last 30 days<br/>
<%= number_with_delimiter(@status.events_count) %> Events<br/>
<%= number_with_delimiter(@status.alerts_last_day_count) %> Unresolved alerts in the last 24 hours<br/>
</br>
<%= number_with_delimiter(@status.workers_count) %> Active workers<br/>
<%= number_with_delimiter(@status.delayed_jobs_active_count) %> Pending and working jobs<br/>
<%= number_with_delimiter(@status.responses_count) %> API responses in the last 24 hours<br/>
<%= number_with_delimiter(@status.requests_count) %> API requests in the last 24 hours<br/>
<br/>
<%= number_with_delimiter(@status.users_count) %> Users<br/>
<%= number_with_delimiter(@status.sources_active_count) %> Disabled sources<br/>
ALM Version <%= @status.version %><br/>
CouchDB database size <%= number_to_human_size(@status.couchdb_size) %><br/></p>

<p><%= link_to "Go to admin dashboard", status_url(:host => CONFIG[:hostname]) %></p>
