<div class="panel panel-default">
  <div class="panel-heading panel-title">
    <% if can?(:update, @source) && @source.state > 1 && controller.action_name != "edit" && !(controller.action_name == "update" && !@publisher_option.errors.empty?) %>
      <div class="btn-toolbar pull-right">
        <div class="btn-group btn-group-sm">
          <%= link_to icon("pencil").html_safe, edit_source_publisher_option_path(@source.name, current_user.publisher.name), { :remote => true, :class => 'btn btn-default btn-sm pull-right configuration-edit', :title => "Edit" } %>
        </div>
      </div>
    <% end %>
    <%= @publisher_option.publisher.title %>
  </div>
  <% if can?(:update, @source) && @source.state > 1 && (controller.action_name == "edit" || (controller.action_name == "update" && !@publisher_option.errors.empty?)) %>
    <div class="panel-body">
      <%= simple_form_for(@publisher_option, :url => source_publisher_option_path(@source.name, current_user.publisher.name), :html => { :remote => true }) do |f| %>
        <% if not @publisher_option.publisher_fields.empty? %>
          <% @publisher_option.publisher_fields.each do |field| %>
            <% if field == "password" %>
              <%= f.input field, :as => :string %>
            <% elsif field == "expires_at" %>
              <%= f.input field, :as => :hidden %>
            <% else %>
              <%= f.input field %>
            <% end %>
          <% end %>
        <% end %>

        <div class="form-group">
          <%= f.submit "Save ", class: "btn btn-default" %>
          <%= link_to 'Cancel', source_publisher_option_path(@source.name, current_user.publisher.name), { :remote => true, :class => 'btn' } %>
        </div>
      <% end %>
    </div>
  <% else %>
    <table class="table">
      <tbody>
        <% unless @publisher_option.publisher_fields.empty? %>
          <% @publisher_option.publisher_fields.each do |field| %>
            <tr>
              <th><%= field.to_s.gsub(/_/, " ").capitalize %></th>
              <% if [:username, :password, :client_id, :secret, :access_token, :api_key].include?(field) && cannot?(:update, @source) %>
                <td><em>hidden</em></td>
              <% else %>
                <td><%= @publisher_option.send(field) %></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
