<div class="content">
  <div class="page-header">
    <h1>Errors</h1>
  </div>

  <% unless @errors.empty? %>
    <% @errors.each do|error| %>
      <h4><%= h(error.message) %></h4>
          
      <button type="button" class="btn btn-mini pull-right" data-toggle="collapse" data-target="#error_id<%= error.id %>">
        More
      </button>
      
      <p><%= error.class_name %></p>
      
      <div id="error_id<%= error.id %>" class="collapse out"> 
        <h5>Target URL</h5>
        <%= link_to error.target_url, error.target_url %>
        
        <% unless error.referer_url.blank? %>
          <h5>Referer URL</h5>
          <%= link_to error.referer_url, error.referer_url %>
        <% end %>
        
        <h5>Updated</h5>
        <%= error.updated_at.to_s %>
        
        <h5>Trace</h5>
        <%= error.trace %>
      </div>
    <% end %>
    
    <%= will_paginate @errors, :renderer => BootstrapPagination::Rails %>
  <% else %>
    <div class="alert alert-info">There are currently no errors.</div>
  <% end %>
</div>