<div class="content">

  <%= simple_form_for resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal' } do |f| %>
    <fieldset>
      <legend>Sign In</legend>  

      <%= f.input :login %>
      <%= f.input :password %>
  
      <% if devise_mapping.rememberable? -%>
        <%= f.input :remember_me, :as => :boolean %>
      <% end -%>
    
      <div class="form-actions">
        <%= f.submit "Sign In", class: "btn btn-primary" %>
      </div>
    </fieldset>
  <% end %>
  
</div>