<div class="content">

  <%= simple_form_for resource, :as => resource_name, :url => session_path(resource_name) do |f| %>
    <fieldset>
      <legend>Sign In</legend>

      <%= f.input :login %>
      <%= f.input :password %>

      <% if devise_mapping.rememberable? -%>
        <%= f.input :remember_me, :as => :boolean %>
      <% end -%>

      <div class="form-group">
        <%= f.submit "Sign in with Password", class: "btn btn-primary" %>
      </div>
    </fieldset>
  <% end %>

  <% if ENV['CAS_URL'] %>
    <%= link_to "Sign in with PLOS ID", user_omniauth_authorize_path(:cas), class: "btn btn-info" %>
  <% else %>
    <%= form_tag '/users/auth/persona/callback', :id => 'persona_form' do %>
      <%= hidden_field_tag('assertion') %>
      <%= button_tag('Sign in with Persona', :id => 'sign_in', :class => 'btn btn-info persona') %>
    <% end %>
  <% end %>
</div>
