<div class="row">
  <div class="col-md-3 text-center">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2 id="articles_count"><%= number_with_delimiter(@status.cached_version.fetch('articles_count', 0) %></h2>
      </div>
      <div class="panel-footer"><%= link_to "Articles", articles_path %></div>
    </div>
  </div>
  <div class="col-md-3 text-center">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2 id="articles_last30_count"><%= number_with_delimiter(@status.cached_version.fetch('article_last30_count', 0) %></h2>
      </div>
      <div class="panel-footer">Articles last 30 days</div>
    </div>
  </div>
  <div class="col-md-3 text-center">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2 id="events_count"><%= number_with_delimiter(@status.cached_version.fetch('events_count', 0) %></h2>
      </div>
      <div class="panel-footer"><%= link_to "Events", sources_path %></div>
    </div>
  </div>
  <div class="col-md-3 text-center">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2 id="version"><%= @status.version %></h2>
      </div>
      <div class="panel-footer">ALM Version</div>
    </div>
  </div>
</div>

<% if can?(:read, Alert) %>
  <div class="row">
    <div class="col-md-3 text-center">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2 id="workers_count"><%= @status.workers_count %></h2>
        </div>
        <div class="panel-footer">Active workers</div>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2 id="delayed_jobs_active_count"><%= number_with_delimiter(@status.delayed_jobs_active_count) %></h2>
        </div>
        <div class="panel-footer"><%= link_to "Pending and working jobs", sources_path %></div>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2 id="responses_count"><%= number_with_delimiter(@status.cached_version.fetch('responses_count', 0)) %></h2>
        </div>
        <div class="panel-footer"><%= link_to "API responses last 24 hours", sources_path %></div>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2 id="requests_count"><%= number_with_delimiter(@status.cached_version.fetch('requests_count', 0)) %></h2>
        </div>
        <div class="panel-footer"><%= link_to "API requests last 24 hours", api_requests_path %></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 text-center">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2 id="users_count"><%= number_with_delimiter(@status.users_count) %></h2>
        </div>
        <div class="panel-footer"><%= link_to "Users", users_path %></div>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2 id="sources_active_count"><%= @status.sources_active_count %></h2>
        </div>
        <div class="panel-footer"><%= link_to "Active sources", sources_path %></div>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2 id="couchdb_size"><%= number_to_human_size(@status.couchdb_size) %></h2>
        </div>
        <div class="panel-footer">CouchDB database size</div>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2 id="alerts_last_day_count"><%= number_with_delimiter(@status.cached_version.fetch('alerts_last_day_count', 0)) %></h2>
        </div>
        <div class="panel-footer"><%= link_to "Open alerts last 24 hours", alerts_path %></div>
      </div>
    </div>
  </div>
<% end %>
