<div class="page-header">
  <h1 id="api_key" data-api_key="<%= ENV['API_KEY'] %>">Status <small id="update_date"><%= date_from_iso8601(@status.update_date) + ' UTC' %></small></h1>
</div>

<div class="content">
  <div class="row">
  <div class="col-md-4">
    <div class="panel <%= @status.articles_count > 0 ? 'panel-default' : 'panel-warning' %>">
      <div class="panel-heading">Articles</div>
      <div class="panel-body text-center">
        <h2 id="articles_count"><%= link_to_if @status.articles_count > 0, number_with_delimiter(@status.articles_count), articles_path %></h2>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel <%= @status.articles_last30_count > 0 ? 'panel-default' : 'panel-warning' %>">
      <div class="panel-heading">Articles <small class="pull-right">last 30 days</small></div>
      <div class="panel-body text-center">
        <h2 id="articles_last30_count"><%= link_to_if @status.articles_last30_count > 0, number_with_delimiter(@status.articles_last30_count), articles_path %></h2>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel <%= @status.events_count > 0 ? 'panel-default' : 'panel-warning' %>">
      <div class="panel-heading">Events</div>
      <div class="panel-body text-center">
        <h2 id="events_count"><%= link_to_if @status.events_count > 0, number_with_delimiter(@status.events_count), sources_path %></h2>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel <%= @status.responses_count > 0 ? 'panel-default' : 'panel-warning' %>">
      <div class="panel-heading">API responses <small class="pull-right">last 24 hours</small></div>
      <div class="panel-body text-center">
        <h2 id="responses_count"><%= link_to_if @status.responses_count > 0 && can?(:read, Alert), number_with_delimiter(@status.responses_count), sources_path %></h2>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel <%= @status.requests_count > 0 ? 'panel-default' : 'panel-warning' %>">
      <div class="panel-heading">API requests <small class="pull-right">last 24 hours</small></div>
      <div class="panel-body text-center">
        <h2 id="requests_count"><%= link_to_if @status.requests_count > 0 && can?(:read, Alert), number_with_delimiter(@status.requests_count), api_requests_path %></h2>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel <%= @status.outdated_version? ? 'panel-warning' : 'panel-default' %>">
      <div class="panel-heading">Lagotto version</div>
      <div class="panel-body text-center">
        <h2 id="version"><%= @status.version %></h2>
      </div>
    </div>
  </div>
</div>

<% if can?(:read, Alert) %>
  <div class="row">
    <div class="col-md-4">
      <div class="panel <%= @status.alerts_count > 0 ? 'panel-default' : 'panel-success' %>">
        <div class="panel-heading">Unresolved alerts</div>
        <div class="panel-body text-center">
          <h2 id="alerts_count"><%= link_to_if @status.alerts_count > 0, number_with_delimiter(@status.alerts_count), alerts_path %></h2>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel <%= @status.users_count > 0 ? 'panel-default' : 'panel-warning' %>">
        <div class="panel-heading">Users</div>
        <div class="panel-body text-center">
          <h2 id="users_count"><%= link_to number_with_delimiter(@status.users_count), users_path %></h2>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel <%= @status.couchdb_size > 0 ? 'panel-default' : 'panel-warning' %>">
        <div class="panel-heading">CouchDB database size</div>
        <div class="panel-body text-center">
          <h2 id="couchdb_size"><%= number_to_human_size(@status.couchdb_size) %></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="panel <%= @status.workers_count > 0 ? 'panel-default' : 'panel-warning' %>">
        <div class="panel-heading">Workers</div>
        <% if @status.workers_count > 0 %>
          <table class="table">
            <thead>
              <tr>
                <th>Identifier</th>
                <th>PID</th>
                <th>Memory</th>
                <th>Start Worker</th>
                <th>State</th>
              </tr>
            </thead>
            <tbody>
            <% @status.workers.each do |worker| %>
              <tr>
                <td><%= worker.id %></td>
                <td><%= worker.pid %></td>
                <td><%= worker.memory %></td>
                <td><%= worker.created_at.to_s(:short) + " UTC" %></td>
                <td><%= worker.state %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% else %>
          <div class="panel-body">
            No <strong>delayed_job</strong> workers found
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel <%= @status.delayed_jobs_active_count > 0 ? 'panel-default' : 'panel-warning' %>">
        <div class="panel-heading">Pending and working jobs</div>
        <div class="panel-body text-center">
          <h2 id="delayed_jobs_active_count"><%= link_to_if @status.delayed_jobs_active_count > 0, number_with_delimiter(@status.delayed_jobs_active_count), sources_path %></h2>
        </div>
      </div>
      <div class="panel <%= @status.sources_disabled_count > 0 ? 'panel-warning' : 'panel-default' %>">
        <div class="panel-heading">Sources</div>
        <div class="panel-body text-center">
          <p>
            <% if @status.sources_working_count > 0 %>
              <span class="label label-success"><%= @status.sources_working_count %> working</span>
            <% end %>
            <% if @status.sources_waiting_count > 0 %>
              <span class="label label-default"><%= @status.sources_waiting_count %> waiting</span>
            <% end %>
            <% if @status.sources_disabled_count > 0 %>
              <span class="label label-warning"><%= @status.sources_disabled_count %> disabled</span>
            <% end %>
            <% if @status.sources_inactive_count > 0 %>
              <span class="label label-info"><%= @status.sources_inactive_count %> inactive</span>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>
