<div class="page-header">
  <h1 id="api_key" data-api_key="<%= current_user && current_user.api_key %>">Status <small id="update_date"><%= date_from_iso8601(@status.update_date) + ' UTC' %></small></h1>
</div>

<div class="content">
  <div class="row">
  <div class="col-md-4">
    <div class="panel <%= @status.works_count > 0 ? 'panel-default' : 'panel-warning' %>">
      <div class="panel-heading">Works</div>
      <div class="panel-body text-center">
        <h2 id="works_count"><%= link_to_if @status.works_count > 0, number_with_delimiter(@status.works_count), works_path %></h2>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel <%= @status.works_last_day_count > 0 ? 'panel-default' : 'panel-warning' %>">
      <div class="panel-heading">Works <small class="pull-right">last day</small></div>
      <div class="panel-body text-center">
        <h2 id="works_last30_count"><%= link_to_if @status.works_last_day_count > 0, number_with_delimiter(@status.works_last_day_count), works_path %></h2>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel <%= @status.events_count > 0 ? 'panel-default' : 'panel-warning' %>">
      <div class="panel-heading">Events</div>
      <div class="panel-body text-center">
        <h2 id="events_count"><%= link_to_if @status.events_count > 0, number_with_delimiter(@status.events_count), sources_path %></h2>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel <%= @status.responses_count > 0 ? 'panel-default' : 'panel-warning' %>">
      <div class="panel-heading">API responses <small class="pull-right">last hour</small></div>
      <div class="panel-body text-center">
        <h2 id="responses_count"><%= link_to_if @status.responses_count > 0 && can?(:read, Alert), number_with_delimiter(@status.responses_count), sources_path %></h2>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel <%= @status.requests_count > 0 ? 'panel-default' : 'panel-warning' %>">
      <div class="panel-heading">API requests <small class="pull-right">last hour</small></div>
      <div class="panel-body text-center">
        <h2 id="requests_count"><%= link_to_if @status.requests_count > 0 && can?(:read, Alert), number_with_delimiter(@status.requests_count), api_requests_path %></h2>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel <%= @status.outdated_version? ? 'panel-warning' : 'panel-default' %>">
      <div class="panel-heading">Lagotto version</div>
      <div class="panel-body text-center">
        <h2 id="version"><%= @status.version %></h2>
      </div>
    </div>
  </div>
</div>

<% if can?(:read, Alert) %>
  <div class="row">
    <div class="col-md-4">
      <div class="panel <%= @status.alerts_count > 0 ? 'panel-default' : 'panel-success' %>">
        <div class="panel-heading">Unresolved alerts</div>
        <div class="panel-body text-center">
          <h2 id="alerts_count"><%= link_to_if @status.alerts_count > 0, number_with_delimiter(@status.alerts_count), alerts_path %></h2>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel <%= @status.users_count > 0 ? 'panel-default' : 'panel-warning' %>">
        <div class="panel-heading">Users</div>
        <div class="panel-body text-center">
          <h2 id="users_count"><%= link_to number_with_delimiter(@status.users_count), users_path %></h2>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel <%= @status.sources_disabled_count > 0 ? 'panel-warning' : 'panel-default' %>">
        <div class="panel-heading">Sources</div>
        <div class="panel-body text-center">
          <h2><small>
            <% if @status.sources_working_count > 0 %>
              <span class="label label-success" id="sources_working_count"><%= @status.sources_working_count %> working</span>
            <% end %>
            <% if @status.sources_waiting_count > 0 %>
              <span class="label label-default" id="sources_waiting_count"><%= @status.sources_waiting_count %> waiting</span>
            <% end %>
            <% if @status.sources_disabled_count > 0 %>
              <span class="label label-warning" id="sources_disabled_count"><%= @status.sources_disabled_count %> disabled</span>
            <% end %>
            </small>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel <%= worker_label(@status.current_status) %>">
        <div class="panel-heading">Jobs</div>
        <table class="table">
          <thead>
            <tr>
              <th class="jobs">Processed</th>
              <th class="jobs">Failed</th>
              <th class="jobs">Busy</th>
              <th class="jobs">Enqueued</th>
              <th class="jobs">Retries</th>
              <th class="jobs">Scheduled</th>
              <th class="jobs">Dead</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="jobs"><%= link_to_if @status.stats.processed > 0 && can?(:manage, Alert), number_with_delimiter(@status.stats.processed), sidekiq_web_path, target: "_blank" %></td>
              <td class="jobs"><%= link_to_if @status.stats.failed > 0 && can?(:manage, Alert), number_with_delimiter(@status.stats.failed), sidekiq_web_path, target: "_blank" %></td>
              <td class="jobs"><%= link_to_if @status.workers_size > 0 && can?(:manage, Alert), number_with_delimiter(@status.workers_size), "/sidekiq/busy", target: "_blank" %></td>
              <td class="jobs"><%= link_to_if @status.stats.enqueued > 0 && can?(:manage, Alert), number_with_delimiter(@status.stats.enqueued), "/sidekiq/queues", target: "_blank" %></td>
              <td class="jobs"><%= link_to_if @status.stats.retry_size > 0 && can?(:manage, Alert), number_with_delimiter(@status.stats.retry_size), "/sidekiq/retries", target: "_blank" %></td>
              <td class="jobs"><%= link_to_if @status.stats.scheduled_size > 0 && can?(:manage, Alert), number_with_delimiter(@status.stats.scheduled_size), "/sidekiq/scheduled", target: "_blank" %></td>
              <td class="jobs"><%= link_to_if @status.stats.dead_size > 0 && can?(:manage, Alert), number_with_delimiter(@status.stats.dead_size), "/sidekiq/morgue", target: "_blank" %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
</div>
