<div class="content">
  <div class="page-header">
    <h1>Jobs</h1>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th>Queue</th>
        <th class="visible-phone">Total</th>
        <th class="hidden-phone">Waiting</th>
        <th class="hidden-phone">Active</th>
        <th class="hidden-phone">Failed</th>
      </tr>
    </thead>
    <tbody>
      <% @sources.each do|source| %>
        <tr>
          <td><%= link_to h(source.display_name), admin_source_path(source) %></td>
          <td class="visible-phone"><%= source.total %></td>
          <td class="hidden-phone"><%= source.total - (source.locked + source.failed) %></td>
          <td class="hidden-phone"><%= source.locked %></td>
          <td class="hidden-phone"><%= source.failed %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>