<% if can?(:manage, Alert) && @source.state > 1 && (controller.action_name == "edit" or (controller.action_name == "update" && !@source.errors.empty?)) %>

  <%= simple_form_for([:admin, @source.becomes(Source)], :url => admin_source_path(@source.name), :html => { :remote => true }) do |f| %>
    <% f.object = @source.becomes(@source.class) %>
    <fieldset>
      <legend>Edit Source</legend>

      <%= f.input :display_name %>
      <%= f.input :state_event, :as => :boolean, label: "Active", :checked_value => 'activate', :unchecked_value => 'inactivate', input_html: { checked: @source.active? }, hint: "Source is talking to external APIs" %>
      <%= f.input :private, :as => :boolean, hint: "Source not made available via API" %>
      <%= f.input :queueable, :as => :boolean, hint: "Articles for this source can be queued" %>
      <%= f.input :description, :input_html => { :rows => 3 } %>

      <% if not @source.get_config_fields.empty? %>
        <% @source.get_config_fields.each do |field| %>
          <% if field[:field_type] == "check_box" %>
            <%= f.input field[:field_name], :as => :boolean, :label => field[:field_name].gsub(/_/, " ").capitalize %>
          <% elsif field[:field_type] == "text_field" %>
            <%= f.input field[:field_name] %>
          <% elsif field[:field_type] == "text_area" %>
            <%= f.input field[:field_name], :input_html => { :rows => (field[:size] ? field[:size] : 2) } %>
          <% elsif field[:field_type] == "password_field" %>
            <%= f.input field[:field_name], :as => :string %>
          <% end %>
        <% end %>
      <% end %>
      <%= f.input :workers, :as => :numeric, label: "Workers",
                                                    hint: "Max. number of workers" %>
      <%= f.input :job_batch_size, :as => :numeric, label: "Job queue",
                                                    hint: "Number of articles queued per job" %>
      <%= f.input :batch_time_interval, collection: Source::INTERVAL_OPTIONS,
                                                    label: false,
                                                    include_blank: false,
                                                    hint: "Batch job interval" %>
      <%= f.input :rate_limiting, :as => :numeric, label: false,
                                                    hint: "Max. requests per hour" %>

      <%= f.input :wait_time, label: false,
                              hint: "Time interval before more jobs can be added to the job queue (seconds)" %>

      <%= f.input :staleness_week,  collection: Source::INTERVAL_OPTIONS,
                                    label: "Update interval",
                                    include_blank: false,
                                    hint: "First 7 days after publication" %>
      <%= f.input :staleness_month, collection: Source::INTERVAL_OPTIONS,
                                    label: false,
                                    include_blank: false,
                                    hint: "First 31 days after publication" %>
      <%= f.input :staleness_year,  collection: Source::INTERVAL_OPTIONS,
                                    label: false,
                                    include_blank: false,
                                    hint: "First year after publication" %>
      <%= f.input :staleness_all,   collection: Source::INTERVAL_OPTIONS,
                                    label: false,
                                    include_blank: false,
                                    hint: "More than one year after publication" %>

      <%= f.input :timeout, hint: "Time to wait for response from the source (seconds)"  %>

      <%= f.input :max_failed_queries, label: "Failed queries",
                                       hint: "Maximum number of failed queries allowed before being disabled" %>
      <%= f.input :max_failed_query_time_interval, collection: Source::INTERVAL_OPTIONS,
                                                   label: false,
                                                   include_blank: false,
                                                   hint: "Time interval for maximum number of failed queries" %>
      <%= f.input :disable_delay, label: false,
                                  hint: "Time interval before source is disabled after maximum number of failed queries is reached (seconds)" %>

      <div class="form-group">
        <%= f.submit "Save ", class: "btn btn-default" %>
        <%= link_to 'Cancel', admin_source_path(@source.name), { :remote => true, :class => 'btn' } %>
      </div>
    </fieldset>
  <% end %>

<% else %>
  <% if can?(:manage, Alert) && @source.state > 1 %>
    <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_admin_source_path(@source.name), { :remote => true, :class => 'btn btn-default btn-sm pull-right configuration-edit', :title => "Edit" } %>
  <% end %>
  <table class="table table-striped">
    <thead>
    </thead>
    <tbody>
      <% unless @source.get_config_fields.empty? %>
        <% @source.get_config_fields.each do |field| %>
          <tr>
            <th><%= field[:field_name].gsub(/_/, " ").capitalize %></th>
            <td><%= @source.send(field[:field_name]) %></td>
          </tr>
        <% end %>
      <% end %>
      <% if @source.private %>
        <tr>
          <th>Private source</th>
          <td>Source not made available via API</td>
        </tr>
      <% end %>
      <tr>
        <th>Job queue</th>
        <td>
          <%= @source.rate_limiting %> per hour rate-limiting</br>
          <%= distance_of_time(@source.batch_time_interval) %> between batch jobs</br>
          <%= pluralize(@source.workers, "worker") %></br>
          <%= @source.job_batch_size %> articles per job</br>
          <%= @source.wait_time %> seconds before more jobs can be added</br>
          <% if @source.queueable && @source.run_at > Time.zone.now %>
            </br>Batch jobs will again be queued at <%= @source.run_at.to_s(:friendly) %>
          <% elsif !@source.queueable %>
            </br>Batch jobs need to be queued by rake task
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Update interval</th>
        <td><%= @source.staleness_with_limits.map { |i, j| distance_of_time(j) + " for articles published #{i}" }.join("</br>").html_safe %></td>
      </tr>
      <tr>
        <th>Timeout</th>
        <td><%=h @source.timeout %> seconds wait time for response from the source</td>
      </tr>
      <tr>
        <th>Failed queries</th>
        <td>
          <%= @source.max_failed_queries %> failed queries allowed before source is disabled</br>
          <%= distance_of_time(@source.max_failed_query_time_interval) %> interval for checking maximum number of failed queries</br>
          <%= @source.disable_delay %> seconds before source is disabled after maximum number of failed queries is reached
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
