<% if can?(:manage, Alert) and (controller.action_name == "new" or (controller.action_name == "create" and !@group.errors.empty?)) %>

  <%= simple_form_for @group, :url => admin_groups_path, :html => { :class => 'form-horizontal', :remote => true } do |f| %>
    <fieldset>
      <legend>New Group</legend>

      <%= f.input :name, :input_html => { :class => "span6" } %>

      <div class="form-actions">
        <%= f.submit "Save ", class: "btn btn-primary" %>
        <%= link_to 'Cancel', admin_groups_path, { :remote => true, :class => 'btn' } %>
      </div>
    </fieldset>
  <% end %>

<% elsif can?(:manage, Alert) and (controller.action_name == "edit" or (controller.action_name == "update" and !@group.errors.empty?)) %>
    <%= simple_form_for @group, :url => admin_group_path(@group), :html => { :class => 'form-horizontal', :remote => true } do |f| %>
      <fieldset>
        <legend>Edit Group</legend>

        <%= f.input :name, :input_html => { :class => "span6" } %>

        <div class="form-actions">
          <%= f.submit "Save ", class: "btn btn-primary" %>
          <%= link_to 'Cancel', admin_groups_path, { :remote => true, :class => 'btn' } %>
        </div>
      </fieldset>
    <% end %>

<% else %>
  <% if can?(:manage, Alert) %>
    <div class="btn-toolbar pull-right hidden-phone">
      <%= link_to '<i class="icon-plus"></i> New Group'.html_safe, new_admin_group_path, { :remote => true, :class => 'btn btn-mini', :id => 'New' } %>
    </div>
  <% end %>

  <% if @groups.size > 0 %>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Group</th>
          <% if can?(:manage, Alert) %>
            <th class="hidden-phone">Actions</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <% cache [group, group.sources] do %>
            <tr>
              <% if group.sources.size > 0 %>
                <td><%= link_to group.sources.first.display_name, admin_source_path(group.sources.first.name) %></td>
                <td><%= state_label(group.sources.first.human_state_name).html_safe %></td>
              <% else %>
                <td/><td/>
              <% end %>
              <td <%= group.sources.empty? ? "rowspan=1" : "rowspan=#{group.sources.count}" %>><%= h(group.name) %></td>
              <% if can? :manage, Alert %>
                <td class="hidden-phone" <%= group.sources.empty? ? "rowspan=1" : "rowspan=#{group.sources.count}" %>
                  <div class="btn-group">
                    <%= link_to '<i class="icon-pencil"></i> Edit Group'.html_safe, edit_admin_group_path(group), { :remote => true, :class => 'btn btn-mini', :id => "#{group.name}-edit" } %>
                    <%= link_to '<i class="icon-trash"></i> Delete Group'.html_safe, admin_group_path(group), :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => true, :class => 'btn btn-mini', :id => "#{group.name}-delete" %>
                  </div>
                </td>
              <% end %>
            </tr>
            <% if group.sources.size > 1 %>
              <% group.sources[1..-1].each do |source| %>
                <% cache source do %>
                  <tr>
                    <td><%= link_to source.display_name, admin_source_path(source) %></td>
                    <td><%= state_label(source.human_state_name).html_safe %></td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-info">There are currently no groups.</div>
  <% end %>
<% end %>
