<p>Install and activate sources.</p>

<% if @groups.size > 0 %>
  <table class="table">
    <thead>
      <tr>
        <th class="group">Group</th>
        <th class="name">Source</th>
        <th>Status</th>
        <% if can?(:manage, Alert) %>
          <th class="status">Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @groups.with_sources.each do |group| %>
        <% group.sources.each do |source| %>
          <tr>
            <% if group.sources.first.name == source.name %>
              <td <%= "rowspan=#{group.sources.count}" %>><h4><%= h(group.display_name) %></h4></td>
            <% end %>
            <td><%= link_to_if source.installed?, source.display_name, admin_source_path(source) %></td>
            <td><%= state_label(source.human_state_name).html_safe %></td>
            <% if can?(:manage, Alert) %>
              <td>
                <% if source.human_state_name == "available" %>
                  <%= link_to 'Install', source_path(source, state_event: "install"), :method => :put, :data => { :confirm => 'Are you sure?' }, :remote => true, :class => 'btn btn-primary btn-sm', :id => "#{source.name}-status", :title => "Install Source" %>
                <% elsif source.human_state_name == "retired" %>
                <% elsif source.human_state_name == "inactive" %>
                  <%= link_to 'Activate', source_path(source, state_event: "activate"), :method => :put, :remote => true, :class => 'btn btn-info btn-sm', :id => "#{source.name}-status", :title => "Activate Source" %>
                <% else %>
                  <%= link_to 'Inactivate', source_path(source, state_event: "inactivate"), :method => :put, :remote => true, :class => 'btn btn-default btn-sm', :id => "#{source.name}-status", :title => "Inactivate Source" %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info">There are currently no groups</div>
<% end %>
