<h1 id="api_key" data-name="<%= @source.name %>" data-api_key="<%= CONFIG[:api_key] %>" data-page="" data-q="" data-class_name="" data-order="<%= @source.name %>">
  <%= image_tag(@source.name + ".png", :size => "16x16") if FileTest.exist?("#{Rails.root.to_s}/app/assets/images/#{@source.name}.png") %>
  <%= h(@source.display_name) %> <small><%= h(@source.human_state_name) %></small>
</h1>