<p>Number of articles that have been updated with new information from sources.</p>

<% unless Source.visible.empty? %>
  <table class="table" id="ResponsesTable">
    <thead>
      <tr>
        <th class="group">Group</th>
        <th class="name">Source</th>
        <th>Status</th>
        <th class="number">Responses&nbsp;(24&nbsp;hours)</th>
        <th class="number">Average&nbsp;(ms)</th>
        <th class="number">Errors (24&nbsp;hours)</th>
      </tr>
    </thead>
    <tbody>
      <% @groups.visible.each do |group| %>
        <% group.sources.visible.each do |source| %>
          <tr>
            <% if group.sources.visible.first.name == source.name %>
              <td <%= "rowspan=#{group.sources.visible.count}" %>><h4><%= h(group.display_name) %></h4></td>
            <% end %>
            <td><%= link_to source.display_name, source_path(source) %></td>
            <td><%= state_label(source.human_state_name).html_safe %></td>
            <td class="number" id="response_count_<%= source.name %>"></td>
            <td class="number" id="average_count_<%= source.name %>"></td>
            <td class="number" id="error_count_<%= source.name %>"></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info">No active sources found</div>
<% end %>
