<div class="page-header">
  <h1>
    <%= image_tag @source.name + ".png" if path_to_image(@source.name + ".png") %>
    <%= h(@source.display_name) %> <small><%= h(@source.status) %></small>
  </h1>
</div>
  
<dl class="dl-horizontal">
  <% if @source.group %>
    <dt>Group</dt>
    <dd><%= h(@source.group.name) %></dd>
  <% end %>
  <% if @source.description %>
    <dt>Description</dt>
    <dd><%= h(@source.description) %></dd>
  <% end %>
  <% unless @source.private %>
    <dt>Documentation</dt>
    <dd><%= link_to "Information at ALM Wiki", "http://github.com/articlemetrics/alm/wiki/" + @source.name %></dd>
  <% end %>
</dl>