<table class="table table-striped" id="SummaryTable">
  <thead>
    <tr>
      <th/>
      <th>Refreshed Articles</th>
      <th>Stale Articles</th>
      <th>Queued Articles</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Article Status</th>
      <td><%= Article.count - (@source.retrieval_statuses.stale.count + @source.retrieval_statuses.queued.count) %></td>
      <td><%= @source.retrieval_statuses.stale.count %></td>
      <td><%= @source.retrieval_statuses.queued.count %></td>
    </tr>
    <tr>
      <th/>
      <th>Pending</th>
      <th>Working</th>
      <th>Failed</th>
    </tr>
    <tr>
      <th>Jobs</th>
      <td><%= @source.delayed_jobs.count(:run_at) - (@source.delayed_jobs.count(:locked_at) + @source.delayed_jobs.count(:failed_at)) %></td>
      <td><%= @source.delayed_jobs.count(:locked_at) %></td>
      <td><%= @source.delayed_jobs.count(:failed_at) %></td>
    </tr>
    <tr>
      <th/>
      <th>Success</th>
      <th>No Events</th>
      <th>Errors</th>
    </tr>
    <tr>
      <th>Responses in the last 24 Hours</th>
      <td><%= @source.retrieval_histories.with_success(1).count %></td>
      <td><%= @source.retrieval_histories.with_no_data(1).count %></td>
      <td><%= @source.retrieval_histories.with_errors(1).count %></td>
    </tr>
    <tr>
      <th/>
      <th>Success</th>
      <th>No Events</th>
      <th>Errors</th>
    </tr>
    <tr>
      <th>Responses in the last 30 Days</th>
      <td><%= @source.retrieval_histories.with_success(30).count %></td>
      <td><%= @source.retrieval_histories.with_no_data(30).count %></td>
      <td><%= @source.retrieval_histories.with_errors(30).count %></td>
    </tr>
    <tr>
      <th/>
      <th>Articles with Events</th>
      <th>All Events</th>
      <th>Max. Events per Article</th>
    </tr>
    <tr>
      <th>Events</th>
      <td><%= @source.articles.cited(1).count %></td>
      <td><%= @source.retrieval_statuses.sum(:event_count) %></td>
      <td><%= @source.retrieval_statuses.maximum(:event_count) %></td>
    </tr>
  </tbody>
</table>