<%#
  # $HeadURL$
  # $Id$
  #
  # Copyright (c) 2009-2012 by Public Library of Science, a non-profit corporation
  # http://www.plos.org/
  #
  # Licensed under the Apache License, Version 2.0 (the "License");
  # you may not use this file except in compliance with the License.
  # You may obtain a copy of the License at
  #
  #     http://www.apache.org/licenses/LICENSE-2.0
  #
  # Unless required by applicable law or agreed to in writing, software
  # distributed under the License is distributed on an "AS IS" BASIS,
  # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  # See the License for the specific language governing permissions and
  # limitations under the License.
-%>

<div class="content">
  <div class="page-header" id="page-header">
    <%= render :partial => 'page-header', :locals => { :status => " <small>#{@source.status}</small>".html_safe } %> 
  </div>
  
  <dl class="dl-horizontal" id="dl-horizontal">
    <%= render :partial => 'dl-horizontal' %>
  </dl>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#status" data-toggle="tab" title="Status">Status</a></li>
    <li><a href="#configuration" data-toggle="tab" title="Configuration">Configuration</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Most-Cited<b class="caret"></b></a>
      <ul class="dropdown-menu">
      <li><a href="#most-cited7" data-toggle="tab">7 days</a></li>
      <li><a href="#most-cited30" data-toggle="tab">30 days</a></li>
      <li><a href="#most-cited12" data-toggle="tab">12 months</a></li>
      <li><a href="#most-cited" data-toggle="tab">All-time</a></li>
      </ul>
    </li>
  </ul>
  
  <div class="tab-content">
    <div class="tab-pane active" id="status">
      <table class="table">
        <thead>
          <tr>
            <th>Total Articles</th>
            <td><%= Article.count %></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Stale Articles</th>
            <td><%= @source.retrieval_statuses.stale.count %></td>
          </tr>
          <tr>
            <th>Queued Articles</th>
            <td><%= @source.retrieval_statuses.queued.count %></td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class="tab-pane" id="configuration">
      <%= render :partial => 'configuration' %> 
    </div>
    <%= render :partial => 'tab-content', :locals => { :pane => "tab-pane" } %>
  </div>
</div>