<div class="row">
  <div class="col-md-9">
    <div class="search-wide">
      <%= form_tag(deposits_path, :method => "get", :class => "form form-horizontal", :role => "form") do %>
        <div class="input-group">
          <%= search_field_tag :q, params[:q], :placeholder => "Search by UUID", :class => "form-control" %>
          <div class="input-group-btn">
            <button type="submit" class="btn btn-primary hidden-xs">Search</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-9" id="content">
    <div class="text-muted loading" id="loading-results">Loading … <%= image_tag "spinner.gif" %></div>
  </div>
  <div class='col-md-3'>
    <div class="panel facets">
      <div class="panel-body">
        <h4>Status</h4>
        <ul>
          <% if @state.present? %>
            <li class="active">
              <%= link_to icon('check-square-o').html_safe, deposits_path(q: params[:q], source_id: params[:source_id]) %>
              <%= states[@state] %>
            </li>
          <% else %>
            <% states.each do |state| %>
              <li>
                <%= link_to icon('square-o').html_safe, deposits_path(q: params[:q], source_id: params[:source_id], state: state) %>
                <%= state %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <% if Source.active.size > 0 %>
      <div class="panel facets">
        <div class="panel-body">
          <h4>Sources</h4>
          <ul>
            <% if @source.present? %>
              <li class="active">
                <%= link_to icon('check-square-o').html_safe, deposits_path(q: params[:q], state: params[:state]) %>
                <%= @source.title %>
              </li>
            <% else %>
              <% Source.active.each do |source| %>
                <li>
                  <%= link_to icon('square-o').html_safe,deposits_path(q: params[:q], state: params[:state], source_id: source.name) %>
                  <%= source.title %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'deposits/index' %>
