<div class="page-header">
  <div class="btn-toolbar pull-right">
    <div class="btn-group btn-group-sm">
      <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-filter"></span> <%= @source.nil? ? "All Sources" : @source.display_name %> <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to "All Sources", admin_alerts_path(:class_name => params[:class_name], :query => params[:query]) %></li>
        <li class="divider"></li>
        <% sources.active.each do|source| %>
        <li><%= link_to h(source.display_name), admin_alerts_path(:source_id => source.id, :class_name => params[:class_name], :query => params[:query]) %></li>
        <% end %>
      </ul>
    </div>
    <div class="btn-group btn-group-sm">
      <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-filter"></span> <%= @class_name.nil? ? "All Alerts" : h(@class_name) %> <span class="caret"></span></a>
      <ul class="dropdown-menu pull-right">
        <li><%= link_to "All Alerts", admin_alerts_path(:source_id => params[:source_id], :query => params[:query]) %></li>
        <li class="divider"></li>
        <% alerts.each do|alert| %>
        <li><%= link_to h(alert), admin_alerts_path(:class_name => alert, :source_id => params[:source_id], :query => params[:query]) %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <h1>
    <%= pluralize(@alerts.count, 'Alert') %>
    <% unless params[:query].blank? %>
        <small>with <em><%= params[:query] %></em> in the class name, message or DOI</small>
    <% end %>
  </h1>
</div>

<div class="search">
  <%= form_tag(admin_alerts_path, :method => "get", :class => "form-inline", :role => "form") do %>
    <div class="form-group">
      <%= search_field_tag :query, params[:query], :placeholder => "Search", :class => "form-control" %>
    </div>
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
    <% unless params[:query].blank? %>
      <%= link_to "clear", admin_alerts_path(:source_id => params[:source_id]), :class => "btn btn-link" %>
    <% end %>
  <% end %>
</div>

<% if @alerts.size > 0 %>
  <div class="panel-group" id="alert">
    <% @alerts.each do |alert| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><%= link_to ((alert.status.blank? ? "" : "[#{alert.status}] ") + h(alert.message)).html_safe, "#alert_#{alert.id}", :class => "accordion-toggle", :id => "link_#{alert.id}", :data => { :toggle => "collapse", :parent => "#alert" }, :href => "#alert_#{alert.id}" %></h4>
        </div>
        <div class="panel-collapse collapse" id="alert_<%= alert.id %>">
          <div class="panel-body alert-inner">
            <% if can?(:destroy, Alert) %>
              <div class="btn-group btn-group-sm pull-right">
                <a class="btn btn-default dropdown-toggle" id="<%= alert.id %>-delete" data-toggle="dropdown" href="#">
                  <span class="glyphicon glyphicon-trash"></span> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "by Message", admin_alert_path(alert, :query => params[:query],
                                                                                        :source_id => params[:source_id],
                                                                                        :page => params[:page]),
                                                                                        :method => :delete,
                                                                                        :data => { :confirm => 'Are you sure?' },
                                                                                        :remote => true,
                                                                                        :id => "#{alert.id}-delete-message" %></li>
                  <li><%= link_to "by Class", admin_alert_path(alert, :query => params[:query],
                                                                                      :source_id => params[:source_id],
                                                                                      :filter => "class_name",
                                                                                      :page => params[:page]),
                                                                                      :method => :delete,
                                                                                      :data => { :confirm => 'Are you sure?' },
                                                                                      :remote => true,
                                                                                      :id => "#{alert.id}-delete-class" %></li>
                  <% unless alert.source_id.nil? %>
                    <li><%= link_to "by Source", admin_alert_path(alert, :query => params[:query],
                                                                                         :source_id => params[:source_id],
                                                                                         :filter => "source_id",
                                                                                         :page => params[:page]),
                                                                                         :method => :delete,
                                                                                         :data => { :confirm => 'Are you sure?' },
                                                                                         :remote => true,
                                                                                         :id => "#{alert.id}-delete-source" %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <p class="class_name"><%= link_to alert.class_name, admin_alerts_path(:class_name => h(alert.class_name),
                                                                                                  :source_id => params[:source_id],
                                                                                                  :query => params[:query]) %></p>
            <% unless alert.source_id.blank? %>
              <h5>Source</h5>
              <%= link_to alert.source.display_name, admin_alerts_path(source_id: alert.source_id) %>
            <% end %>

            <% unless alert.article_id.blank? %>
              <h5>Article</h5>
              <%= link_to alert.article.uid, admin_article_path(alert.article) %>
            <% end %>

            <h5>Time</h5>
            <%= alert.created_at.to_s(:friendly) %>

            <% unless alert.content_type.blank? or alert.content_type == "text/html" %>
              <h5>Content Type</h5>
              <%= alert.content_type %>
            <% end %>

            <% unless alert.target_url.blank? %>
              <h5>Target URL</h5>
              <%= link_to alert.target_url, alert.target_url %>
            <% end %>

            <% if ["Net::HTTPUnauthorized","ActionDispatch::RemoteIp::IpSpoofAttackError"].include? alert.class_name %>
              <% unless alert.remote_ip.blank? %>
                <h5>Remote IP</h5>
                <%= link_to alert.remote_ip, alert.remote_ip %>
              <% end %>

              <% unless alert.user_agent.blank? %>
                <h5>User Agent</h5>
                <%= alert.user_agent %>
              <% end %>
            <% end %>

            <% unless alert.details.blank? %>
              <h5>Details</h5>
              <%= h(alert.details) %>
            <% end %>

            <% unless alert.trace.blank? %>
              <h5>Trace</h5>
              <%= simple_format(alert.trace) %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= will_paginate @alerts, :params => { :controller => admin_alerts_path }, :renderer => BootstrapPagination::Rails %>
<% else %>
  <div class="alert alert-info">There are currently no <% unless @class_name.nil? %><%= h(@class_name) %> <% end %>alerts
    <% unless @source.nil? %>
        for <%= @source.display_name %>
    <% end %>
    <% unless params[:query].blank? %>
        with <em><%= params[:query] %></em> in the class name, message or DOI
    <% end %>
  </div>
<% end %>
