<% @group ||= Group.new %>
<%= simple_form_for [:admin, @group] do |f| %>
  <div class="modal hide fade" id="modal-group">
    <div class="modal-header">
      <h2><%= @group.new_record? ? "New" : "Edit" %> Group</h2>
    </div>
    <div class="modal-body">      
      <%= f.text_field :name, class: "span6" %>       
    </div>
    <div class="modal-footer">
      <%= link_to 'Cancel', "#", :class => 'btn', :data => { :dismiss => "modal" } %>
      <%= f.submit "Save ", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>