<% if can?(:manage, Alert) and (controller.action_name == "new" or (controller.action_name == "create" and !@group.errors.empty?)) %>

  <%= simple_form_for @group, :url => admin_groups_path, :html => { :class => 'form-horizontal', :role => 'form', :remote => true } do |f| %>
    <h3>New Group</h3>

    <%= f.input :name, :input_html => { :class => "form-control" } %>

    <div class="form-group">
      <%= f.submit "Save ", class: "btn btn-default btn-primary btn-sm" %>
      <%= link_to 'Cancel', admin_groups_path, { :remote => true, :class => 'btn btn-sm' } %>
    </div>
  <% end %>

<% elsif can?(:manage, Alert) and (controller.action_name == "edit" or (controller.action_name == "update" and !@group.errors.empty?)) %>
    <%= simple_form_for @group, :url => admin_group_path(@group), :html => { :class => 'form-horizontal', :role => 'form', :remote => true } do |f| %>
      <h2>Edit Group</h2>

      <%= f.input :name, :input_html => { :class => "form-control" } %>

      <div class="form-group">
        <%= f.submit "Save ", class: "btn btn-default btn-primary btn-sm" %>
        <%= link_to 'Cancel', admin_groups_path, { :remote => true, :class => 'btn btn-default btn-sm' } %>
      </div>
    <% end %>

<% else %>
  <% if can?(:manage, Alert) %>
    <%= link_to '<span class="glyphicon glyphicon-plus"></span>'.html_safe, new_admin_group_path, { :remote => true, :class => 'btn btn-default btn-sm pull-right', :id => 'New' } %>
  <% end %>

  <% if @groups.size > 0 %>
    <table class="table">
      <thead>
        <tr>
          <th class="name">Group</th>
          <th class="name">Source</th>
          <th>Status</th>
          <% if can?(:manage, Alert) %>
            <th class="action">Actions</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td <%= group.sources.empty? ? "rowspan=1" : "rowspan=#{group.sources.count}" %>><h4><%= h(group.name) %></h4></td>
            <% if group.sources.size > 0 %>
              <td class="name"><%= link_to group.sources.first.display_name, admin_source_path(group.sources.first.name) %></td>
              <td><%= state_label(group.sources.first.human_state_name).html_safe %></td>
            <% else %>
              <td/><td/>
            <% end %>
            <% if can? :manage, Alert %>
              <td <%= group.sources.empty? ? "rowspan=1" : "rowspan=#{group.sources.count}" %>
                <div class="btn-toolbar">
                  <div class="btn-group btn-group-sm">
                    <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_admin_group_path(group), { :remote => true, :class => 'btn btn-default', :id => "#{group.name}-edit" } %>
                  </div>
                  <div class="btn-group btn-group-sm">
                    <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, admin_group_path(group), :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => true, :class => 'btn btn-default', :id => "#{group.name}-delete" %>
                  </div>
                </div>
              </td>
            <% end %>
          </tr>
          <% if group.sources.size > 1 %>
            <% group.sources[1..-1].each do |source| %>
              <tr>
                <td><%= link_to source.display_name, admin_source_path(source) %></td>
                <td><%= state_label(source.human_state_name).html_safe %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-info">There are currently no groups.</div>
  <% end %>
<% end %>
