<% if controller.action_name == "new" or (controller.action_name == "create" and !@group.errors.empty?) %>
  <%= simple_form_for @group, :url => admin_groups_path, :html => { :class => 'form-horizontal', :remote => true } do |f| %>
    <fieldset>
      <legend>New Group</legend>  

      <%= f.input :name, :input_html => { :class => "span6" } %>
    
      <div class="form-actions">
        <%= f.submit "Save ", class: "btn btn-primary" %>
        <%= link_to 'Cancel', admin_groups_path, { :remote => true, :class => 'btn' } %>
      </div>
    </fieldset>
  <% end %>

<% elsif (controller.action_name == "edit" or (controller.action_name == "update" and !@group.errors.empty?)) %> 
    <%= simple_form_for @group, :url => admin_group_path(@group), :html => { :class => 'form-horizontal', :remote => true } do |f| %>
      <fieldset>
        <legend>Edit Group</legend>  

        <%= f.input :name, :input_html => { :class => "span6" } %>
    
        <div class="form-actions">
          <%= f.submit "Save ", class: "btn btn-primary" %>
          <%= link_to 'Cancel', admin_groups_path, { :remote => true, :class => 'btn' } %>
        </div>
      </fieldset>
    <% end %>

<% else %>
  <div class="btn-toolbar pull-right">
    <%= link_to '<i class="icon-plus"></i> New'.html_safe, new_admin_group_path, { :remote => true, :class => 'btn btn-mini' } %>
  </div>

  <% unless @groups.empty? %>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do|group| %>
        <tr>       
          <td><%= h(group.name) %></td>
            <td>
              <div class="btn-group">
                <%= link_to '<i class="icon-pencil"></i> Edit'.html_safe, edit_admin_group_path(group), { :remote => true, :class => 'btn btn-mini' } %>
                <%= link_to '<i class="icon-trash"></i> Delete'.html_safe, admin_group_path(group), :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => true, :class => 'btn btn-mini' %>
              </div>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-info">There are currently no jobs.</div>
  <% end %>
<% end %>