<% if @reports.present? %>
  <table class="table">
    <thead>
      <tr>
        <th class="name0">Name</th>
        <th>Description</th>
        <th>Interval</th>
        <th class="status">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= h(report.display_name) %></td>
          <td><%= h(report.description) %></td>
          <td><%= distance_of_time(report.interval) %></td>
          <td>
          <% if report.users.exists?(@user) %>
            <%= link_to 'Unsubscribe'.html_safe, admin_user_path(@user, :user => { :unsubscribe => report.id }), :method => :put, :remote => true, :class => 'btn btn-default btn-sm', :id => "#{report.name}-status" %>
          <% else %>
            <%= link_to 'Subscribe'.html_safe, admin_user_path(@user, :user => { :subscribe => report.id }), :method => :put, :remote => true, :class => 'btn btn-info btn-sm', :id => "#{report.name}-status" %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info">There are currently no reports</div>
<% end %>