<% if can?(:update, User) and (controller.action_name == "edit" or (controller.action_name == "update" and !@user.errors.empty?)) %>

  <%= simple_form_for @user, :url => admin_user_path(@user), :html => { :class => 'form-horizontal', :remote => true } do |f| %>
    <fieldset>
      <legend>Edit Your Account</legend>

<<<<<<< HEAD
      <% if @user.provider != "github" %>
        <%= f.input :name, :input_html => { :class => "span6" } %>
        <%= f.input :username, :input_html => { :class => "span6" } %>
      <% end %>
=======
      <%= f.input :name, :input_html => { :class => "span6" } %>
      <%= f.input :username, :input_html => { :class => "span6" } %>
>>>>>>> origin/master
      <%= f.input :email, :input_html => { :class => "span6" } %>
      <%= f.input :password, :input_html => { :class => "span6" } %>
      <%= f.input :password_confirmation, :input_html => { :class => "span6" } %>

      <div class="form-actions">
        <%= f.submit "Save ", class: "btn btn-primary" %>
        <%= link_to 'Cancel', admin_user_path(@user), { :remote => true, :class => 'btn' } %>
      </div>
    </fieldset>
  <% end %>

<% else %>
  <% cache @user do %>
    <div class="page-header">
      <% if can?(:read, ErrorMessage) %>
      <div class="btn-toolbar pull-right">
        <div class="btn-group">
          <%= link_to '<i class="icon-pencil"></i> Edit'.html_safe, edit_admin_user_path(@user), { :remote => true, :class => 'btn btn-mini' } %>
        </div>
      </div>
      <% end %>
      <h1>
        <%= h@user.name %>
      </h1>
    </div>
<<<<<<< HEAD

    <dl class="dl-horizontal">
      <dt>Username</dt>
      <dd><%= @user.username %></dd>
      <% if @user.email.present? %>
        <dt>Email</dt>
        <dd><%= h(@user.email) %></dd>
      <% end %>
      <dt>Role</dt>
      <% if @user.role == "admin" %>
        <dd>Admin - full access to the ALM application</dd>
      <% elsif @user.role == "staff" %>
        <dd>Staff - read access to the admin dashboard</dd>
      <% elsif @user.role == "user" %>
        <dd>User - access to the API</dd>
      <% end %>
      <dt>API Key</dt>
      <dd><%= @user.authentication_token %></dd>
    </dl>
  <% end %>
=======
    <% end %>
    <h1>
      <%= h(@user.name) %>
    </h1>
  </div>

  <dl class="dl-horizontal">
    <dt>Username</dt>
    <dd><%= @user.username %></dd>
    <% if @user.email.present? %>
      <dt>Email</dt>
      <dd><%= h(@user.email) %></dd>
    <% end %>
    <dt>Role</dt>
    <% if @user.role == "admin" %>
      <dd>Admin - full access to the ALM application</dd>
    <% elsif @user.role == "staff" %>
      <dd>Staff - read access to the admin dashboard</dd>
    <% elsif @user.role == "user" %>
      <dd>User - access to the API</dd>
    <% end %>
    <dt>API Key</dt>
    <dd><%= @user.authentication_token %></dd>
  </dl>
>>>>>>> origin/master
<% end %>
