<% if can?(:update, User) and (controller.action_name == "edit" or (controller.action_name == "update" and !@user.errors.empty?)) %>

  <%= simple_form_for @user, :url => admin_user_path(@user), :html => { :class => 'form-horizontal', :remote => true } do |f| %>
    <fieldset>
      <legend>Edit Your Account</legend>

      <%= f.input :name, :input_html => { :class => "span6" } %>
      <%= f.input :username, :input_html => { :class => "span6" } %>
      <%= f.input :email, :input_html => { :class => "span6" } %>
      <%= f.input :password, :input_html => { :class => "span6" } %>
      <%= f.input :password_confirmation, :input_html => { :class => "span6" } %>
      <% if Report.count > 0 %>
        <%= f.association :reports, as: :check_boxes %>
      <% end %>

      <div class="form-group">
        <%= f.submit "Save ", class: "btn btn-primary btn-sm" %>
        <%= link_to 'Cancel', admin_user_path(@user), { :remote => true, :class => 'btn btn-sm' } %>
      </div>
    </fieldset>
  <% end %>

<% else %>
  <div class="page-header">
    <% if can?(:read, Alert) %>
    <div class="btn-toolbar btn-sm pull-right">
      <div class="btn-group">
        <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_admin_user_path(@user), { :remote => true, :class => 'btn btn-default btn-sm' } %>
      </div>
    </div>
    <% end %>
    <h1>
      <%= h@user.name %>
    </h1>
  </div>

  <dl class="dl-horizontal">
    <dt>Username</dt>
    <dd><%= @user.username %></dd>
    <% if @user.email.present? %>
      <dt>Email</dt>
      <dd><%= h(@user.email) %></dd>
    <% end %>
    <dt>Role</dt>
    <% if @user.role == "admin" %>
      <dd>Admin - full access to the ALM application</dd>
    <% elsif @user.role == "staff" %>
      <dd>Staff - read access to the admin dashboard</dd>
    <% elsif @user.role == "user" %>
      <dd>User - access to the API</dd>
    <% end %>
    <dt>API Key</dt>
    <dd><%= @user.authentication_token %></dd>
    <% unless @user.role == "user" %>
      <dt class="report">Reports</dt>
      <dd class="report">
        <% unless @user.reports.empty? %>
          <% @user.reports.each do |report| %>
            <%= h(report.name) %></br>
          <% end %>
        <% else %>
          Not subscribed
        <% end %>
      </dd>
    <% end %>
  </dl>
<% end %>
