<% if can?(:manage, User) and (controller.action_name == "edit" or (controller.action_name == "update" and !@user.errors.empty?)) %>

  <%= simple_form_for @user, :url => admin_user_path(@user), :html => { :remote => true } do |f| %>
    <fieldset>
      <legend>Edit Your Account</legend>

      <%= f.input :name %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>

      <div class="form-group">
        <%= f.submit "Save ", class: "btn btn-default" %>
        <%= link_to 'Cancel', admin_user_path(@user), { remote: true, class: 'btn' } %>
      </div>
    </fieldset>
  <% end %>

<% else %>
  <div class="page-header">
    <div class="btn-toolbar btn-sm pull-right">
      <div class="btn-group">
        <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_admin_user_path(@user), { remote: true, class: 'btn btn-default btn-sm', id: 'edit' } %>
      </div>
    </div>
    <h1>
      <%= h@user.name %>
    </h1>
  </div>

  <dl class="dl-horizontal">
    <dt>Username</dt>
    <dd><%= @user.username %></dd>
    <% if @user.email.present? %>
      <dt>Email</dt>
      <dd><%= h(@user.email) %></dd>
    <% end %>
    <dt>Role</dt>
    <% if @user.role == "admin" %>
      <dd>Admin - full access to the ALM application</dd>
    <% elsif @user.role == "publisher" %>
      <dd>Publisher - read access to the API</dd>
    <% elsif @user.role == "staff" %>
      <dd>Staff - read access to the admin dashboard</dd>
    <% else %>
      <dd>User - read access to the API</dd>
    <% end %>
    <% unless @user.has_publisher_name? %>
      <dt>Publisher</dt>
      <dd><%= h(@user.publisher_name) %></dd>
    <% end %>
    <dt>API Key</dt>
    <dd><%= @user.authentication_token %></dd>
  </dl>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#reports" data-toggle="tab">Reports</a></li>
    <% if @user.role == "publisher" %>
      <li><a href="#configuration" data-toggle="tab" title="Configuration">Configuration</a></li>
    <% end %>
    <li><a href="#documentation" data-toggle="tab" title="Documentation">Documentation</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="reports">
      <%= render :partial => 'admin/users/reports' %>
    </div>
    <div class="tab-pane" id="configuration">
      <%= render :partial => 'admin/users/configuration' %>
    </div>
    <div class="tab-pane" id="documentation">
      <h1>API</h1>
      <%= render :partial => 'docs/show' %>
    </div>
  </div>
<% end %>
