<div class="row">
  <div class='col-md-9'>
    <div class="search-wide">
      <%= form_tag(contributors_path, :method => "get", :class => "form form-horizontal", :role => "form") do %>
        <div class="input-group">
          <%= search_field_tag :q, params[:q], :placeholder => "Search contributor", :class => "form-control" %>
          <div class="input-group-btn">
            <button type="submit" class="btn btn-primary hidden-xs">Search</button>
          </div>
        </div>
      <% end %>
    </div>
    <% if @contributor_count > 0 %>
      <% if @contributor_count > 1 %>
        <h4 class="results"><%= number_with_delimiter(@contributor_count) %> Contributors</h4>
      <% end %>
      <% @contributors.each do |contributor| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <h4 class="work"><%= link_to h(contributor.credit_name), contributor_path(contributor) %></h4>
          </div>
          <div class="panel-footer">
            <%= link_to h(icon("external-link") + " " + contributor.pid).html_safe, contributor.pid %>
          </div>
        </div>
      <% end %>
      <div class="text-center">
        &nbsp;<%= will_paginate @contributors, :params => { :controller => contributors_path }, :renderer => BootstrapPagination::Rails %>
      </div>
    <% else %>
      <div class="alert alert-info">
        There are currently no contributors
        <% unless params[:q].blank? %>
          with <em><%= params[:q] %></em> in the name
        <% end %>
      </div>
    <% end %>
  </div>
</div>
