<div class="row work-page">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4 class="work"><%= @contributor.credit_name %></h4>
      </div>
      <table class="table">
        <tbody>
          <% if @contributor.orcid.present? %>
            <tr>
              <th>ORCID</th>
              <td class="orcid" %><%= link_to "http://orcid.org/#{@contributor.orcid}", "http://orcid.org/#{@contributor.orcid}" %></td>
            </tr>
          <% end %>
          <% if @contributor.github.present? %>
            <tr>
              <th>GitHub</th>
              <td class="github" %><%= link_to "https://github.com/#{@contributor.github}", "https://github.com/#{@contributor.github}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="panel-footer">
        <%= link_to h(icon("external-link") + " " + @contributor.pid).html_safe, @contributor.pid %>
        <% if can?(:manage, @contributor) %>
          <div class="btn-toolbar pull-right">
            <div class="btn-group btn-group-sm">
              <%= link_to icon("trash").html_safe, contributor_path(@contributor.pid), :data => { :confirm => 'Are you sure?' }, :method => :delete, :class => 'btn btn-default' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
