<div class="row">
  <div class="col-md-9" id="content">
    <div class="text-muted loading" id="loading-results">Loading … <%= image_tag "spinner.gif" %></div>
  </div>
  <div class='col-md-3'>
    <% if Source.for_contributions.size > 0 %>
      <div class="panel facets">
        <div class="panel-body">
          <h4>Sources</h4>
          <ul>
            <% if @source.present? %>
              <li class="active">
                <%= link_to icon('check-square-o').html_safe, contributor_path(@contributor.pid, q: params[:q]) %>
                <%= @source.title %>
              </li>
            <% else %>
              <% Source.for_contributions.each do |source| %>
                <li>
                  <%= link_to icon('square-o').html_safe, contributor_path(@contributor.pid, q: params[:q], source_id: source.name) %>
                  <%= source.title %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'contributors/contributions' %>
