<div class="navbar subnav" role="navigation">
  <div class="navbar-inner">
    <div class="container">
      <h1 class="navbar-text" id="api_key" data-api_key="<%= current_user && current_user.api_key %> data-page="<%= @page %>" data-per_page="15" data-q="<%= @q %>" data-pid="<%= @work.present? ? @work.pid : nil %>" data-class_name="<%= @class_name %>" data-publisher_id="<%= @publisher.present? ? @publisher.name : nil %>" data-source_id="<%= @source.present? ? h(@source.name) : nil %>" data-contributor_id="<%= @contributor.present? ? @contributor.pid : nil %>" data-sort="<%= @sort.present? ? h(@sort.name) : nil %>">
        <%= @title || controller.controller_name.humanize %>
      </h1>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Status", status_index_path %></li>
        <li><%= link_to "Works", works_path %></li>
        <li><%= link_to "Sources", sources_path %></li>
        <% if can?(:read, Notification) %>
          <li><%= link_to "Agents", agents_path %></li>
        <% end %>
        <% if can?(:read, Notification) || contributors.length > 1 %>
          <li class="hidden-sm"><%= link_to "Contributors", contributors_path %></li>
        <% end %>
        <% if can?(:read, Notification) || publishers.length > 1 %>
          <li class="hidden-sm"><%= link_to "Publishers", publishers_path %></li>
        <% end %>
        <% if can?(:read, Notification) %>
          <li><%= link_to "Notifications", notifications_path %></li>
        <% end %>
        <%= controller.controller_name == "docs" && controller.action_name != "index" ? '<li class="dropdown active hidden-sm">'.html_safe : '<li class="dropdown hidden-sm hidden-md">'.html_safe %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Support <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% documents.each do |document| %>
              <% if document == "-" %>
                <li class="divider"></li>
              <% else %>
                <li><%= link_to h(document.tr('-', ' ')), "/docs/#{document.downcase}" %></li>
              <% end %>
            <% end %>
            <li class="divider"></li>
            <li><%= link_to "Support Forum", "http://discuss.lagotto.io" %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
