<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= ENV['SITENAMELONG'] %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <% if controller.controller_name == "works" && controller.action_name == "show" && @work %>
    <link rel="alternate" type="application/json+oembed" href="/oembed?url=<%= work_path(@work) %>" title="Work oEmbed Profile" />
    <% end %>

    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic|Source+Code+Pro:400,600' rel='stylesheet' type='text/css'>
    <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <% if ENV['CDN_HOST'] %>
      <link href="//<%= ENV['CDN_HOST'] %>/assets/default.css" rel='stylesheet' type='text/css'>
    <% else %>
      <%= stylesheet_link_tag ENV['MODE'], :media => "all" %>
    <% end %>
    <%= javascript_include_tag "application" %>
    <% if ENV['BUGSNAG_JS_KEY'] %>
      <script
        src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js"
        data-apikey="<%= ENV['BUGSNAG_JS_KEY'] %>">
      </script>
    <% end %>
    <%= render partial: "layouts/#{ENV['MODE']}/head" -%>
  </head>

  <body>
    <%= render partial: "layouts/#{ENV['MODE']}/header" -%>
    <%= render partial: "layouts/#{ENV['MODE']}/navigation" -%>

    <div class="container-fluid">
      <% @flash = flash -%>
      <div id="flash"><%= render :partial => 'layouts/flash' -%></div>
      <%= yield -%>
    </div>

    <%= render partial: "layouts/#{ENV['MODE']}/footer" -%>
  </body>

  <% if ENV['MODE'] != "datacite" %>
    <%= javascript_include_tag 'layouts/index' if controller.controller_name != "index" %>
  <% end %>
</html>
