<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= ENV['SITENAME'] %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <% if controller.controller_name == "works" && controller.action_name == "show" && @work %>
    <link rel="alternate" type="application/json+oembed" href="/oembed?url=<%= work_path(@work) %>" title="Work oEmbed Profile" />
    <% end %>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <% if ENV['OMNIAUTH'] == "persona" %>
      <script src="https://login.persona.org/include.js" type="text/javascript"></script>
      <script type='text/javascript'>
        function loginViaEmail() {
          navigator.id.get(gotAssertion,
          {
            backgroundColor: "#34495e",
            siteName: "<%= ENV['SITENAME'] %>"
          });
        }

        function gotAssertion(assertion) {
          if (typeof assertion !== 'undefined') {
            $('#assertion').val(assertion);
            $('#persona_form').submit();
          } else {
            window.location = "#{root_path}"
          }
        }

        $(function() {
          $('#sign_in_button').click(function() {
            loginViaEmail();
            return false;
          });
        });
      </script>
    <% end %>
  </head>

  <% if controller.controller_name == 'docs' && controller.action_name == "index" %>
    <body id="home">
  <% else %>
    <body>
  <% end %>
    <nav class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to ENV['SITENAME'], root_path, class: "navbar-brand" %>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <%= controller.controller_name == "status" ? '<li class="active">'.html_safe : '<li>'.html_safe %><%= link_to "Status", status_index_path %></li>
          <%= controller.controller_name == "works" ? '<li class="active">'.html_safe : '<li>'.html_safe %><%= link_to "Works", works_path %></li>
          <%= controller.controller_name == "sources" ? '<li class="active">'.html_safe : '<li>'.html_safe %><%= link_to "Sources", sources_path %></li>
          <% if can?(:read, Alert) || publishers.length > 1 %>
            <%= controller.controller_name == "publishers" ? '<li class="active hidden-sm">'.html_safe : '<li class="hidden-sm">'.html_safe %><%= link_to "Publishers", publishers_path %></li>
          <% end %>
          <% if can?(:read, Alert) %>
            <%= controller.controller_name == "users" ? '<li class="active">'.html_safe : '<li>'.html_safe %><%= link_to "Users", users_path %></li>
            <%= controller.controller_name == "alerts" ? '<li class="active">'.html_safe : '<li>'.html_safe %><%= link_to "Alerts", alerts_path %></li>
          <% end %>
          <%= controller.controller_name == "docs" && controller.action_name != "index" ? '<li class="dropdown active hidden-sm hidden-md">'.html_safe : '<li class="dropdown hidden-sm hidden-md">'.html_safe %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Support <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% documents.each do |document| %>
                <% if document == "-" %>
                  <li class="divider"></li>
                <% else %>
                  <li><%= link_to h(document.tr('-', ' ')), doc_path(document.downcase) %></li>
                <% end %>
              <% end %>
              <li class="divider"></li>
              <li><%= link_to "Support Forum", "http://discuss.lagotto.io" %></li>
            </ul>
          </li>
        </ul>
        <% unless ["sessions","registrations"].include?(controller.controller_name) %>
          <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="account_menu_link"><%= current_user.name %> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to '<span class="glyphicon glyphicon-user"></span> Your Account'.html_safe, user_path("me") %></li>
                <li class="divider"></li>
                <li><%= link_to '<span class="glyphicon glyphicon-off"></span> Sign Out'.html_safe, destroy_user_session_path, :method => :delete, :id => "sign_out" %></li>
              </ul>
            </li>
          <% else %>
            <li><%= login_link %></li>
          <% end %>
          </ul>
        <% end %>
        </div>
      </div>
    </nav>

    <div class="container">
      <% @flash = flash -%>
      <div id="flash"><%= render :partial => 'layouts/flash' -%></div>
      <%= yield -%>
    </div>
  </body>
</html>
