<%#
  # $HeadURL$
  # $Id$
  #
  # Copyright (c) 2009-2012 by Public Library of Science, a non-profit corporation
  # http://www.plos.org/
  #
  # Licensed under the Apache License, Version 2.0 (the "License");
  # you may not use this file except in compliance with the License.
  # You may obtain a copy of the License at
  #
  #     http://www.apache.org/licenses/LICENSE-2.0
  #
  # Unless required by applicable law or agreed to in writing, software
  # distributed under the License is distributed on an "AS IS" BASIS,
  # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  # See the License for the specific language governing permissions and
  # limitations under the License.
-%>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    <% unless Rails.env.production? %>
        <%= "(#{Rails.env})"  %>
    <% end %>
    Article Level Metrics
  </title>
  
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->

  <%= favicon_link_tag %>
  <%= stylesheet_link_tag "greenrobo" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
			<div class="container">
			  <a class="brand" href="<%= root_path %>">Article Level Metrics</a>
			  <% if ["articles"].include?(controller.controller_name) and ["index"].include?(controller.action_name) %>
		      <%= form_tag({:controller => controller.controller_name, :action => "index"}, :method => "get", :class => "navbar-search pull-left") do %>
          <%= search_field_tag :query, params[:query], :placeholder => "Search", :class => "search-query" %>
		      <% end %>
        <% end %>
				<ul class="nav">
					<li><%= link_to "Articles", articles_path %></li>
          <li><%= link_to "Sources", sources_path %></li>
        </ul>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><%= link_to "Administration", admin_root_path %></li>
            <li><%= link_to("Sign Out", destroy_user_session_path, :method => 'delete') %></li>
          <% else %>
            <li><%= link_to_setup_or_login %></li>
          <% end %>
	      </ul>
			</div>
		</div>
	</header>

  <div class="container">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">&#215;</a>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      </div>
    <% end %>
    
    <%= yield %>
  </div>

</body>
</html>