-#
  # $HeadURL$
  # $Id$
  #
  # Copyright (c) 2009-2010 by Public Library of Science, a non-profit corporation
  # http://www.plos.org/
  #
  # Licensed under the Apache License, Version 2.0 (the "License");
  # you may not use this file except in compliance with the License.
  # You may obtain a copy of the License at
  #
  #     http://www.apache.org/licenses/LICENSE-2.0
  #
  # Unless required by applicable law or agreed to in writing, software
  # distributed under the License is distributed on an "AS IS" BASIS,
  # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  # See the License for the specific language governing permissions and
  # limitations under the License.
!!! 5
%html{ :lang => "en" }
  %head
    /
      = SOURCE_REVISION
    %meta{ :charset => "utf-8" }
    %title
      = "(#{Rails.env}) " unless Rails.env.production?
      Article Level Metrics
    %link{ :type => "image/x-icon", :href => "/favicon.ico", :rel => "shortcut icon" }
    = stylesheet_link_tag 'plos'
    = javascript_include_tag 'http://code.jquery.com/jquery.min.js'
    = javascript_include_tag 'jquery.corner'
    = yield(:head)
%body{ :class => "#{params[:controller]} #{params[:controller]}-#{params[:action]}" }
  :javascript
    $('.page').corner('10px');
    $('.border').corner('10px');
  %header
    .inner
      %h1 Article Level Metrics
    %nav
      .inner
        %ul
          %li= link_to "Home", root_path, :class => current_page?(root_path) ? 'current' : ''
          |
          -#%li
          -#  = link_to "Docdds", docs_path, :class => current_page?(docs_path(params[:action])) ? 'current' : ''
          |
          %li= link_to "Articles", articles_path, :class => current_page?(articles_path) ? 'current' : ''
          |
          %li= link_to "Sources", sources_path, :class => current_page?(sources_path) ? 'current' : ''
          |
          %li= link_to "Groups", groups_path, :class => current_page?(groups_path) ? 'current' : ''
          %li.login
            - if logged_in?
              = link_to "Logout", logout_path
            - else
              = link_to_setup_or_login
  #content
    .inner
      - [ :error, :notice, :warning, :message ].each do |name|
        - if flash[name]
          .flash{ :id => name, :class => name }
            %span= flash[name]

      = yield

  /
    = (File.read("REVISION") rescue "development").strip
