<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    <% unless Rails.env.production? %>
        <%= (Rails.env)  %>
    <% end %>
    Article Level Metrics
  </title>

  <!-- TODO favicon -->
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

</head>

<body class="<%= "#{params[:controller]} #{params[:controller]}-#{params[:action]}" %>" >
<%= javascript_tag do -%>
    $('.page').corner('10px');
    $('.border').corner('10px');
<% end -%>

<header>
  <div class='inner'>
    <h1>Article Level Metrics</h1>
  </div>
  <nav>
    <div class='inner'>
      <ul>
        <li><%= link_to("Home", root_path, :class => current_page?(root_path) ? 'current' : '') %></li>
        |
        <li><%= link_to("Articles", articles_path, :class => current_page?(articles_path) ? 'current' : '') %></li>

      </ul>
    </div>
  </nav>
</header>

<div id='content'>
  <div class='inner'>
    <!-- TODO flash -->
    <%= yield %>
  </div>
</div>

</body>

</html>
