<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head><!-- <%= SOURCE_REVISION %> -->
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= "(#{Rails.env}) " unless Rails.env.production? %>PLoS Article Level Metrics</title>
  <%= stylesheet_link_tag 'plos_screen.20070116' %>
  <%= javascript_include_tag 'dojo/dojo.js', 'init_navigation.js' %>
  <link type="image/x-icon" href="favicon.ico" rel="shortcut icon"/>
  <script type="text/javascript">
    <%= @content_for_page_scripts %>
  </script>
  <style>
  #home h1 {
    background-color: white;
  }
  </style>
</head>
<body bgcolor="#cccccc" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
  <table id="container" cellspacing="0" cellpadding="0">
    <%# Row 1 -%>
    <tr>
      <td id="hdr">
        <a href="http://www.plos.org/index.php" alt="PLoS: Public Library of Science"><img src="/images/template/header.png" /></a>
      </td>
    </tr>
    <%# Row 2 -%>
    <tr>
      <td>
        <%# Start: REVISED Navigation HTML -%>
        <div id="navcontainer">
          <ul id="nav">
            <li class="none"><%= link_to "Articles", articles_url, :title => "Articles", :tabindex => "102" %></li>
            <li class="none"><%= link_to "Sources", sources_url, :title => "Sources", :tabindex => "103" %></li>
            <li class="none"><%= link_to "Groups", groups_url, :title => "Group", :tabindex => "104" %></li>
            <% if logged_in? %>
            <li class="none" style="float: right"><%= link_to "Logout", logout_url, :title => "Login", :tabindex => "105" %></li>
            <% else %>
            <li class="none" style="float: right"><%= link_to "Login", login_url, :title => "Login", :tabindex => "105" %></li>
            <% end %>
          </ul>
        </div>
        <%# End: REVISED Navigation HTML -%>
      </td>
    </tr>

    <%# Row 3 -%>
    <tr>
      <td id="home">
        <div id="col1" style="width: 90%">
        <% for name in [ :error, :notice, :warning, :message ] %>
          <% if flash[name] %>
            <div id="<%=name %>" class="flash <%= name %>">
              <%= flash[name] %>
            </div>
          <% end %>
        <% end %>
        <%= yield %>
        </div>
      </td>
    </tr>
  </table>
  <!-- <%= (File.read("REVISION") rescue "development").strip %> -->
</body>
</html>
